<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:inline="javascript">
//# sourceURL=click.js
//------------Deleting Slides-------------------
function deleteSlide(slideId) {
    $.ajax({
        url: "[(@{'/staff/module/'+${module.id}+'/slide/'})]"+ slideId+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
        type: 'DELETE',
        cache       : false,
        contentType : false,
        success: function(data) {
            console.log(slideId);
            $("#"+slideId).closest('.slide').remove();
        },
        error: function(data) {
            var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            $('.error').append(alert);
        }
    });
} 

function checkSlideInSequence(slideId) {
	$.ajax({
        url: "[(@{'/staff/module/'+${module.id}+'/slide/'})]"+slideId+'/sequences?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
        type: 'GET',
        cache       : false,
        contentType : false,
        success: function(data) {
            if(data.length > 0){
                
                $("#orderedList").empty();
                $.each(data, function (index, sequenceData) {
                    $('#orderedList').append("<li>"+sequenceData.name+"</li>");
                });
                $('#deleteSlideAlert').modal('show'); // popup #myModal id modal
                $("#deleteSlideAlert").data('value', slideId); // setter
            }
            else{
              deleteSlide(slideId);
              }	
            }
    });
}

function loadSlidesInSequences(sequenceId) {
		console.log(sequenceId);
		var moduleId=[[${module.id}]];
		$('.slidesInSeq').empty();
		$.ajax({
			type: "GET",
			url: "[(@{'/staff/module/'+${module.id}+'/sequence/'})]"+sequenceId+'/slides?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
			async: false,
			success: function(response) {
				$.each(response, function (index, slide) {
				    console.log(slide.id);
				    console.log(slide.name);
					$('.slidesInSeq').append(
							'<a class="dropdown-item" href="/vspace/staff/module/[(${module.id})]/slide/'+slide.id+'">'+slide.name+'</a>'
						);
					});
				}
		});
}

$(document).ready(function($) {
	
	$("#addSlideButton").on("click", function(e) {
		$("#createSlideAlert").show();
	});
	
    $("#closeSlide").click(function (){
        $("#deleteSlideAlert").data('value', 0);
        $('#deleteSlideAlert').modal('hide'); 
	});
	
    $("#cancelSlideDelButton").click(function () {
        $("#deleteSlideAlert").data('value', 0);
        $("#deleteSlideAlert").modal('hide');
	});
	
	
	$(".sequence").on("click", function(e) {
	    var sequenceId = this.id;
	    loadSlidesInSequences(sequenceId);
	});
	
	$("#deleteSlideFromSequence").on("click", function() {
		$('#deleteSlideAlert').modal('hide');
		var slideId = $("#deleteSlideAlert").data('value'); // getter
		deleteSlide(slideId);
	});
	
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
				
});

</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">
    
    	<div class="flex-spacing" style="margin: -28px;"> 
    		<div>
    			<h2>
				<span style="color: var(--dark-grey)">Module:</span> [[${module.name}]]
				<i class="fa fa-info-circle black" data-toggle="tooltip" data-html="true" data-placement="top"
				    	th:title="|Created on <span class='date'>${module.creationDate}</span> by ${module.createdBy}|"></i>
				</h2>
				<p>[[${module.description}]]</p>
    		</div>
	
			<div style="padding-bottom: 10px;" th:if="${sequences.size() > 0}">        
		        <form th:action="@{'/staff/module/'+${module.id}+'/sequence/start'}" method ="POST" name="f">
		             <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<p>Select the start sequence of the Module</p>
					<select class="form-control col-md-8" name="sequenceParam" style="display: inline-block !important">
						<option th:value="Select" th:text="Select"></option>
		                <option th:each="sequences: ${sequences}" th:value=${sequences.id} th:selected="${sequences==module.startSequence}">[[${sequences.name}]]</option>
		            </select>
		            <button type="submit" class="btn primary-btn">Submit</button>
				</form>
			</div>
    	</div>
    	
    	<div class="tab">
    		<div style="display: flex; justify-content: space-between">
				<h4>Sequences</h4>
				<a th:href="@{${module.id}+'/sequence/add'}" class="btn primary-btn btn-sm" >+ New Sequence</a>				
			</div>
            
            <div id="list" style="margin-top: 0">
            <ul class="list-group list-group-flush" th:each="sequence: ${sequences}">
               <li class="list-group-item"><a th:href="@{'/staff/module/'+${module.id}+'/sequence/'+${sequence.id}}">
                   <span><i class="fas fa-th-large" aria-hidden="true"></i></span>&emsp;[[${sequence.name}]]</a>
                   (Created on <span class="date">[[${sequence.creationDate}]]</span>
                   by [[${sequence.createdBy}]])
               </li>
            </ul>
        </div>
			
    	</div>
        
        <div class="tab" style="margin-top: 10px">
            <div style="display: flex; justify-content: space-between">
                <h4>All Slides</h4>
                <!-- Commenting as this is planned for future development -->
                <!-- <button class="btn" style="background: var(--base-grey)"><i class="fas fa-filter black"></i></button> -->
                <a th:href="@{${module.id}+'/slide/add'}" class="btn primary-btn btn-sm" >+ New Slide</a>
            </div>
            <div class="grid" id="grid" style="margin-top: 10px;">
                <div th:each="slide: ${slides}" class="btn-group dropdown slide" th:id="${slide.id}">
                    <a th:href="@{'/staff/module/'+${module.id}+'/slide/'+${slide.id}}" class="btn btn-light" style="width: 10rem;">
                        <span class="card-head" style="white-space: pre-wrap;">[[${slide.name}]]</span>
                        <i class="fas fa-code-branch" th:if="${#strings.equals(slide['class'].simpleName,'BranchingPoint')}" style="margin-left: 20px"></i><br> 
                        <span class="card-text" style="white-space: pre-wrap; max-height: 70px; overflow-y: scroll; display: inline-block;">[[${slide.description}]]</span>
                    </a>
                    <button type="button" class="btn btn-light dropdown-toggle-split checkSlideInSequence" data-toggle="modal" th:attr="data-target='#slide-modal'"
                        th:onclick="javascript:checkSlideInSequence([[${slide.id}]]);">
                        <i class="fas fa-trash-alt" style="color: var(--error)"></i>
                    </button>
                </div>
            </div>              
        </div>
			
		<div id="deleteSlideAlert" class="modal fade" role="dialog"
		    data-value="0">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title" id="deleteModalTitle">Confirm
		                    Deletion?</h4>
		                <button type="button" id="closeSlide" class="close"
		                    data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
		            </div>
		            <div class="modal-body">
		                <p>
		                    This Slide is a part of Sequences shown below. Are you sure you want to delete it?
		                </p>
		                <ol id="orderedList">
		                </ol>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="cancelSlideDelButton"
		                    class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button id="deleteSlideFromSequence" type="submit"
		                    class="btn btn-danger btn-ok checkSlideInSequence">Delete</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>
