<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:inline="javascript">
//# sourceURL=click.js
//------------Deleting Slides-------------------
function deleteSlide(slideId) {
    $.ajax({
        url: "th:href='/staff/module/'+${module.id}+'/slide/'+ slideId}",
        type: 'DELETE',
        cache       : false,
        contentType : false,
        success: function(data) {
            $("#"+slideId).closest('.slide').remove();
        },
        error: function(data) {
            var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            $('.error').append(alert);
        }
    });
} 

function checkSlideInSequence(slideId) {
	$.ajax({
        url: "th:href='/staff/module/'+${module.id}+'/slide/'+ slideId + '/sequences' + '?${_csrf.parameterName}=${_csrf.token}'",
        type: 'GET',
        cache       : false,
        contentType : false,
        success: function(data) {
            if(data.length > 0){
                $("ol").empty();
                $.each(data, function (index, sequenceData) {
                    $('ol').append("<li>"+sequenceData.name+"</li>");
                    });
                $('#deleteSlideAlert').modal('show'); // popup #myModal id modal
                $("#deleteSlideAlert").data('value', slideId); // setter
            }
            else{
              deleteSlide(slideId);
              }	
            }
    });
}

function loadSlidesInSequences() {
    $('.sequence').click(function(e) {
	    $(".slide").css({ 'border' : ''});
		$(".sequence").css({ 'border' : ''});
		$(this).css("border", "solid #c1bb88");
		var sequenceId = this.id;
		console.log(sequenceId);
		$('#selectedSequence').empty();
		$.ajax({
			type: "GET",
			url: "[(@{'/staff/module/'+${module.id}+'/sequence/'})]"+sequenceId+'/slides',
			async: false,
			success: function(response) {
			    console.log(response);
				$.each(response, function (index, slide) {
				    console.log(slide.id);
					$('#selectedSequence').append(''+
							'<div class="card sequence" style="max-width: 18rem; margin-bottom:10px;">'+
							'<div align="left" class="card-body">'+
							'<a href="<c:url value="/staff/module/${module.id}/slide/"/>'+slide.id+'" >'+
							'<h5 class="card-title">'+slide.name+'</h5>'+
							'<p class="card-text">'+slide.description+'</p>'+'</a>'+
							'</div></div>');
					});
				}
		});
	});
}

$(document).ready(function($) {
	
	$("#addSlideButton").on("click", function(e) {
		$("#createSlideAlert").show();
	});
	
    $("#closeSlide").click(function (){
        $("#deleteSlideAlert").data('value', 0);
        $('#deleteSlideAlert').modal('hide'); 
	});
	
    $("#cancelSlideDelButton").click(function () {
        $("#deleteSlideAlert").data('value', 0);
        $("#deleteSlideAlert").hide();
	});
	
	
	$(".sequence").on("click", function(e) {
	    loadSlidesInSequences();
	});
	
	$(".slide").on("click", function(e) {
	    $(".slide").css({ 'border' : ''});
		$(this).css("border", "solid #c1bb88");
		var slideId = this.id;
		console.log(slideId);
		$('#allSequences').empty();
		$.ajax({
			type: "GET",
			url: "th:href='/staff/module/'+${module.id}+'/slide/'+slideId+'/sequences'",
			async: false,
			success: function(response) {
				$.each(response, function (index, sequence) {
					$('#allSequences').append('<div id='+sequence.id+' class="card sequence" style="max-width: 18rem; margin-bottom:10px;">'+
							'<div align="left" class="card-body">'+
							'<a href="<c:url value="/staff/module/${module.id}/sequence/"/>'+sequence.id+'" >'+
							'<span style="float: right"><i class="fa fa-eye"></i></span></a>'+
							'<font color="#796d05"><h5 class="card-title">'+sequence.name+'</h5>'+
							'<p class="card-text">'+sequence.description+'</p></font>'+
							'</div></div>');
					});
            
				}
		});
		loadSlidesInSequences();
	});
	
	$(".showAllSequences").on("click", function(e) {
	    $(".slide").css({ 'border' : ''});
	    $(".sequence").css({ 'border' : ''});
		var slideId = this.id;
		console.log(slideId);
		$('#allSequences').empty();
		
		loadSlidesInSequences();
	});

	
	$("#deleteSlideFromSequence").on("click", function() {
		$('#deleteSlideAlert').modal('hide');
		var slideId = $("#deleteSlideAlert").data('value'); // getter
		deleteSlide(slideId);
	});
				
});

</script>
</head>
<body>
    <div class="justify-content-left" layout:fragment="content">
<h3>Module: [[${module.name}]]</h3>
<h4>Description: [[${module.description}]]</h4>
<div id="message" style="text-align:center; color:#008000"></div>
<div class="alert alert-light" role="alert">
	Created on <span class="date">[[${module.creationDate}]]</span> by
	[[${module.createdBy}]]. <br> Modified on <span class="date">[[${module.modificationDate}]]</span>
	by [[${module.modifiedBy}]].
</div>

	<div style="padding-bottom: 10px;" th:if="${sequences.size() > 0}">
        
        <form th:action="@{'/staff/module/'+${module.id}+'/sequence/start'}" method ="POST" name="f" class="form-horizontal">
             <input type="hidden" name="${_csrf.parameterName}"
                        value="${_csrf.token}" />
			<label for="sequences" style="width: 200px">Select the start
				sequence of the Module:</label>
			<select class="form-control" name="sequenceParam"
				style="width: 200px; display: inline;">
				<option th:value="Select" th:text="Select"></option>
                <option th:each="sequences: ${sequences}" th:value=${sequences.id} th:selected="${sequences==module.startSequence}">[[${sequences.name}]]</option>
            </select>
			<p style="display: inline; padding-left: 10px; padding-top: 1000px;">
                <button type="submit" class="btn primary-btn">Submit</button>
			</p>
		</form>
	</div>

<div id="result"></div>
<div class="container" id="header" style="margin-bottom:10px;">
	<div class="row">
		<div class="col justify-content-center">
			<div class="card-header sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
				<span style="float: left; font-size: medium; padding-top: 3px;">SLIDES</span>
				<a class="d-flex align-items-center text-muted"
					th:href="@{${module.id}+'/slide/add'}"> <span><i
                            class="fas fa-plus-circle"></i></span></a>
			</div>
		</div>
		<div class="col">
			<div class="card-header sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
				<span style="float: left; font-size: medium; padding-top: 3px;">SEQUENCES</span>
                <div style="display: inline-flex;">
                <a class="showAllSequences" href="#" style="padding-right: 9px;">
                    show All</a>
				<a class="d-flex align-items-center text-muted"
					th:href="@{${module.id}+'/sequence/add'}"> <span><i
                            class="fas fa-plus-circle"></i></span></a>
                </div>
			</div>
		</div>
		<div class="col">
			<div class="card-header sidebar-heading d-flex align-items-center px-3 mt-4 mb-1">
				<span style="float: left; font-size: medium; padding-top: 3px;">SLIDES IN
					SEQUENCE</span> <span id="startSequence"
					style="float: right; padding-top: 3px;"></span>
			</div>
		</div>
	</div>
	<div class="container" id="table">
        <div class="row">
            <div class="col justify-content-center" style="padding-left: 30px;">
                <div th:each="slide: ${slides}">
                    <div th:id="${slide.id}" class="card slide" style="max-width: 18rem; margin-bottom:10px;">
                        <div id="slideDesc" align="left" class="card-body d-flex" style="position: relative;">
                        <!-- th:style="${!#strings.isEmpty(slide.description) ? 'overflow: scroll; max-height: 300px'}"> -->
                                   <div style="padding-bottom: 32px; padding-right: 2px;" 
                                   th:if="${#strings.equals(slide['class'].simpleName,'BranchingPoint')}"><span id="branchingPoint" style="float: right;"><i class="fa fa-code-fork"></i></span></div>
                             <font color="#796d05"><h5 class="card-title">[[${slide.name}]]</h5>
                            <p class="card-text">[[${slide.description}]]</p></font>					
                            <div class='block2' style="width: 40px; position: absolute; top: 6px; right:6px;">
                            <a th:id="${slide.id}" href="javascript:checkSlideInSequence('${slide.id}')" class="checkSlideInSequence" data-target="#slide-modal" style="float: right;"><span style="float: right;" data-feather="trash-2"></span></a>
                            <a th:href="@{'/staff/module/'+${module.id}+'/slide/'+${slide.id}}"><span style="float: right; padding-right: 7px;"><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col justify-content-center" id="allSequences" style="padding-left: 65px;">
                <div th:each="sequence: ${sequences}">
                    <div th:id="${sequence.id}" class="card sequence" style="max-width: 18rem; margin-bottom:10px;">
                    <div align="left" class="card-body">
                        <a th:href="@{'/staff/module/'+${module.id}+'/sequence/'+${sequence.id}}"><span style="float: right"><i class="fa fa-eye"></i></span></a>
                        <font color="#796d05"><h5 class="card-title">[[${sequence.name}]]</h5>
                        <p class="card-text">[[${sequence.description}]]</p></font>	
                    </div>
                    </div>
                </div>
            </div>
            <div id="selectedSequence" class="col justify-content-center" style="padding-left: 60px; padding-right:20px;"></div>
         </div>
    </div>
</div>
</div>

<div id="deleteSlideAlert" class="modal fade" role="dialog"
    data-value="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalTitle">Confirm
                    Deletion?</h4>
                <button type="button" id="closeSlide" class="close"
                    data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>
                    This Slide is a part of Sequences shown below. Are you sure you want to delete it?
                </p>
                <ol>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelSlideDelButton"
                    class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="deleteSlideFromSequence" type="submit"
                    class="btn btn-danger btn-ok checkSlideInSequence">Delete</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
