<html layout:decorate="~{layouts/main_staff}">
<head>
	<script>
		$(document).ready(function() {
	        $("#grid").hide();
	        $("#list-btn").hide();
	        
	        $(function () {
	  		  $('[data-toggle="tooltip"]').tooltip()
	  		});
	    });
	    
	    function list() {
	    	$("#list").show();
	    	$("#grid").hide();
	    	$("#list-btn").hide();
	    	$("#grid-btn").show();
	    }
	    
	    function grid() {
	    	$("#list").hide();
	    	$("#list-btn").show();
	    	$("#grid-btn").hide();
	    	$("#grid").show();
	    }
	</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">
    	<a th:href="@{/staff/module/add}" class="btn primary-btn btn-sm" style="float: right">+ New Module</a>
        <h2>Modules</h2>
        <div>This virtual exhibition contains the following modules.</div>
        
        <div style="text-align: right">
        	<button class="btn btn-sm" onclick="list()" style="background: white; margin-right: 15px" id="list-btn">
        		<i class="fas fa-list-ul black" style="position: relative; padding-top: 12%;"></i></button>
        	<button class="btn btn-sm" onclick="grid()" style="background: white; margin-right: 15px" id="grid-btn">
        		<i class="fas fa-th" style="position: relative; padding-top: 12%;"></i></button>
            <!-- Added for future development -->
        	<!-- <button class="btn" style="background: white"><i class="fas fa-filter black"></i></button> -->
        </div>
        
        <div class="grid" id="grid">

			<div th:each="module: ${vspaceModules}" class="btn-group">
                <div class="btn-group" style="width: 11.75rem;">
				<a th:href="@{'/staff/module/'+${module.id}}" class="btn btn-light" style="width: 10rem;">
					<span class="card-title" style="white-space: pre-wrap; line-break: anywhere; font-size: 1.25rem;">[[${module.name}]]</span>
                    <br>
                    <span style="white-space: pre-wrap; line-break: auto; max-height: 50px; overflow-y: scroll; display: inline-block;">[[${module.description}]]</span>
                    </a>
					<button type="button" class="btn btn-light"> <i class="fa fa-info-circle black" data-toggle="tooltip" data-html="true" data-placement="top"
                        th:title="|Created on <span class='date'>${module.creationDate}</span> by ${module.createdBy}|"></i></button>
                
                </div>
			</div>
		</div>
		<div id="list" style="margin-top: 15px;">
			<ul class="list-group list-group-flush" th:each="module: ${vspaceModules}">
               <li class="list-group-item"><a th:href="@{'/staff/module/'+${module.id}}">
                   <span><i class="fas fa-th-large" aria-hidden="true"></i></span>&emsp;[[${module.name}]]</a>
                   (Created on <span class="date">[[${module.creationDate}]]</span>
                   by [[${module.createdBy}]])
               </li>
        	</ul>
		</div>
    </div>
</body>
</html>



