.Home_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1280px;
	height: 720px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden; -
}

.Home__Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 350px;
	top: 133px;
	overflow: visible;
}

.Home__Image__Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 400px;
	top: 133px;
	overflow: visible;
}

.Ellipse_5 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_ionic_md_home_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px;
	overflow: visible;
}

.Icon_ionic_md_home_ {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Map_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 350px;
	top: 607px;
	overflow: visible;
}

.Ellipse_6 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_awesome_map_Class {
	position: absolute;
	width: 24px;
	height: 18.667px;
	left: 10px;
	top: 13px;
	overflow: visible;
}

.Icon_awesome_map_ {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 18.667px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Bottom_nav_Class {
	position: absolute;
	width: 590px;
	height: 85px;
	left: 550px;
	top: 740px;
	overflow: visible;
}

.Rectangle_10_Class {
	opacity: 0.2;
}

.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 590px;
	height: 85px;
	left: 0px;
	top: 0px;
}

.Share_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 309px;
	top: 24px;
	overflow: visible;
}

.Ellipse_7 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_awesome_share_alt_Class {
	position: absolute;
	width: 21px;
	height: 24px;
	left: 12px;
	top: 10px;
	overflow: visible;
}

.Icon_awesome_share_alt_be {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Full_screen_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 516px;
	top: 24px;
	overflow: visible;
}

.Ellipse_2 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_material_zoom_out_map_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px;
	overflow: visible;
}

.Icon_material_zoom_out_map_bi {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Zoom_out_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 378px;
	top: 24px;
	overflow: visible;
}

.Ellipse_3 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_metro_zoom_out {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Zoom_in_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 447px;
	top: 24px;
	overflow: visible;
}

.Ellipse_4 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_metro_zoom_in {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Back_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 28px;
	top: 24px;
	overflow: visible;
}

.Ellipse_1 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}

.Icon_ionic_md_arrow_round_back_Class {
	position: absolute;
	width: 24px;
	height: 22.639px;
	left: 10px;
	top: 11px;
	overflow: visible;
}

.Icon_ionic_md_arrow_round_back_bs {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 22.639px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.Dialogue_on_Mount__Olympus_Class {
	opacity: 0;
	position: absolute;
	left: 793.251px;
	top: 160.443px;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1px;
	color: rgba(150, 45, 62, 1);
}

.Component_31___1_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 1229px;
	top: 16px;
	overflow: visible;
}

.Mask_Group_9_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer; -
	-web-animation: slide-in 0.3s ease-out forwards; -
	-web-action-type: view; -
	-web-action-target: Language_options;
}

#wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#slide_sidebar {
	min-width: 250px;
	max-width: 250px;
	transition: all 0.3s;
}

#slide_sidebar.active {
	margin-left: -250px;
}

#slide_sidebar .slide_sidebar-header {
	padding: 10px;
}

.slide_sidebar-header h3 a:hover {
	color: #7386D5;
	background: #fff;
}

#slide_sidebar ul li {
	padding-left: 35px;
}

#slide_sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#slide_content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

@media ( max-width : 768px) {
	#slide_sidebar {
		margin-left: -250px;
	}
	#slide_sidebar.active {
		margin-left: 0;
	}
	#slide_sidebarCollapse span {
		display: none;
	}
}