.mediaViewInfo {
	--web-view-name: Module 1 - slideshow – 1;
	--web-view-id: Module_1___slideshow___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Module_1___slideshow___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Module_1___slideshow___1_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1280px;
	height: 720px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Module 1 - slideshow – 1;
	--web-view-id: Module_1___slideshow___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes slide-in {

	0% {
		transform: translateX(-100%);
	}

}
@keyframes slide-in {

	0% {
		transform: translateY(-100%);
	}

}
.On_the_Shoulders_of_Giants_and_Class {
	position: absolute;
	left: 288px;
	top: 63px;
	overflow: visible;
	width: 513px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Component_19___6_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 20px;
	top: 286px;
	overflow: visible;
}
.Ellipse_2 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}
.Icon_material_slideshow {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 705px;
	height: 433px;
	left: 288px;
	top: 117px;
}
.Group_7_Class {
	position: absolute;
	width: 942px;
	height: 72px;
	left: 169px;
	top: 297px;
	overflow: visible;
}
.Slideshow_previous_Class {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_11 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
.Icon_ionic_ios_arrow_back {
	overflow: visible;
	position: absolute;
	width: 20.021px;
	height: 35.021px;
	left: 24.456px;
	top: 18.968px;
	transform: matrix(1,0,0,1,0,0);
}
.slideshow_next_Class {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 870px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Module_1___slideshow_2___1.html;
	cursor: pointer;
}
.Ellipse_12 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
.Icon_ionic_ios_arrow_forward {
	overflow: visible;
	position: absolute;
	width: 20.021px;
	height: 35.017px;
	left: 28.156px;
	top: 18.844px;
	transform: matrix(1,0,0,1,0,0);
}
.Back_to_first_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 20px;
	top: 198px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Module_1___1.html;
	cursor: pointer;
}
.Ellipse_5 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}
.Icon_material_first_page {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 17.405px;
	left: 13px;
	top: 13px;
	transform: matrix(1,0,0,1,0,0);
}
.Slide_1_14_Class {
	position: absolute;
	left: 1024px;
	top: 117px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
.Icon_open_menu_Class {
	position: absolute;
	width: 24px;
	height: 22.286px;
	left: 20px;
	top: 20px;
	overflow: visible;
	cursor: pointer;
	--web-animation: slide-in 0.3s ease-out forwards;
	--web-action-type: page;
	--web-action-target: Module_2_menu_slide_out.html;
}
.Icon_open_menu_bc {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 22.286px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Map_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 20px;
	top: 607px;
	overflow: visible;
}
.Ellipse_6 {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}
.Icon_awesome_map_Class {
	position: absolute;
	width: 24px;
	height: 18.667px;
	left: 10px;
	top: 13px;
	overflow: visible;
}
.Icon_awesome_map_bg {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 18.667px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
._DigInG_Class {
	position: absolute;
	left: 1206px;
	top: 693px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Component_31___15_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 1229px;
	top: 16px;
	overflow: visible;
}
.Mask_Group_9_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
	--web-animation: slide-in 0.3s ease-out forwards;
	--web-action-type: page;
	--web-action-target: Language_options.html;
}
.Image_14_Class {
	position: absolute;
	width: 266px;
	height: 433px;
	left: 288px;
	top: 117px;
	overflow: visible;
}
.Experimental_demonstration__Ph_Class {
	position: absolute;
	left: 570px;
	top: 139px;
	overflow: visible;
	width: 410px;
	height: 468px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
.exit_to_space_Class {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 20px;
	top: 110px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: New_image.html;
	cursor: pointer;
}
.Ellipse_5_bp {
	filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 104px;
	left: 0px;
	top: 0px;
}
.Icon_awesome_angle_double_left {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 19.269px;
	left: 10px;
	top: 12px;
	transform: matrix(1,0,0,1,0,0);
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	/* top right corner of the sidebar */
	top: 10px;
	right: 10px;
}

#wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#slide_sidebar {
	min-width: 250px;
	max-width: 250px;
	transition: all 0.3s;
}

#slide_sidebar.active {
	margin-left: -250px;
}

#slide_sidebar .slide_sidebar-header {
	padding: 10px;
}

.slide_sidebar-header h3 a:hover {
	color: #7386D5;
	background: #fff;
}

#slide_sidebar ul li {
	padding-left: 35px;
}

#slide_sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#slide_content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

@media ( max-width : 768px) {
	#slide_sidebar {
		margin-left: -250px;
	}
	#slide_sidebar.active {
		margin-left: 0;
	}
	#slide_sidebarCollapse span {
		display: none;
	}
}

.scroll {
	overflow-x: hidden;
	overflow-x: auto;
}