.Module_1_Class {
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 720px;
}

.Group_8_Class {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.Module_header_Class {
    left: 604px;
    top: 78px;
    overflow: visible;
}

.Space_link_Class {
    position: absolute;
    left: 1166px;
    top: 11px;
    overflow: visible;
    color: blue;
    font-size: larger;
}

.SLideshow_option_Class {
    position: absolute;
    width: 43.846px;
    height: 44px;
    left: 1026px;
    top: 117px;
    overflow: visible; -
    -web-animation: fadein 0.3s ease-out; -
    -web-action-type: page; -
    -web-action-target: Module_1___slideshow.html;
    cursor: pointer;
}

.Ellipse_2 {
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 103.846px;
    height: 104px;
    left: 0px;
    top: 0px;
}

.Icon_ionic_md_play_circle {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Ellipse_5 {
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 104px;
    left: 0px;
    top: 0px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-nav>li>a {
    padding-top: 0px;
}

.navbar-nav>li button {
    padding-top: 0px;
    padding-bottom: 5px;
    line-height: 18px;
}

.barPosition {
    position: absolute;
    color: dimgrey;
    padding-left: 1%;
}

.backtoSpace {
    position: absolute;
    display: flex;
    left: 3%;
    top: 20%;
    margin: auto;
}

.Ellipse_5_be {
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 46px;
    height: 45px;
    left: 0px;
    top: 0px;
    height: 45px;
}

.Icon_awesome_angle_double_left {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 19.269px;
    left: 8px;
    top: 8px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: rgba(0, 0, 0, .5);
}

.exit_to_space_Class {
    position: absolute;
    width: 50px;
    height: 44px;
    left: 4%;
    top: 30%;
    overflow: visible;
    cursor: pointer;
}

.exit_to_branchingPoint_Class {
    position: absolute;
    width: 50px;
    height: 44px;
    left: 4%;
    top: 40%;
    overflow: visible;
    cursor: pointer;
}

.exit_to_previousChoice_Class {
    position: absolute;
    width: 50px;
    height: 44px;
    left: 4%;
    top: 50%;
    overflow: visible;
    cursor: pointer;
}

.sideLangnav {
    height: 1000px;;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: #fff;
    transition: 0.5s;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.19);
    padding-top: 60px;
}

.sideLangnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideLangnav a:hover {
    color: #f1f1f1;
}

.sideLangnav .closebtn {
    position: absolute;
    top: 11px;
    right: 7px;
    margin-left: 50px;
}

.emptyPlace{
    /* min-height: 100%; */
    height: 700px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -38px;
    top: 46px;
    background: rgba(0, 0, 0, 0.6);
}

.exit_to_space_Class:hover .tooltiptext {
    visibility: visible;
}

.exit_to_branchingPoint_Class:hover .tooltiptext {
    visibility: visible;
}

.exit_to_previousChoice_Class:hover .tooltiptext {
    visibility: visible;
}

.textBlock{
    color: white;
    font-size: 12px padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}