<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>
$(document).ready(function() {
	var vals = []
	var spaces = []
	
	$('#ordered-spaces').multiSelect({
		keepOrder : true,
		dblClick : true,
		afterInit : function(container) {
			$("#ordered-spaces").find("option").each(function() {
				vals.push($(this).val());
			});
			$(".ms-selection ul").find("li").each(function(index) {
				$(this).attr('value', vals[index]);
			});
		},
		afterSelect : function(value) {
			spaces = [];
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				spaces.push($(this).attr('value'));					
			});
			$("#orderedSpaces").val(spaces);
		},
		afterDeselect : function(value, text) {
			for (var i=spaces.length-1; i>=0; i--) {
    			if (String(spaces[i]) === String(value)) {
    				spaces.splice(i, 1);
    				break;
        		}
    		}
			$("#orderedSpaces").val(spaces); 
		}
	})
	$('.ms-selection ul').sortable({
		distance : 5,
		stop : function(event, ui) {
			var new_val = []
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				new_val.push($(this).attr('value'));					
			});
			$("#orderedSpaces").val(new_val);
		}
	});
	
});
</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">
        <h2>Add New Custom Order</h2>
        <form th:action="@{'/staff/spaceordering/customorder'}" method="POST" name="f" style="margin-top:40px">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="name">Order Name</label>
                <input placeholder="Name" class="form-control col-md-10" type="text" id="name" name="name" />
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="description">Order Description</label>
                <textarea placeholder="Description" rows="5" class="form-control col-md-10" id="description" name="description"></textarea>
            </div>
            <div class="form-group row">
                <label for="Slides">Select Spaces<br>(Double click to select &nbsp; <br>and drag to reorder)</label> 
                <select multiple="multiple" id="ordered-spaces">
                    <option th:each="space: ${spaces}" th:value=${space.id} th:id=${space.id}>[[${space.name}]]</option>
                </select> 
                <input type="hidden" id="orderedSpaces" name="orderedSpaces"></input>
            </div>
            <button type="submit" id="newSpaceOrder" class="btn primary-btn">Create Custom Order</button>
        </form>
    </div>
</body>
</html>