<html layout:decorate="~{layouts/main_staff}">
<head>
	<script>
		$(document).ready(function() {

	        $("#grid").hide();
	        $("#list-btn").hide();
	        
	        $(function () {
	  		  $('[data-toggle="tooltip"]').tooltip()
	  		});
	    });
	    
	    function list() {
	    	$("#list").show();
	    	$("#grid").hide();
	    	$("#list-btn").hide();
	    	$("#grid-btn").show();
	    }
	    
	    function grid() {
	    	$("#list").hide();
	    	$("#list-btn").show();
	    	$("#grid-btn").hide();
	    	$("#grid").show();
	    }
	</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">
    	<a th:href="@{/staff/spaceordering/add}" method="GET" class="btn primary-btn btn-sm" style="float: right">+ New Order</a>
        <h2>Custom Orders for Spaces</h2>
        <div>This virtual exhibition contains the following custom orders for spaces.</div>
        
        <div style="text-align: right">
        	<button class="btn btn-sm" onclick="list()" style="background: white; margin-right: 15px" id="list-btn">
        		<span class="icon-bulleted-list"></span></button>
        	<button class="btn btn-sm" onclick="grid()" style="background: white; margin-right: 15px" id="grid-btn">
        		<span class="icon-grid-block"></span></button>
        </div>
        <div class="tab sequences" style="margin-top: 0;">
        
        <div style="display: flex; justify-content: space-between">
				<h4>Custom Orders</h4>			
			</div>
      <div id="list" style="margin-top: 0">
            <ul class="list-group list-group-flush" th:each="order: ${customSpaceOrders}">
               <li class="list-group-item"><a th:href="@{'/staff/spaces/customorder/'+${order.id}}">
                   <span class="icon-2x2-grid"></span>&emsp;[[${order.name}]]</a>
               </li>
            </ul>
        </div>
        
    </div>
    </div>
</body>
</html>



