<html layout:decorate="~{layouts/main_staff}">
<head>
	<style>
		.customOrderContainer {
			background: white; 
			padding: 25px;
		}
		.newOrder {
			float: right;
		}
		.customOrderText {
			padding-bottom:10px;
		}
		.successMsgAdded {
			position: absolute;
   			top: 8%;
   			width: 65%;
   			display:none;
		}
	</style>
	<script>
		$(document).ready(function() {
			if(localStorage.getItem("prevUrl").includes("/space/order/add")) {
				$("#successText").text("Custom Order has been successfully added.");
				showSuccessPopUp();
				localStorage.setItem("prevUrl", "");
			} else if(localStorage.getItem("changedCustomOrder") == "true") {
				$("#successText").text("Custom order has been successfully changed.");
				showSuccessPopUp();
				localStorage.setItem("changedCustomOrder", false);
			}
	        
	        $(function () {
	  		  $('[data-toggle="tooltip"]').tooltip()
	  		});
	        
	        $("#closeAlertAdded").click(function() {
				$("#successMsgAdded").hide();
			});
	        $("#selectCustomOrder").click(function() {
	        	localStorage.setItem("changedCustomOrder", true);
	        });
	    });
		function showSuccessPopUp() {
			$("#successMsgAdded").show();
			setTimeout(function() {
				$("#successMsgAdded").hide();
			}, 5000);
		}
	</script>
</head>
	<body>
	    <div class="main-content customOrderContainer" layout:fragment="content">
	    	<div id="successMsgAdded" class="alert customWindow alert-success successMsgAdded">
				<button type="button" class="close" id="closeAlertAdded" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
				<span id="successText"></span>
			</div>
	    	<a th:href="@{/staff/space/order/add}" method="GET" class="btn primary-btn btn-sm newOrder">+ New Order</a>
	        <h2>Custom Orders for Spaces</h2>
	        <div class="customOrderText">This virtual exhibition contains the following custom orders for spaces.</div>	        
	        <div class="startSequence" style="padding-bottom: 10px;">
		        <form th:action="@{'/staff/space/order/setDefault'}" method ="POST" name="f" style="text-align: right;">
		        	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<div style="padding-bottom:10px;">Select Custom Order to be used.</div>
					<select class="form-control col-md-8" name="selectedCustomOrderId" onfocus='size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();' style="display: inline-block !important; height:auto; border: 1px solid; width: max-content; margin-right: 6px; position: absolute; right: 10%; z-index: 999;">
						<option th:value="Select" th:text="Select"></option>
		            	<option th:each="customOrders: ${customSpaceOrders}" th:value=${customOrders.id} th:selected="${customOrders==currentSelectedCustomOrder}">[[${customOrders.customOrderName}]]</option>
		          	</select>
		        	<button id="selectCustomOrder" type="submit" class="btn primary-btn btn-sm">Submit</button>
				</form>
	    	</div>
	        <div class="tab sequences" style="margin-top: 0;">    
			    <div style="display: flex; justify-content: space-between">
					<h4>Custom Orders</h4>			
				</div>
			    <div id="list" style="margin-top: 0; overflow-y: scroll; max-height: 315px;">
		            <ul class="list-group list-group-flush" th:each="order: ${customSpaceOrders}">
		               <li class="list-group-item"><a th:href="@{'/staff/space/order/'+${order.id}}">
		                   <span class="icon-2x2-grid"></span>&emsp;[[${order.customOrderName}]]</a>
		               </li>
		            </ul>
			    </div>
		    </div>
	    </div>
	</body>
</html>



