<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<link rel="stylesheet"
        href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<link th:href="@{/resources/extra/Sequence.css}"
    type="text/css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style type="text/css">
	.hova {
		background-color: #f2f2f2;
	}
	.EasyMDEContainer .CodeMirror-wrap{
		 overflow-y: scroll;
		 height: 400px;
	}
	.editCustomOrder {
		background: white;
		padding: 25px 40px;
	}
	.sortableSpaces {
		max-height: 385px;
		overflow-y: scroll;
	}
	.paraContent {
		cursor: pointer;
		border: 1px solid;
		padding: 15px;
		margin-top: 20px;
	}
	.paraContent:hover {
		background: #D3D3D3;
		font-weight: bold;
	}
	.para {
		margin: 0;
	}
	.createdDates {
		margin-bottom: 0;
	}
	.goBackContainer {
		float: right;
	}
	.goBackContainer:hover {
		cursor: pointer;
		font-weight: bold;
	}
	.editSaveBtn {
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.flexContainer {
		display: flex;
	}
	.editSpaceCustomOrderDescription {
		margin-top: 1%; 
		flex: 5; 
		border: 1px solid; 
		resize: none;
	}
	.alertPopUp {
		position: absolute;
		top: 8%;
		width: 65%;
		display:none;
	}
</style>

<script th:inline="javascript">
	let spaceDivs=[];
	$(document).ready(function() {
		$("#successMsgDelete").hide();
		$("#successMsgSave").hide();
	 	spaceDivs = document.getElementById('sortableSpaces').children;
		var spaceIds = [];
		let index =0;
		for(ele of spaceDivs){
			spaceIds.push(spaceDivs[index].children[0].id);
			index++;
		} 
		spaceDivs=[];
		spaceDivs = spaceIds;
		if([[${customSpaceOrder.description}]] == "") {
			$("#description").hide();
		}
		
		
		$("#editCustomOrderSubmit").click(function() {
			var description = $("#editSpaceCustomOrderDescription").val();
		    var title = $("#editSpaceCustomOrderTitle").val();	    
		    var formData = new FormData();
		    formData.append('title', title);
		    formData.append('description', description);
		    $.ajax({
			    url: "[(@{'/staff/space/order/'+${customSpaceOrder.id}+'/edit/titleDescription'})]"+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
			    type: 'POST',
			    cache       : false,
			    contentType : false,
			    processData : false,
			    data: formData,
			    enctype: 'multipart/form-data',
			    success: function(data) {
			        $("#customOrderTitle").text(title);
			        $("#description").text(description);
			        $('#myModal').modal('hide');
			        $("#successText").text("Custom order details have been successfully updated.");
		        	showSuccessPopUp();
			    },
			    error: function(data) {
			    		$('#myModal').modal('hide');
			    		showErrorPopUp();
			    }
		    });
		});
	 
		$("#sortableSpaces").sortable({
		  	update: function(event,ui) {
		  		spaceDivs = [];
		      	$(this).children().each(function(index,element){
		      		spaceDivs.push(element.children[0].id);
		      	});
		  	}
		});
			
		//save order
		$("#saveOrder").click(function() {
			var formData = new FormData();
		    formData.append('spaceOrder', spaceDivs);
		    $.ajax({
		        url: "[(@{'/staff/space/order/'+${customSpaceOrder.id}+'/edit/spaceorders'})]"+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
		        type: 'POST',
		        cache       : false,
		        contentType : false,
		        processData : false,
		        data: formData,
		        enctype: 'multipart/form-data',
		        beforeSend: function(){
		        	$("#spinner").show();
		        },
		        complete: function(){
		        	$("#spinner").hide();
		        },
		        success: function(data) {
		        	$("#successText").text("Space order has been successfully changed.");
		        	showSuccessPopUp();
		        },
		        error: function(data) {
		        	showErrorPopUp();
		        }
		    });
		            
		  });
		  
		  
		//delete order
		$("#deleteOrder").click(function() {
			var formData = new FormData();
		    $.ajax({
		        url: "[(@{'/staff/space/customorder/'+${customSpaceOrder.id}})]"+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
		        type: 'DELETE',
		        cache       : false,
		        contentType : false,
		        processData : false,
		        data: formData,
		        enctype: 'multipart/form-data',
		        beforeSend: function(){
		        	$("#spinner").show();
		        },
		        complete: function(){
		        	$("#spinner").hide();
		        },
		        success: function(data) {
		        	localStorage.setItem("prevUrl", "/space/order/deletedOrder");
		        	window.location.href = "[(@{'/staff/space/order'})]";
		        },
		        error: function(data) {
		        	showErrorPopUp();
		        }
		    });
		            
		});
		  
		$("#closeAlertDelete").click(function() {
		    $('#successMsgDelete').hide();
		});
		
		$("#closeAlertSave").click(function() {
		    $('#successMsgSave').hide();
		});
		
		$("#goBackContainer").click(function() {
			window.location.href = "[(@{'/staff/space/order'})]";
		});
		$("#editTitleDescription").click(function() {
			$('#myModal').modal('show');
		});
		$("#closeSuccessPopUp").click(function() {
			$("#successPopUp").hide();
		});
		$("#closeErrorPopUp").click(function() {
			$("#failedPopUp").hide();
		});

	});
	 
	function showSuccessPopUp() {
		$("#successPopUp").show();
		setTimeout(function() {
			$("#successPopUp").hide();
		}, 5000);
	}
	
	function showErrorPopUp() {
		$("#failedPopUp").show();
	}
</script>
</head>

	<body>
		<div layout:fragment="content" class="main-content editCustomOrder">
			<div id="goBackContainer" class="goBackContainer">
		    	<span class="icon-arrow-left" style="font-size: 28px"></span>
		    	<span style="vertical-align: middle;">Go Back</span>
	    	</div>
			<div id="successPopUp" class="alert customWindow alert-success alertPopUp">
				<button type="button" class="close" id="closeSuccessPopUp" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
				<span id="successText"></span>
			</div>
			<div id="failedPopUp" class="alert alert-danger alert-dismissible fade show alertPopUp" role="alert">
				<span>We are sorry but something went wrong. Please try again later.</span>
				<button type="button" id="closeErrorPopUp" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class ="blur">
				<div>		
					<div class="flexContainer">
						<h2 style="margin-bottom: 0; margin-right: 15px">
							<span style="color: var(--dark-grey)">Custom Space Order:</span> 
							<span id="customOrderTitle">[[${customSpaceOrder.customOrderName}]]</span>
						</h2>
						<div id="editTitleDescription" style="align-self: center; cursor: pointer;">
							<span class="icon-edit" style="vertical-align: sub;"></span>
							<span>Edit</span>
						</div>
					</div>
					<p id="description" class="para">[[${customSpaceOrder.description}]]</p>
				</div>
				<div id="createdDates" class="alert alert-light createdDates" role="alert">
					Created on <span class="date">[[${customSpaceOrder.creationDate}]]</span> by
					[[${customSpaceOrder.createdBy}]].<br> Modified on <span class="date">[[${customSpaceOrder.modificationDate}]]</span>
					by [[${customSpaceOrder.modifiedBy}]].
				</div>
			</div>
			<div id="draganddrop">
			<span>Drag and drop to arrange spaces</span>
			</div>
			<div id="sortableSpaces" class="sortableSpaces">
				<div th:each="selectedSpace: ${selectedSpaces}"  class="main-content" >
			    	<div  th:draggable="true"  th:id="${selectedSpace.id}" th:attr="data-position=1"class="valueDiv tab row paraContent" >
			             <p class="para">[[${selectedSpace.name}]]</p>
				    </div>
		    	</div>
			</div>
			<div style="padding-top:20px;">
				<button id="saveOrder" type="button" class="btn primary-btn" style="float: left; margin-right: 1%;">Change Space Order</button>
		        <button type="button" id="deleteOrder"  class="btn primary-btn ">
		        	<i class="icon-trash" style="font-size: 1.3rem;vertical-align: text-bottom;padding-right: 3px;"></i>Delete Custom Order
		        </button>
	        </div>
	        
	        
	        <!-- Modal -->
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <h3 class="modal-title">Edit Custom Order</h3>
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
		                    <span aria-hidden="true">&times;</span>
		                    </button>
		                </div>
		                <div class="modal-body">
		                    <div class="flexContainer">
		                    	<span style="flex: 1;">Title: </span>
		                    	<input style="flex: 5; border: 1px solid;" id="editSpaceCustomOrderTitle" class="form-control" type="text" th:value="${customSpaceOrder.customOrderName}">
		                    	
		                    </div>
		                    <div class="flexContainer">
		                    	<span style="flex: 1;">Description: </span>
		                    	<textarea id="editSpaceCustomOrderDescription" rows=5 class="form-control editSpaceCustomOrderDescription" th:text="${customSpaceOrder.description}"></textarea>
		                    </div>
		                </div>
		                <div class="modal-footer">
		                    <button id="editCustomOrderSubmit" type="button" class="btn primary-btn btn-md editSaveBtn">Save</button>
							<button id="cancel" type="button" class="btn primary-btn btn-md editSaveBtn" data-dismiss="modal" style="margin-left: 1%;">Cancel</button>
		                </div>
		            </div>
		        </div>
	        </div>        
		</div>
	</body>
</html>
