<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>

<style type="text/css">
.EasyMDEContainer .CodeMirror-wrap{
    overflow-y: scroll;
    height: 400px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<script>
//# sourceURL=click.js
$(document).ready(function(){
	var vals = []
	var choices = []
		
	$('select[id="type"]').change(function(){
	    if ($(this).val() == "BRANCHING_POINT"){
	    	$('#sequences').show();
	    	$('#selectSequence').multiSelect({		    		
	    		dblClick : true,
	    		afterInit : function(container) {
	    			$("#selectSequence").find("option").each(function() {
	    				vals.push($(this).val());
	    			});
	    			$(".ms-selection ul").find("li").each(function(index) {
	    				$(this).attr('value', vals[index]);
	    			});
	    		},
	    		afterSelect : function(value) {
	    			choices = [];
	    			$('.ms-selection ul li.ms-selected').each(function(index, value) {
	    				choices.push($(this).attr('value'));					
	    			});
	    			$("#choices").val(choices);
	    		},
	    		afterDeselect : function(value, text) {
	    			for (var i=choices.length-1; i>=0; i--) {
	    				if (String(choices[i]) === String(value)) {
	    					choices.splice(i, 1);
	    					break;
	    	    		}
	    			}
	    			$("#choices").val(choices);
	    		}
	        });	    				
	     } else {
	    	 $('#sequences').hide();
	     }        
	});
});

function openForm(evt, label) {
	console.log(label);
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(label).style.display = "block";
  evt.currentTarget.className += " active";
  evt.preventDefault();
} 


</script>
</head>

<body>
    <div class="main-content" layout:fragment="content">
        <h1>Add new Slide</h1>
        <form method="POST" name="f" class="form-horizontal">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div>
				<div class="tab" >				
					<div th:each= "title,  stat : ${slide.names}">
					  <button class="tablinks"  th:onclick="openForm(event, [[${title.exhibitionLanguageLabel}]] )">[[${title.exhibitionLanguageLabel}]]</button>				
					</div>
				</div>
				<div>		
					<div style="padding-top: 20px;" th:each= "title,  stat : ${slide.names}" > 
					<div th:id = "${title.exhibitionLanguageLabel}" class = "tabcontent">
						<p>  [[${title.exhibitionLanguageLabel}]]</p>	
					<label for="title">Slide Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${title.localisedTextId}" th:name="|names[${stat.index}].localisedTextId|" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${title.exhibitionLanguageId}" th:name="|names[${stat.index}].exhibitionLanguageId|" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${title.text}" th:name="|names[${stat.index}].text|" ></input>
						<div style="padding-top: 20px;" th:each= "description : ${slide.descriptions}"  > 								
								<label th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} "  for="description">Description:</label>
								<textarea  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control" rows="5" cols="30" id="description" th:value= "${description.text}" th:name="|descriptions[${stat.index}].text|">[[${description.text}]]</textarea>
		 						<input type="hidden"  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="slideText" th:value="${description.localisedTextId}" th:name="|descriptions[${stat.index}].localisedTextId|" ></input>
								<input type="hidden" th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="slideText" th:value="${description.exhibitionLanguageId}" th:name="|descriptions[${stat.index}].exhibitionLanguageId|" ></input>
 						 					
		 				</div>
			
 						
 					</div>
 				</div>				
					</div>
				</div>
				
          
            
            <div class="form-group row">
                <label for="type" class="col-md-2 col-form-label">Type:</label>
                <select name="type" id="type"
                    class="form-control-xs target"
                    style="height: 50px; width: 300px;">
                    <option id="slide" selected value="SLIDE"
                        label="Slide">Slide</option>
                    <option id="branchingPoint" value="BRANCHING_POINT"
                        label="BranchingPoint">Branching Point</option>
                </select>
            </div>
            <div class="form-group row" id="sequences"
                style="display: none;">
                <label for="choices" class="col-md-2 col-form-label">Add
                    Choices:</label> <select multiple="multiple"
                    id="selectSequence" name="selectSequence"
                    class="form-control form-control-sm"
                    style="width: 68px;">

                    <option th:each="sequence: ${sequences}"
                        th:value=${sequence.id} th:id=${sequence.id}>[[${sequence.name}]]</option>

                </select> <input type="hidden" id="choices" name="choices"></input>
            </div>
            
            <p style="padding-top: 20px;">
					<button th:formaction="@{'/staff/module/'+${moduleId}+'/slide/add'}" class="btn primary-btn" type="submit" value="submit">Create Slide</button>
			</p>
        </form>
    </div>
</body>