<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>

<style type="text/css">
.EasyMDEContainer .CodeMirror-wrap{
    overflow-y: scroll;
    height: 400px;
}
</style>


	<script th:inline="javascript">
		$(window).on("load", function() {
		    var vals = [];
		    var choices = [];
		    var selectedchoices = [(${choices})];
		    var selectedType =  $('select[id="type"]');
		    if (selectedType.val() == "BRANCHING_POINT"){
		            $('#sequences').show();
		            $('#selectSequence').multiSelect({                  
		                dblClick : true,
		                afterInit : function(container) {
		                    $("#selectSequence").find("option").each(function() {
		                        vals.push($(this).val());
		                    });
		                    $(".ms-selection ul").find("li").each(function(index) {
		                        $(this).attr('value', vals[index]);
		                    });
		                },
		                afterSelect : function(value) {
		                    choices = [];
		                    $('.ms-selection ul li.ms-selected').each(function(index, value) {
		                        choices.push($(this).attr('value'));                    
		                    });
		                    $("#choices").val(choices);
		                },
		                afterDeselect : function(value, text) {
		                    for (var i=choices.length-1; i>=0; i--) {
		                        if (String(choices[i]) === String(value)) {
		                            choices.splice(i, 1);
		                            break;
		                        }
		                    }
		                    $("#choices").val(choices);
		                }
		            });
		            $(selectedchoices).each(function() {
		                $('#selectSequence').multiSelect('select', $(this).val());
		            });
		            
		         } else {
		             $('#sequences').hide();
		         }
		});
		
		

	</script>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Edit Slide: [[${slideForm.name}]]</h2>

		<form method="POST" th:action="@{|/staff/module/${moduleId}/slide/${slideId}/edit?${_csrf.parameterName}=${_csrf.token}|}" style="margin-top: 40px"
			th:object="${slideForm}" enctype="multipart/form-data">
			
			
				<div>
				    <ul class="nav nav-tabs" id="slideTabs" role="tablist">
				        <li th:each="title, tabStat : ${slideForm.names}" th:class="${tabStat.index == 0} ? 'nav-item active' : 'nav-item'">
				            <a class="nav-link" id="tab-[[${tabStat.index}]]" data-toggle="tab" href="#slide-[[${tabStat.index}]]" role="tab" aria-controls="slide-[[${tabStat.index}]]" aria-selected="${tabStat.index == 0}">[[${title.exhibitionLanguageLabel}]]</a>
				        </li>
				    </ul>
				    <div class="tab-content" id="slideContent">
				        <div th:each="title, contentStat : ${slideForm.names}" th:class="${contentStat.index == 0} ? 'tab-pane fade show active' : 'tab-pane fade'" th:id="'slide-' + ${contentStat.index}" role="tabpanel" aria-labelledby="tab-[[${contentStat.index}]]">
				            <label for="title">Slide Name:</label>
				            <input type="hidden" th:id="'title-' + ${contentStat.index}" th:value="${title.localisedTextId}" th:name="|names[${contentStat.index}].localisedTextId|"></input>
				            <input type="hidden" th:id="'title-exhibitionLanguageId-' + ${contentStat.index}" th:value="${title.exhibitionLanguageId}" th:name="|names[${contentStat.index}].exhibitionLanguageId|"></input>
				            <input type="text" class="form-control" th:id="'title-text-' + ${contentStat.index}" th:value="${title.text}" th:name="|names[${contentStat.index}].text|"></input>
				            <div th:each="description : ${slideForm.descriptions}">
				                <label th:if="${description.exhibitionLanguageId == title.exhibitionLanguageId}" for="description">Description:</label>
				                <textarea th:if="${description.exhibitionLanguageId == title.exhibitionLanguageId}" class="form-control" rows="5" cols="30" th:id="'description-' + ${contentStat.index}" th:value="${description.text}" th:name="|descriptions[${contentStat.index}].text|">[[${description.text}]]</textarea>
				                <input type="hidden" th:if="${description.exhibitionLanguageId == title.exhibitionLanguageId}" th:id="'description-localisedTextId-' + ${contentStat.index}" th:value="${description.localisedTextId}" th:name="|descriptions[${contentStat.index}].localisedTextId|"></input>
				                <input type="hidden" th:if="${description.exhibitionLanguageId == title.exhibitionLanguageId}" th:id="'description-exhibitionLanguageId-' + ${contentStat.index}" th:value="${description.exhibitionLanguageId}" th:name="|descriptions[${contentStat.index}].exhibitionLanguageId|"></input>
				            </div>
				        </div>
				    </div>
				</div>
						

				
			
		     <div class="form-group row">
		     <label for="type" class="col-md-2 col-form-label">Type</label>
		         <select id="type" class="form-control col-md-6" disabled="true">
		             <option  id="slide" value="SLIDE" label="Slide" th:if="${slideForm.type=='SLIDE'}">selected Slide</option>
		             <option id="branchingPoint" value="BRANCHING_POINT" label="BranchingPoint" th:if="${slideForm.type=='BRANCHING_POINT'}">selected Branching Point</option>
		         </select>
		         <input type="hidden" id="type" name="type" th:value="${slideForm.type}" />
		    </div>
		 
		    <div class="form-group row" id="sequences" style="display:none;">
		    <label for="choices" class="col-md-2 col-form-label">Add Choices:</label>   
		            <select multiple="multiple" id="selectSequence" name="selectSequence" class="form-control form-control-sm" style="width: 68px;">
		                    <option th:value='${sequence.id}' th:each="sequence: ${sequences}"  th:id="${sequence.id}">[[${sequence.name}]]</option>
		           </select>
		    <input type="hidden" id="choices" name="choices"/>
		    </div> 
		    
		    <p style="padding-top: 20px;">
					<button class="btn primary-btn" type="submit" value="submit">Save Slide</button>
					<a th:href="@{'/staff/module/'+${moduleId}+'/slide/'+${slideId}}" class="btn btn-light">Cancel</a>
			</p>
			
		</form>
	</div>
</body>
</html>