<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>
	<script th:inline="javascript">
		$(window).on("load", function() {
		    var vals = [];
		    var choices = [];
		    var selectedchoices = [(${choices})];
		    var selectedType =  $('select[id="type"]');
		    if (selectedType.val() == "BRANCHING_POINT"){
		            $('#sequences').show();
		            $('#selectSequence').multiSelect({                  
		                dblClick : true,
		                afterInit : function(container) {
		                    $("#selectSequence").find("option").each(function() {
		                        vals.push($(this).val());
		                    });
		                    $(".ms-selection ul").find("li").each(function(index) {
		                        $(this).attr('value', vals[index]);
		                    });
		                },
		                afterSelect : function(value) {
		                    choices = [];
		                    $('.ms-selection ul li.ms-selected').each(function(index, value) {
		                        choices.push($(this).attr('value'));                    
		                    });
		                    $("#choices").val(choices);
		                },
		                afterDeselect : function(value, text) {
		                    for (var i=choices.length-1; i>=0; i--) {
		                        if (String(choices[i]) === String(value)) {
		                            choices.splice(i, 1);
		                            break;
		                        }
		                    }
		                    $("#choices").val(choices);
		                }
		            });
		            $(selectedchoices).each(function() {
		                $('#selectSequence').multiSelect('select', $(this).val());
		            });
		            
		         } else {
		             $('#sequences').hide();
		         }
		});
	</script>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Edit Slide: [[${slideForm.name}]]</h2>

		<form th:action="@{|/staff/module/${moduleId}/slide/${slideId}/edit?${_csrf.parameterName}=${_csrf.token}|}" method="POST" style="margin-top: 40px"
			th:object="${slideForm}" enctype="multipart/form-data">
			
			<div th:each= "exhibitionLanguage : ${languageObjectList}"  > 
			<p >[[${exhibitionLanguage.label}]]</p>
				<div class="form-group row">
					<label for="name" class="col-md-2 col-form-label">Slide Name:</label> 
					<input type="hidden"  th:value="${exhibitionLanguage.label}" th:attr="name='names'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.label'"></input>
	 				<input type="text" class="form-control col-md-10" name="name" id="name" th:field= "${slideForm.names[__${exhibitionLanguageStat.index}__].text}"></input>

				</div>
	
				<div class="form-group row">
					<label for="description" class="col-md-2 col-form-label">Description:</label>
 					<input type="hidden"  th:value="${exhibitionLanguage.label}" th:attr="name='descriptions'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.label'"></input>				
					<textarea class="form-control col-md-10" rows="5" cols="30" id="description" name="description" th:field= "${slideForm.descriptions[__${exhibitionLanguageStat.index}__].text}"></textarea>
				</div>
			</div>
			
			
		     <div class="form-group row">
		     <label for="type" class="col-md-2 col-form-label">Type</label>
		         <select id="type" class="form-control col-md-6" disabled="true">
		             <option  id="slide" value="SLIDE" label="Slide" th:if="${slideForm.type=='SLIDE'}">selected Slide</option>
		             <option id="branchingPoint" value="BRANCHING_POINT" label="BranchingPoint" th:if="${slideForm.type=='BRANCHING_POINT'}">selected Branching Point</option>
		         </select>
		         <input type="hidden" id="type" name="type" th:value="${slideForm.type}" />
		    </div>
		 
		    <div class="form-group row" id="sequences" style="display:none;">
		    <label for="choices" class="col-md-2 col-form-label">Add Choices:</label>   
		            <select multiple="multiple" id="selectSequence" name="selectSequence" class="form-control form-control-sm" style="width: 68px;">
		                    <option th:value='${sequence.id}' th:each="sequence: ${sequences}"  th:id="${sequence.id}">[[${sequence.name}]]</option>
		           </select>
		    <input type="hidden" id="choices" name="choices"/>
		    </div> 
		    		
			<button class="btn primary-btn" type="submit" value="submit" style="margin-right: 20px">Save Slide</button>
			<a th:href="@{'/staff/module/'+${moduleId}+'/slide/'+${slideId}}" class="btn btn-light">Cancel</a>
		</form>
	</div>
</body>
</html>