<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>
<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>
	<script th:inline="javascript">
		$(window).on("load", function() {
		    var vals = [];
		    var choices = [];
		    var selectedchoices = [(${choices})];
		    var selectedType =  $('select[id="type"]');
		    if (selectedType.val() == "BRANCHING_POINT"){
		            $('#sequences').show();
		            $('#selectSequence').multiSelect({                  
		                dblClick : true,
		                afterInit : function(container) {
		                    $("#selectSequence").find("option").each(function() {
		                        vals.push($(this).val());
		                    });
		                    $(".ms-selection ul").find("li").each(function(index) {
		                        $(this).attr('value', vals[index]);
		                    });
		                },
		                afterSelect : function(value) {
		                    choices = [];
		                    $('.ms-selection ul li.ms-selected').each(function(index, value) {
		                        choices.push($(this).attr('value'));                    
		                    });
		                    $("#choices").val(choices);
		                },
		                afterDeselect : function(value, text) {
		                    for (var i=choices.length-1; i>=0; i--) {
		                        if (String(choices[i]) === String(value)) {
		                            choices.splice(i, 1);
		                            break;
		                        }
		                    }
		                    $("#choices").val(choices);
		                }
		            });
		            $(selectedchoices).each(function() {
		                $('#selectSequence').multiSelect('select', $(this).val());
		            });
		            
		         } else {
		             $('#sequences').hide();
		         }
		});
	</script>
	<script type="text/javascript">
	
	function openForm(evt, label) {
		console.log(label);
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
	    tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(label).style.display = "block";
	  evt.currentTarget.className += " active";
	  evt.preventDefault();
	} 
	</script>
	
</head>


<body>
	<div layout:fragment="content" class="main-content">
		<h2>Edit Slide: [[${slideForm.name}]]</h2>
		<form method="POST" th:action="@{|/staff/module/${moduleId}/slide/${slideId}/edit?${_csrf.parameterName}=${_csrf.token}|}" style="margin-top: 40px"
			th:object="${slideForm}" enctype="multipart/form-data">

			<div>
			    <div class="tab" style="padding-top: 20px;" >				
					<div th:each= "title,  stat : ${slideForm.names}">
					  <button class="tablinks"  th:onclick="openForm(event, [[${title.exhibitionLanguageLabel}]] )">[[${title.exhibitionLanguageLabel}]]</button>				
					</div>
				</div>
			    <div>		
					<div th:each= "title,  stat : ${slideForm.names}" > 
					<div th:id = "${title.exhibitionLanguageLabel}" class = "tabcontent">
						<p>  [[${title.exhibitionLanguageLabel}]]</p>	
					<label for="title">Slide Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${title.localisedTextId}" th:name="|names[${stat.index}].localisedTextId|" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${title.exhibitionLanguageId}" th:name="|names[${stat.index}].exhibitionLanguageId|" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${title.text}" th:name="|names[${stat.index}].text|" ></input>
						<div th:each= "description : ${slideForm.descriptions}"  > 								
								<label th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} "  for="description">Description:</label>
								<textarea  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control" rows="5" cols="30" id="description" th:value= "${description.text}" th:name="|descriptions[${stat.index}].text|">[[${description.text}]]</textarea>
		 						<input type="hidden"  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="slideText" th:value="${description.localisedTextId}" th:name="|descriptions[${stat.index}].localisedTextId|" ></input>
								<input type="hidden" th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="slideText" th:value="${description.exhibitionLanguageId}" th:name="|descriptions[${stat.index}].exhibitionLanguageId|" ></input>
 						 					
		 				</div>
 					</div>
 					</div>				
			 	</div>
			 </div>
			 
		     <div class="form-group row">
		     <label for="type" class="col-md-2 col-form-label">Type</label>
		         <select id="type" class="form-control col-md-6" disabled="true">
		             <option  id="slide" value="SLIDE" label="Slide" th:if="${slideForm.type=='SLIDE'}">selected Slide</option>
		             <option id="branchingPoint" value="BRANCHING_POINT" label="BranchingPoint" th:if="${slideForm.type=='BRANCHING_POINT'}">selected Branching Point</option>
		         </select>
		         <input type="hidden" id="type" name="type" th:value="${slideForm.type}" />
		    </div>
		 
		    <div class="form-group row" id="sequences" style="display:none;">
		    <label for="choices" class="col-md-2 col-form-label">Add Choices:</label>   
		            <select multiple="multiple" id="selectSequence" name="selectSequence" class="form-control form-control-sm" style="width: 68px;">
		                    <option th:value='${sequence.id}' th:each="sequence: ${sequences}"  th:id="${sequence.id}">[[${sequence.name}]]</option>
		           </select>
		    <input type="hidden" id="choices" name="choices"/>
		    </div> 
		    
		    <p style="padding-top: 20px;">
					<button class="btn primary-btn" type="submit" value="submit">Save Slide</button>
					<a th:href="@{'/staff/module/'+${moduleId}+'/slide/'+${slideId}}" class="btn btn-light">Cancel</a>
			</p>
			
		</form>
	</div>
</body>
</html>