
<html layout:decorate="~{layouts/main}">
<head>
<style>
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: relative;
    top: 5px;
    right: -100px;
    font-size: 30px;
    margin-left: 50px;
}
</style>
</head>

<body>

<div layout:fragment="content" class="main-content">
<script th:inline="javascript">
function openNav(){
	$("#mySidenav").css("width", "250px");
}
function closeNav(){
	$("#mySidenav").css("width", "0");
}
 
</script>

<div id="Module_1" class="Home_Class" style="margin-left:-100px; margin-top: -45px;">
<div id="mySidenav" class="sidenav" >
                    <a href="javascript:void(0)" class="closebtn"
                        onclick="closeNav()">&times;</a>
                    <ul th:each="space: ${publishedSpaces}">
                        <li><a class="dropdown-item"
                            th:href="@{'/exhibit/space/'+${space?.id}}">[[${space.name}]]</a>
                        </li>
                    </ul>
                </div>
                <span style="font-size: 30px; cursor: pointer;"
                    onclick="openNav()">&#9776;</span>
 </div>               
	<div>
	<div style="padding-left:200px">
	<h2>[(${exhibitionAboutPage.getTitle()})] </h2>
		<div style="padding: 0;">
				<div  style="padding-top: 20px;">
					 <div>[(${exhibitionAboutPage.htmlRenderedText()})]</div>
				</div>
		</div>
	</div>
		</div>
	</div>
</body>
</html>