<html layout:decorate="~{layouts/main}">
   <head>
      <style type="text/css">
      </style>
      <script th:inline="javascript">
         $( document ).ready(function() {
            $("#blocks a").css('color','rgb(150, 45, 62)').css('font-weight','bold');
            $(".nav-bar").css('position','fixed').css('width','100%').css('z-index','125');
            
            var myObj = [(${currentSlideCon.contents[4].id})];
            /* myObj.forEach(myFunction);
            
            function myFunction(item, index) {
            	console.log(item);
            } */
            
         });
         
         
      </script>
   </head>
   <body>
    <div layout:fragment="content">
        <div th:if="${showAlert == true}"
            class="alert alert-warning center col-md-12"
            style="text-align: center;">[[${message}]] <a
                th:href="@{'/exhibit/space/'+${spaceId}}">
                <button class="btn circle-btn" style="margin-left: 10px;">
                    <span class="icon-double-chevron-left"></span> <span
                        class="tooltiptext">Go To Space</span>
                </button>
            </a>
        </div>
        <div th:if="${showAlert != true}" id="Module_1" class="Module_1_Class">
        <div th:if="${showAlert != true}" style="padding-top: 4%; padding-bottom: 1%; background-color: white; position: fixed; z-index: 100; top: 5.5%; width: 100%; display: flex;">
            <h3 class="textDiv">[[${module.name}]]</h3>
            <p class="slideNumberClass">Slide [[${currentNumOfSlide}]]/[[${numOfSlides}]]</p>
        </div>
         <div class="Group_7_Class" >
            <a th:if="${!#strings.isEmpty(prevSlide)}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${currentSequenceId}+'/slide/'+${prevSlide}}">
               <div class="Slideshow_previous_Class" style="position: fixed; z-index:110; left: 13%; top: 40.3%;">
                  <button class="btn circle-btn-slide-nav">
                         <span class="icon-chevron-left slide-nav"></span>
                         <span class="tooltiptext">Previous slide</span>
                  </button>
               </div>
           </a>
            <a th:if="${!#strings.isEmpty(nextSlide)}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${currentSequenceId}+'/slide/'+${nextSlide}}">
               <div class="slideshow_next slideshow_next_Class" style="position: fixed; z-index:110; right: 11%; top: 40.3%;">
                    <button class="btn circle-btn-slide-nav">
                         <span class="icon-chevron-right slide-nav"></span>
                         <span class="tooltiptext">Next slide</span>
                    </button>  
               </div>
            </a>
         </div>
         <a th:href="@{'/exhibit/space/'+${spaceId}}">
            <div class="exit_to_space_Class" style="position: fixed;  z-index:120;">
                  <button class="btn circle-btn">
                      <span class="icon-double-chevron-left"></span>
                      <span class="tooltiptext">Go To Space</span>
                  </button>
            </div>
         </a>
         <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${startSequenceId}+'?clearHistory=true'}">
            <div class="exit_to_branchingPoint_Class" style="position: fixed;  z-index:110;">
                  <button class="btn circle-btn">
                      <span class="icon-rewind-end"></span>
                      <span class="tooltiptext">Go To Start Sequence of Module</span>
                  </button>
            </div>
         </a>
         <a th:if="${showBackToPreviousChoice eq true}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${previousSequenceId}+'/slide/'+${previousBranchingPoint.id}+'?back=true'}">
            <div class="exit_to_previousChoice_Class" style="position: fixed; z-index:110;">
                  <button class="btn circle-btn">
                      <span class="icon-caret-left"></span>
                      <span class="tooltiptext">Go back to [[${previousBranchingPoint.name} ]]</span>
                  </button>
            </div>
         </a>
         <div style="position: relative; top: 90px; padding-bottom:10px;">
            <h3 style="text-align:center;">[[${currentSlideCon.name}]]</h3>
            <div>
            	<meta name="citation_title" content="The testis isoform of the phosphorylase kinase catalytic subunit (PhK-T) plays a critical role in regulation of glycogen mobilization in developing lung">
<meta name="citation_author" content="Liu, Li">
<meta name="citation_author" content="Rannels, Stephen R.">
<meta name="citation_author" content="Falconieri, Mary">
<meta name="citation_author" content="Phillips, Karen S.">
<meta name="citation_author" content="Wolpert, Ellen B.">
<meta name="citation_author" content="Weaver, Timothy E.">
<meta name="citation_publication_date" content="1996/05/17">
<meta name="citation_journal_title" content="Journal of Biological Chemistry">
<meta name="citation_volume" content="271">
<meta name="citation_issue" content="20">
<meta name="citation_firstpage" content="11761">
<meta name="citation_lastpage" content="11766">
<meta name="citation_pdf_url" content="http://www.example.com/content/271/20/11761.full.pdf">abc 
            </div>
            <div>
            	<meta name="DC.title" content="Critical chain in practice: using the theory of constraints to manage projects & portfolios" />

<meta name="DC.creator" content="BERNARD, Jean-Pierre, ICORD, Isabelle" />

<meta name="DC.subject" content="GESTION DE PROJET, ORGANISATION DU TRAVAIL, PLANNING, DEFINITION DES TACHES, CHANGEMENT ORGANISATIONNEL" />

<meta name="DC.description" content="RESUME : <BR><BR>The same cause always produces the same effect. This is the case with our projects. The project management methods did not really change in a century when Henry Gantt invented his famous chart. The way we traditionally manage the inevitable hazards does not allow us to launch our products on time better nowadays than yesterday. The critical chain offers some way out to this vicious circle by applying some basic rules which could be difficult to implement without solid guidelines. This book describes concretely step by step the implementation of CCPM in a single project and in a project portfolio... in order to optimize our efforts and profitability!" />

<meta name="DC.publisher" content="Emotion primitive" />

<meta name="DC.date" content="01/10/2014" />

<meta name="DC.type" content="Livre numérique" />

<meta name="DC.format" content="118 p." />

<meta name="DC.identifier" content="9782954804439" />

<meta name="DC.source" content="http://infotheque.campushep-lyon.net/Record.htm?record=19212658124910308309"; />

            	abcd2
            </div>
            <div th:id="blocks" class="Group_8_Class" th:each="contents: ${currentSlideCon.contents}">
                <img th:if="${contents['class'].simpleName ==  'ImageBlock'}" th:id="${contents.id}" class="imgDiv" th:src="@{'/api/image/'+${contents.image.id}}">
                <div th:if="${contents['class'].simpleName ==  'TextBlock'}" th:id="${contents.id}" class="textDiv">[(${contents.htmlRenderedText()})]</div>
                <div th:if="${contents['class'].simpleName ==  'BiblioBlock'}" th:id="${contents.id}" class="biblioDiv">[(${contents.htmlRenderedText()})]</div>
                	<div th:if="${contents['class'].simpleName ==  'BiblioBlock'}" class="biblioDiv" >
                	


                		<span class="Z3988" title="ctx_ver=Z39.88-2004;rft_val_fmt=info:ofi/fmt:kev:mtx:dc;rft.title={{ ${contents.title} | cgi_escape }};rft.author={{ ${contents.author} | cgi_escape }};rft.year={{ ${contents.year} | cgi_escape }};rft.identifier={{ ${contents.title} | cgi_escape }};rft.language=English"></span>[(${contents.htmlRenderedText()})] <br> 
                		<!-- rft.aulast={{ site.data.contact.name_last | cgi_escape }}&amp;
                		rft.aufirst={{ site.data.contact.name_first | cgi_escape }}&amp;
                		rft.source={{ site.data.site.title | cgi_escape }}&amp;
                		rft.date={{ page.date | date_to_xmlschema }}&amp;
                		rft.type=blogPost&amp;
                		rft.format=text&amp;
                		rft.identifier={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp; -->
                		
                	</div>
                <div th:if="${contents['class'].simpleName == 'ChoiceBlock'}" th:id="${contents.id}" class="textDiv" style="margin: 1%;">
                    <div th:if="${contents.showsAll eq true}" th:each="choice: ${choices}" class="list-group">
                        <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${choice.sequence.id}+'?branchingPoint='+${slideId}+'&previousSequenceId='+${currentSequenceId}}"
                            class="list-group-item list-group-item-action">[[${choice.sequence.name}]]</a>
                    </div>
                    <div class="list-group" th:if="${contents.showsAll eq false}" th:each="choice: ${contents.choices}">
                        <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${choice.sequence.id}+'?branchingPoint='+${slideId}+'&previousSequenceId='+${currentSequenceId}}"
                            class="list-group-item list-group-item-action">[[${choice.sequence.name}]]</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </body>
</html>