<html layout:decorate="~{layouts/main}">
   <head>
      <style type="text/css">
         body {
         font-family: 'Montserrat', sans-serif;
         }
      </style>
      
   </head>
   <body>
   	<div layout:fragment="content">
   		<script>
         $( document ).ready(function() {
         	$("#blocks a").css('color','rgb(150, 45, 62)').css('font-weight','bold');
         });
             function openLangNav() {
                 $("#myLangSidenav").css("width","240px");
             }
             function closeLangNav() {
                 $("#myLangSidenav").css("width","0");
             }
             function openNav(){
                 $("#mySidenav").css("width", "170px");
                 $("#mySidenav").css("height", "700px");
             }
             function closeNav(){
                 $("#mySidenav").css("width", "0px");
             }
      	</script>
      <div id="Module_1" class="Module_1_Class">
         <div class="textDiv" th:if="${showAlert != true}">
            <h3>[[${module.name}]]</h3>
         </div>
         <div class="slideNumberClass">
            <p>Slide [[${currentNumOfSlide}]]/[[${numOfSlides}]]</p>
         </div>
         <div class="Group_7_Class">
            <a th:if="${prevSlide !=  null}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${currentSequenceId}+'/slide/'+${prevSlide}}">
               <div class="Slideshow_previous Slideshow_previous_Class">
                  <svg class="Ellipse_11">
                     <ellipse fill="rgba(255,255,255,1)"
                        class="Ellipse_11_Class" rx="20" ry="20"
                        cx="20" cy="20">
                     </ellipse>
                  </svg>
                  <i class="fa fa-chevron-left"></i>
               </div>
            </a>
            <a th:if="${nextSlide !=  ''}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${currentSequenceId}+'/slide/'+${nextSlide}}">
               <div class="slideshow_next slideshow_next_Class">
                  <svg class="Ellipse_12">
                     <ellipse fill="rgba(255,255,255,1)"
                        class="Ellipse_12_Class" rx="20" ry="20"
                        cx="20" cy="20">
                     </ellipse>
                  </svg>
                  <i class="fa fa-chevron-right"></i>
               </div>
            </a>
         </div>
         <a th:href="@{'/exhibit/space/'+${spaceId}}">
            <div class="exit_to_space_Class">
               <svg class="Ellipse_5_be">
                  <ellipse fill="rgba(255,255,255,1)"
                     class="Ellipse_5_be_Class" rx="22" ry="22" cx="22" cy="22">
                  </ellipse>
               </svg>
               <i class="fas fa-angle-double-left fa-2x Icon_awesome_angle_double_left"></i>
               <span class="tooltiptext">Go To Space</span>
            </div>
         </a>
         <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${startSequenceId}+'?clearHistory=true'}">
            <div class="exit_to_branchingPoint_Class">
               <svg class="Ellipse_5">
                  <ellipse fill="rgba(255,255,255,1)"
                     class="Ellipse_5_Class" rx="22" ry="22" cx="22"
                     cy="22">
                  </ellipse>
               </svg>
               <i class="fas fa-fast-backward fa-2x Icon_awesome_angle_double_left"></i>
               <span class="tooltiptext">Go To Start Sequence of Module</span>
            </div>
         </a>
         <a th:if="${showBackToPreviousChoice eq true}" th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${previousSequenceId}+'/slide/'+${previousBranchingPoint.id}+'?back=true'}">
            <div class="exit_to_previousChoice_Class">
               <svg class="Ellipse_5_be">
                  <ellipse fill="rgba(255,255,255,1)"
                     class="Ellipse_5_be_Class" rx="22" ry="22"
                     cx="22" cy="22">
                  </ellipse>
               </svg>
               <i class="fas fa-step-backward fa-2x Icon_awesome_angle_double_left"></i>
               <span class="tooltiptext">Go back to [[${previousBranchingPoint.name} ]]</span>
            </div>
         </a>
         <div id="blocks" class="Group_8_Class" th:each="contents: ${currentSlideCon.contents}">
            <h3>[[${currentSlideCon.name}]]</h3>
            <img th:if="${contents['class'].simpleName ==  'ImageBlock'}" id="${contents.id}" class="imgDiv" th:src="@{'/api/image/'+${contents.image.id}}" />" />
            <div th:if="${contents['class'].simpleName ==  'TextBlock'}" id="${contents.id}" class="textDiv">[[${contents.htmlRenderedText()}]]</div>
            <div th:if="${contents['class'].simpleName == 'ChoiceBlock'}" id="${contents.id}" class="textDiv" style="margin: 1%;">
               <div th:if="${contents.showsAll eq true}" th:each="choice: ${choices}" class="list-group">
                  <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${choice.sequence.id}+'?branchingPoint='+${slideId}+'&previousSequenceId='+${currentSequenceId}}"
                     class="list-group-item list-group-item-action">[[${choice.sequence.name}]]</a>
               </div>
               <div class="list-group" th:if="${contents.showsAll eq false}" th:each="choice: ${contents.choices}">
                  <a th:href="@{'/exhibit/'+${spaceId}+'/module/'+${module.id}+'/sequence/'+${choice.sequence.id}+'?branchingPoint='+${slideId}+'&previousSequenceId='+${currentSequenceId}}"
                     class="list-group-item list-group-item-action">[[${choice.sequence.name}]]</a>
               </div>
            </div>
         </div>
      </div>
     </div>
   </body>
</html>