<html layout:decorate="~{layouts/main}">
<head>
<style>
.Info_cz_Class .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -38px;
    top: 27px;
    background: rgba(0, 0, 0, 0.6);
}

.Info_cz_Class:hover .tooltiptext {
    visibility: visible;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: relative;
    top: 5px;
    right: -100px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.imgResizeDiv {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 44px;
    left: 90%;
    top: 8%;
    overflow: visible;
    cursor: pointer;
}

.imgResizeDiv:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: -38px;
    top: 46px;
    background: rgba(0, 0, 0, 0.6);
}

.barPosition {
    top: 25px;
}

@media only screen and (max-width: 800px) { /* For mobile phones: */
    [class*="barPosition"] {
        font-size: 12px;
    }
    [class*="Home_Class"] {
        min-height: 540px;
    }
    [class*="Group_3_Class"] {
        top: 50px;
    }
    [class*="sideModulenav"] {
        top: 34px;
        height: 260px;
    }
    [class*="spaceName"] {
        font-size: 20px;
    }
}

.wrapper {
    float: left;
}

.spaceClass {
    position: relative;
    right: 5%;
    left: 5%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    top: -40px;
    left: 0;
    /* top layer */
    z-index: 9999;
    transition: all 0.5s;
}

#sidebar.active {
    margin-left: -250px;
}

.btn {
    padding: 10px;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 110px;
    right: 1000px;
}

@media ( max-width : 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
</style>
</head>

<body>
    <div id="mainDivContent" layout:fragment="content">
        <script th:inline="javascript">
		//# sourceURL=click.js
			
		function toggleImgSize(isClicked){
			var maxImgWidth = $(window).width();
			var spaceWidth = $("#bgImage").css("width");
			var maxImgWidthOrig = parseFloat($("#bgImage").css("max-width"));
			var isResizeImgBtnClicked = getCookie('isResizeImgBtnClicked');
			if(isClicked) {
				isResizeImgBtnClicked = -isResizeImgBtnClicked;
				setCookie('isResizeImgBtnClicked', isResizeImgBtnClicked, null);
			}
			// resize the image to max width
			var spaceImg = $("#space");
			if (isResizeImgBtnClicked == 1) {
				$("#toggleImgClass").attr('class', "icon-collapse secondary");
				if(maxImgWidthOrig > maxImgWidth) {
					$("#space").remove();
					$("#mainDivContent").append(spaceImg);
					$(".spaceClass").css("display", ""); 
					$(".spaceClass").css("justify-content", "");
					$("#bgImage").css("width", maxImgWidth);
					$(".spaceClass").css("height", "");
					$("#Module_1").css("height", "");
					$("#Module_1").css("min-height", "0");
					$("#Module_1").css("margin-bottom", "0px");
				}
        		}
			else {
				$("#toggleImgClass").attr('class', "icon-expand secondary");
				if(maxImgWidthOrig > maxImgWidth) {
					$("#space").remove();
					$(".spaceClass").children().first().append(spaceImg);
					$(".spaceClass").css("display", "flex"); 
					$(".spaceClass").css("justify-content", "");
					$("#bgImage").css("width", spaceWidth);
					$('#bgImage').width('100%');
					$(".spaceClass").css("height", "800px");
					$("#Module_1").css("margin-bottom", "60px");
				}
			}
			$("#space a").remove();        
			drawLinks();
		}

		let maxWidth='(max-width: 1200px)';
		function openNav(){
		  $("#mySidenav").css("width", "250px");
		}
        function closeNav(){
        	$("#mySidenav").css("width", "0");
		}
		function openModuleNav(){
		    if (window.matchMedia(maxWidth).matches){
		        $("#mySideModulenav").css("width", "170px");
		        $("#mySideModulenav").css("height", "auto");
		    }
		    else{
		        $("#mySideModulenav").css("width", "240px");
		        $("#mySideModulenav").css("height", "auto");
		    }
		}
		function closeModuleNav(){
		    $("#mySideModulenav").css("width", "0");
		}
		
		function closeSpaceDescription(){
		    $("#rightContent").css("width", "0");
		    $("#rightContent").css("height", "0");
		}
		
		function openSpaceDescription(){
		    if (window.matchMedia(maxWidth).matches){
		        $("#rightContent").css("height", "170px");
		        $("#rightContent").css("width", "260px");
		    }
		    else{
		        $("#rightContent").css("width", "300px");
		        $("#rightContent").css("height", "[(${display.height})]px");
		    }
		}
		
		function setCookie(name,value,days) {
		    var expires = "";
		    if (days) {
		        var date = new Date();
		        date.setTime(date.getTime() + (days*24*60*60*1000));
		        expires = "; expires=" + date.toUTCString();
		    }
		    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
		}
		
		function getCookie(name) {
		    var nameEq = name + "=";
		    var cookieArray = document.cookie.split(';');
		    for(var i=0;i < cookieArray.length;i++) {
		        var currCookie = cookieArray[i].trim();
		        if (currCookie.startsWith(nameEq)) {
		        	return currCookie.substring(nameEq.length,currCookie.length);
		        }
		    }
		    return null;
		}
		
		$(window).on("load", function() {
			var isResizeImgBtnClicked = getCookie('isResizeImgBtnClicked');
			if(isResizeImgBtnClicked == "") {
				setCookie('isResizeImgBtnClicked', -1, null);
			}
		    	let spaceHeight = $("#bgImage").css("height");
		    	$("#Module_1").css("height",spaceHeight);
			$( window ).resize(function() {
				$("#space a").remove();
		    		drawLinks();
		    	});
		    	drawLinks();
		    	toggleImgSize(false);
		});
		
		function drawLinks() {
			var spaceLinks = [[${spaceLinks}]];
			var moduleLinks = [[${moduleList}]];
			var externalLinks = [[${externalLinkList}]];
			var height = parseInt($("#bgImage").css("height"));
			var width = parseInt($("#bgImage").css("width"));
			let relativeHeight = ([(${display?.width})]/width)*height;
		    spaceLinks.forEach(function(link,index){
                if(link!=null){
                    var posX = parseInt($("#space").css('margin-left')) + $("#space").position().left; 
    		        var posY = $("#space").position().top;
    		        var spaceLink = $('<a></a>');
    		        spaceLink.attr("href", link.link.targetSpace.id);
    		        var linkDisplay;
    		        if(link.type=="ALERT"){
    		            linkDisplay = $('<div class="InfoSpace_'+index+' alert alert-primary" role="alert"><span class="tooltiptextalert">'+link.link.name+'</span></div>');
    		        }
    		        else if(link.type=="IMAGE" && link.image != null){
                        var spaceImageURL = [[@{/api/image/}]]+link.image.id;
                        linkDisplay = $('<img class="InfoSpace_'+index+'" src="'+spaceImageURL+'" />');
    		        }
    		        else{
                        linkDisplay = $('<div class="InfoSpace_'+index+' Info_cz_Class"><svg class="Ellipse_8_c"><ellipse fill="rgba(222,222,222,1)" class="Ellipse_8_c_Class" rx="14.5" ry="14.5" cx="14.5" cy="14.5"></ellipse></svg><svg class="Ellipse_10_c"><ellipse fill="rgba(240,240,240,1)" class="Ellipse_10_c_Class" rx="12.5" ry="12.5" cx="12.5" cy="12.5"></ellipse></svg><svg class="Ellipse_9_c"><ellipse fill="rgba(255,255,255,1)" class="Ellipse_9_c_Class" rx="10.5" ry="10.5" cx="10.5" cy="10.5"></ellipse></svg><span class="icon-move Icon_awesome_info_c"></span><span class="tooltiptext">'+link.link.name+'</span></div>');
    		        }
    		        linkDisplay.css('position', 'absolute');
    		        linkDisplay.css('transform', 'rotate('+link.rotation+'deg)');
    		        linkDisplay.css('fill', 'grey'); 
    		        linkDisplay.css('color', 'rgba(128,128,128,1)');
    		        var	linkPosX=(width*link.positionX)/[(${display?.width})];
    		        var	linkPosY=(height*link.positionY)/relativeHeight;
    		        linkDisplay.css('left',linkPosX + posX);
    		        linkDisplay.css('top', linkPosY + posY);
    		        spaceLink.append(linkDisplay);
    		        $("#space").append(spaceLink);
    		        $(".label-"+index).css({
    		          'transform': 'rotate(0deg)',
    		          'left': link.positionX + posX - 10, 
    		          'padding-top': '30px',
    		          'color': 'rgba(150, 45, 62, 1)',
    		          'font-size': '12px',
    		          'overflow': 'visible'
    		        });
                }
            });
            moduleLinks.forEach(function(link,index){
                if(link!=null){
                    var posX = parseInt($("#space").css('margin-left')) + $("#space").position().left; 
    		        var posY = $("#space").position().top;
    		        var moduleLink = $('<a></a>');
    		        var moduleLinkURL = [[@{|/exhibit/${space?.id}/module/|}]]+link.link.module.id;
    		        moduleLink.attr("href", moduleLinkURL);
    		        var linkDisplay;
    		        if(link.type=="IMAGE" && link.image != null){
                        var moduleImageURL = [[@{/api/image/}]]+link.image.id;
                        linkDisplay = $('<img class="InfoModule_'+index+'" src="'+moduleImageURL+'" />');
    		        } else {
    		        	linkDisplay = $('<div class="InfoModule_'+index+' Info_cz_Class"><svg class="Ellipse_8_c"><ellipse fill="rgba(222,222,222,1)" class="Ellipse_8_c_Class" rx="14.5" ry="14.5" cx="14.5" cy="14.5"></ellipse></svg><svg class="Ellipse_10_c"><ellipse fill="rgba(240,240,240,1)" class="Ellipse_10_c_Class" rx="12.5" ry="12.5" cx="12.5" cy="12.5"></ellipse></svg><svg class="Ellipse_9_c"><ellipse fill="rgba(255,255,255,1)" class="Ellipse_9_c_Class" rx="10.5" ry="10.5" cx="10.5" cy="10.5"></ellipse></svg><span class="icon-info Icon_awesome_info_m"></span><span class="tooltiptext">'+link.link.name+'</span></div>');
                	}
    		        linkDisplay.css('position', 'absolute');
    		        linkDisplay.css('transform', 'rotate('+link.rotation+'deg)');
    		        linkDisplay.css('fill', 'grey'); 
    		        linkDisplay.css('color', 'rgba(128,128,128,1)');
    		        var	linkPosX=(width*link.positionX)/[(${display?.width})];
    		        var	linkPosY=(height*link.positionY)/relativeHeight;
    		        linkDisplay.css('left',linkPosX + posX);
    		        linkDisplay.css('top', linkPosY + posY);
    		        moduleLink.append(linkDisplay);
    		        $("#space").append(moduleLink);
    		        $(".moduleLabel-"+index).css({
    		            'transform': 'rotate(0deg)',
    		            'left': link.positionX + posX - 10,
    		            'padding-top': '30px',
    		            'color': 'rgba(150, 45, 62, 1)',
    		            'font-size': '12px'
    		          });
                }
            })
            externalLinks.forEach(function(link,index){
                if(link!=null){
                    var posX = parseInt($("#space").css('margin-left')) + $("#space").position().left; 
                    var posY = $("#space").position().top;
                    var externalLink = $('<a></a>');
                    externalLink.attr('href', link.externalLink.externalLink);
                    if(link.howToOpen == null || link.howToOpen == "NEWWINDOW" ){
    		        	externalLink.attr('target', "_blank");
    		        } else {
    		        	externalLink.attr('target', "_self"); 
                	}
                    if(link.type=="ALERT"){
    		        	linkDisplay = $('<div class="InfoExt_'+index+'  alert alert-primary" role="alert"><span class="tooltiptextalert">'+link.externalLink.name+'</span></div>');
                	}
                    else if(link.type=="IMAGE" && link.image != null){
    		        	var extImageURL = [[@{/api/image/}]]+link.image.id;
    		        	linkDisplay = $('<img class="InfoExt_'+index+'" src="'+extImageURL+'" />');
                	}
                    else{
    		        	var linkDisplay = $('<div class="InfoExt_'+index+' Info_cz_Class"><svg class="Ellipse_8_c"><ellipse fill="rgba(222,222,222,1)" class="Ellipse_8_c_Class" rx="14.5" ry="14.5" cx="14.5" cy="14.5"></ellipse></svg><svg class="Ellipse_10_c"><ellipse fill="rgba(240,240,240,1)" class="Ellipse_10_c_Class" rx="12.5" ry="12.5" cx="12.5" cy="12.5"></ellipse></svg><svg class="Ellipse_9_c"><ellipse fill="rgba(255,255,255,1)" class="Ellipse_9_c_Class" rx="10.5" ry="10.5" cx="10.5" cy="10.5"></ellipse></svg><span class="icon-ext-link Icon_awesome_info_e"></span><span class="tooltiptext">'+link.externalLink.name+'</span></div>');
                	}
                    linkDisplay.css('position', 'absolute');
                    linkDisplay.css('transform', 'rotate('+link.rotation+'deg)');
                    linkDisplay.css('fill', 'grey'); 
                    linkDisplay.css('color', 'rgba(128,128,128,1)');
                    var linkPosX=(width*link.positionX)/[(${display?.width})];
                    var linkPosY=(height*link.positionY)/relativeHeight;
                    linkDisplay.css('left',linkPosX + posX);
                    linkDisplay.css('top', linkPosY + posY);
                    externalLink.append(linkDisplay);
                    $("#space").append(externalLink);
                    $(".externalLabel-"+index).css({
    		            'transform': 'rotate(0deg)',
    		            'left': link.positionX + posX - 10,
    		            'padding-top': '30px',
    		            'color': 'rgba(150, 45, 62, 1)',
    		            'font-size': '12px'
  		          });
                }
            })
		}
		</script>
		
		<div sec:authorize="hasAnyRole('ROLE_STAFF','ROLE_ADMIN')" class="alert alert-warning alert-dismissible fade show" role="alert" style="margin: -60px 0 60px; z-index: 2;">
		  <span class="icon-warning secondary"></span> You are viewing the public page. Go to the staff home 
		  	<span class="icon-home secondary"></span> to make changes.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div class="imgResizeDiv">
                <button class="btn circle-btn" id="toggleBtn" style="width: 35px; height: 35px; margin-left: 10px; margin-top: 5px; padding: 3px;"
                    onclick="toggleImgSize(1)">
                    <span class="icon-expand secondary"
                        id="toggleImgClass" style="left: -4px;"></span> <span
                        class="tooltiptext">Resize Image</span>
                </button>
            </div>
        <div class="container-fluid"
            th:style="${showAlert} ? 'display:none' : 'display:block'">
            <div class="modalDown alert alert-warning center col-md-12"
                style="text-align: center;"
                th:style="${exhibitionConfig.mode == 'ACTIVE'? 'display:block' : 'display:none'}">
                <h6
                    th:if="${exhibitionConfig.customMessage != '' && exhibitionConfig.mode == 'OFFLINE'}">[[${exhibitionConfig.customMessage}]]</h6>
                <h6
                    th:unless="${exhibitionConfig.customMessage != '' && exhibitionConfig.mode == 'OFFLINE'}">[[${exhibitionConfig.mode?.value}]]</h6>
            </div>
            <div id="Module_1" class="Home_Class" style="margin: -45px 0 60px auto;">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn"
                        onclick="closeNav()">&times;</a>
                    <ul th:each="space: ${publishedSpaces}">
                        <li><a class="dropdown-item"
                            th:href="@{'/exhibit/space/'+${space?.id}}">[[${space.name}]]</a>
                        </li>
                    </ul>
                </div>
                <span style="font-size: 30px; cursor: pointer"
                    onclick="openNav()">&#9776;</span>
                <div class="spaceClass" id="spaceDiv"
                    style="width: 80%; display: flex; margin-left: 10px; margin-top: -50px; justify-content: center; padding-top: 10px;">
                    <div>
                        <div class=dropdown  th:if="${moduleList.size() > 0}">
                            <div id="mySideModulenav"
                                class="sideModulenav">
                                <span class="icon-circle-close closebtn"
                                    th:onclick="closeModuleNav()"></span>
                                <div class="list-group spaceNav">
                                    <ul style="list-style: none;"
                                        th:each="module: ${moduleList}">
                                        <li
                                            th:if="${!#strings.isEmpty(module.link.name)}"><a
                                            class="dropdown-item"
                                            th:href="@{'/exhibit/'+${space?.id}+'/module/'+${module.link.module?.id}}"><div class="Info Info_cz_module_Class"><svg class="Ellipse_8_module_c_sidenav"><ellipse fill="rgba(222,222,222,1)" class="Ellipse_8_c_Class" rx="14.5" ry="14.5" cx="14.5" cy="14.5"></ellipse></svg><svg class="Ellipse_10_module_c_sidenav"><ellipse fill="rgba(240,240,240,1)" class="Ellipse_10_c_Class" rx="12.5" ry="12.5" cx="12.5" cy="12.5"></ellipse></svg><svg class="Ellipse_9_module_c_sidenav"><ellipse fill="rgba(255,255,255,1)" class="Ellipse_9_c_Class" rx="10.5" ry="10.5" cx="10.5" cy="10.5"></ellipse></svg><span class="icon-info Icon_awesome_info_module_m_sidenav"></span></div>[[${module.link.name}]]</a></li>
                                        <li
                                            th:if="${#strings.isEmpty(module.link.name)}"><a
                                            class="dropdown-item"
                                            th:href="@{'/exhibit/'+${space?.id}+'/module/'+${module.link.module?.id}}"><div class="Info Info_cz_module_Class"><svg class="Ellipse_8_module_c_sidenav"><ellipse fill="rgba(222,222,222,1)" class="Ellipse_8_c_Class" rx="14.5" ry="14.5" cx="14.5" cy="14.5"></ellipse></svg><svg class="Ellipse_10_module_c_sidenav"><ellipse fill="rgba(240,240,240,1)" class="Ellipse_10_c_Class" rx="12.5" ry="12.5" cx="12.5" cy="12.5"></ellipse></svg><svg class="Ellipse_9_module_c_sidenav"><ellipse fill="rgba(255,255,255,1)" class="Ellipse_9_c_Class" rx="10.5" ry="10.5" cx="10.5" cy="10.5"></ellipse></svg><span class="icon-info Icon_awesome_info_module_m_sidenav"></span></div>[[${module.link.module.name}]]</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="Group_3_Class"
                                th:onclick="openModuleNav()">
                                <svg class="Ellipse_8_dc">
			                        <ellipse fill="rgba(222,222,222,1)"
	                                        class="Ellipse_8_dc_Class"
	                                        rx="19.5" ry="19.5" cx="19.5"
	                                        cy="19.5">
			                        </ellipse>
		                    	</svg>
                                <svg class="Ellipse_10_dd">
			                        <ellipse fill="rgba(240,240,240,1)"
	                                        class="Ellipse_10_dd_Class"
	                                        rx="16.5" ry="16.5" cx="16.5"
	                                        cy="16.5">
			                        </ellipse>
		                    	</svg>
                                <svg class="Ellipse_9_de">
			                        <ellipse fill="rgba(255,255,255,1)"
	                                        class="Ellipse_9_de_Class"
	                                        rx="13.5" ry="13.5" cx="13.5"
	                                        cy="13.5">
			                        </ellipse>
			                    </svg>
                                <span class="icon-grid-dots moduleBarPosition"></span>
                            </div>
                        </div>
                        <div class="text-Div" >
                            <h3 class="spaceName">
                                [[${space.name}]] <span
                                    th:if="${!#strings.isEmpty(space.description)}"
                                    class="icon-info-circle"
                                    style="font-size: 20px; color: rgba(150, 45, 62, 1);"
                                    th:onclick="openSpaceDescription()"></span>
                                <a sec:authorize="isAuthenticated()"
                                    th:href="@{|/staff/space/${space?.id}|}"><span
                                    style="display: inline-block; color: rgba(150, 45, 62, 1);">
                                    <span class="icon-esit" style="display: inline-block;"></span></span></a>
                            </h3>
                        </div>

                        <div id="space">

                            <img
                                th:style="|max-width: ${space.image?.width}px; border-radius: 13px; width: 100%;|"
                                id="bgImage" th:src="@{'/api/image/'+${space.image?.id}}"/>
                        </div>
                    </div>
                    <div id="rightContent" th:if="${space.description!=NULL}">
                        <span class="icon-circle-close closebtn" th:onclick="closeSpaceDescription()"></span>
                        <div class="spaceDescription">[[${space.description}]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
