
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Virtual Spaces</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/resources/bootstrap-4.1.2/css/bootstrap.min.css}" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link th:href="@{/resources/bootstrap/assets/css/ie10-viewport-bug-workaround.css}" type="text/css" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/resources/bootstrap/grid.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Module_1.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Module_1_slideshow_1.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Home.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Sequence.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/diging-icon-pack.css}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<script src="https://cdn.jsdelivr.net/npm/shepherd.js@5.0.1/dist/js/shepherd.js"></script>

<script th:src="@{/resources/bootstrap/assets/js/ie-emulation-modes-warning.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script th:src="@{/resources/bootstrap-4.1.2/assets/js/popper.min.js}"></script>
<script th:src="@{/resources/bootstrap-4.1.2/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/bootstrap/js/main.js}"></script>
<script th:src="@{/resources/extra/dateFormat.min.js}"></script>
<script th:src="@{/resources/extra/bootbox.min.js}"></script>
<script src="//use.fontawesome.com/releases/v5.8.1/js/all.js" data-auto-replace-svg="nest"></script>

<script th:inline="javascript">
      //# sourceURL=date.js
  $(document).ready(function () {
    var longDateFormat = 'MMM dd, yyyy, HH:mm:ss';

    jQuery(".date").each(function (idx, elem) {
      if (jQuery(elem).is(":input")) {
        jQuery(elem).val(DateFormat.format.date(jQuery(elem).val(), longDateFormat));
      } else {
        jQuery(elem).text(DateFormat.format.date(jQuery(elem).text(), longDateFormat));
      }
    });
    $('#deleteAlert').delay(2000).fadeOut();
    $("#closeAlert").click(function() {
	  	$('#errorMsg').hide();
	  });
  });
</script>

   <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--  <script>window.jQuery || document.write('<script th:src="@{../../assets/js/vendor/jquery-slim.min.js}"><\/script>')</script> -->

    <!-- Icons -->
<script src="//unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
</head>
<body style="background: var(--base-grey)">
    <div th:insert="layouts/navbar_staff :: navbar"></div>
    <div style="width: 80%; margin: 0 0 0 auto;">
    <div th:if="${#strings.equals(#request.getParameter('showAlert'),'true')}" id="errorMsg" class="alert customWindow" th:classappend="${#strings.equals(#request.getParameter('alertType'),'success')} ? alert-success : alert-danger">
         [[${#request.getParameter('message')}]]
         <button type="button" class="close" id="closeAlert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
         </button>
    </div>
    <div layout:fragment="content">
    </div>
    </div>
</body>
</html>