<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Virtual Spaces</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link th:href="@{/resources/bootstrap/assets/css/ie10-viewport-bug-workaround.css}" type="text/css" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/resources/bootstrap/grid.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Module_1.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Module_1_slideshow_1.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Home.css}" type="text/css" rel="stylesheet">
<link th:href="@{/resources/extra/Sequence.css}" type="text/css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="<c:url value="/resources/bootstrap/assets/js/ie8-responsive-file-warning.js" />"></script><![endif]-->
<script th:src="@{/resources/bootstrap/assets/js/ie-emulation-modes-warning.js}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/bootstrap/js/main.js}"></script>

<script th:inline="javascript">
      //# sourceURL=date.js
  $(document).ready(function () {
    var longDateFormat = 'MMM dd, yyyy, HH:mm:ss';

    jQuery(".date").each(function (idx, elem) {
      if (jQuery(elem).is(":input")) {
        jQuery(elem).val(DateFormat.format.date(jQuery(elem).val(), longDateFormat));
      } else {
        jQuery(elem).text(DateFormat.format.date(jQuery(elem).text(), longDateFormat));
      }
    });

    $('#deleteAlert').delay(2000).fadeOut();
  });
</script>

<script th:src="@{/resources/extra/dateFormat.min.js}"></script>
<script th:src="@{/resources/extra/bootbox.min.js}"></script>

   <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script th:src="@{../../assets/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<script th:src="@{/resources/bootstrap-4.1.2/assets/js/popper.min.js}"></script>
<script th:src="@{/resources/bootstrap-4.1.2/js/bootstrap.min.js}"></script>

    <!-- Icons -->
<script th:src="@{https://unpkg.com/feather-icons/dist/feather.min.js}"></script>
<script>
  feather.replace()
</script>
</head>

<body>
	<div th:insert="layouts/navbar_staff :: navbar"></div>
	<div th:insert="staff/dashboard/menu/dashboard_menu :: dashboard_menu"></div>
    <div layout:fragment="content"></div>
</body>
</html>