<html layout:decorate="~{layouts/main}">
	<head>
	
	</head>
	
	<body>
		<div th:fragment="navbar">
			<nav class="nav-bar" style="height:48px">
		      <a class="navbar-brand" href="#"><img th:src="@{/resources/maintenance/img/logo-11.png}" alt="Virtual Spaces logo" width="100px"></a>
		      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button> -->
		      <div class="nav" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto" style="list-style: none;">
		          <li class="nav-item active" style="padding: 25px;">
		            <a class="nav-link" th:href="@{/}"><i class="far fa-play-circle secondary"></i>
                        <span class="sr-only">(current)</span>
                    </a>
		          </li> 
				  <li sec:authorize="hasAnyRole('ROLE_STAFF','ROLE_ADMIN')" class="nav-item active" style="padding: 25px;">
					<a class="nav-link" th:href="@{/staff/dashboard}"><i class="fas fa-tachometer-alt secondary"></i>
						<span class="sr-only">(current)</span>
					</a>
				  </li>
                  
                 <!--  <li class="nav-item active" style="padding: 15px;">
                    <a class="nav-link" th:href="@{/}"><i class="far fa-play-circle secondary"></i></a>
                  </li> 
                  <li class="nav-item active" style="padding: 15px;">
                    <a class="nav-link" th:href="@{/staff/exhibit/config}"><i class="fa fa-cog secondary"></i></a>
                  </li>  -->
                  
		        </ul>
		        <div class="form-inline mt-2 mt-md-0">
		          	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		         	 	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		  				<button class="btn nav-link" type="submit" title="Logout"><i class="fas fa-sign-out-alt"></i></button>
		         	</form>
		         	<a class="btn nav-link" sec:authorize="isAnonymous()" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i></a>
		        </div>
		      </div>
		    </nav>
	    </div>
	</body>
</html>