
<html layout:decorate="~{layouts/main_staff}">
	<head>
	
	</head>
	
	<body>
		<div th:fragment="navbar">   
		    <div id="mySidenav" class="sidenav">
				<ul class="side-list">
		            <li class="nav-link alert alert-warning"
						sec:authorize="hasAnyRole('ADMIN', 'STAFF')"
						th:if="${exhibition}"
		                style="text-align: center;"
		                th:style="${#strings.equals(exhibition.mode,'ACTIVE') ? 'display: none' : 'display: block'}">
		                <span><span class="icon-warning secondary"></span></span>
		                <span th:if="${exhibition.mode == 'MAINTENANCE'}">Exhibition under maintenance</span> 
		                <span th:if="${exhibition.mode == 'OFFLINE'}">Exhibition is offline</span>
		            </li>
		            <li class="nav-item">
			            <a class="nav-link"
			               th:style="${currentPage == 'home' ? 'active' : '' }"
			               th:href="@{/staff/dashboard}">
			               <span class="icon-home secondary"></span><span class="custom_Text">&nbsp;Dashboard</span>
			               <span class="sr-only">(current)</span>
			            </a>
			        </li>
		            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
			            <a class="nav-link"
			               th:style="${currentPage == 'space' ? 'active' : '' }"
			               th:href="@{/staff/space/list}"> 
			               <span class="icon-layers secondary"></span><span class="custom_Text">&nbsp;Spaces</span>
			            </a>
			        </li>
		            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
			            <a class="nav-link"
			               th:style="${currentPage == 'module' ? 'active' : '' }"
			               th:href="@{/staff/module/list}"> 
			               <span class="icon-2x2-grid secondary"></span><span class="custom_Text">&nbsp;Modules</span>
			            </a>
			        </li>
		            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
			            <a class="nav-link"
			               th:style="${currentPage == 'images' ? 'active' : '' }"
			               th:href="@{/staff/images/list}"> 
			               <span class="icon-image secondary"></span><span class="custom_Text">&nbsp;Images</span>
			            </a>
			        </li>
		            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
			            <a class="nav-link"
			               th:style="${currentPage == 'users' ? 'active' : '' }"
			               th:href="@{/staff/user/list}"> 
			               <span class="icon-user secondary"></span><span class="custom_Text">&nbsp;Users</span>
			            </a>
			        </li>
			         <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
			            <a class="nav-link"
			               th:style="${currentPage == 'AboutPage' ? 'active' : '' }"
			               th:href="@{/staff/exhibit/about}"> 
			               <span class="icon-info secondary"></span><span class="custom_Text">&nbsp;About Page</span>
			            </a>
			        </li>
			         <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'STAFF')">
			            <a class="nav-link"
			               th:style="${currentPage == 'graph' ? 'active' : '' }"
			               th:href="@{/staff/overview}">
			               <span class="icon-network-alt secondary"></span><span class="custom_Text">&nbsp;Space Overview</span>
			            </a>
			        </li>
		        </ul>
		        <div class="footer">
		        	<a href="https://github.com/diging/virtual-spaces-2.0" style="color: var(--secondary)">
		        		Virtual Spaces 2.0</a> <span class="icon-copyright"></span> DigInG 2020
		        </div>
			</div>  
			
			<nav class="nav-bar">
		      <a class="navbar-brand" th:href="@{/}"><img th:src="@{/resources/maintenance/img/logo-11.png}" alt="Virtual Spaces logo" width="100px"></a>
		      <div class="nav" id="navbarCollapse">
		        <ul style="list-style: none; display:contents">
		          <li class="nav-item active" style="padding: 5px 15px;">
		            <a class="nav-link" th:href="@{/}"><span class="icon-play-circle secondary"></span></a>
		          </li> 
		          <li class="nav-item active" style="padding: 5px 15px;">
		            <a class="nav-link" th:href="@{/staff/exhibit/config}"><span class="icon-gear secondary"></span></a>
		          </li> 				  
		        </ul>		        
		        <div class="form-inline mt-2 mt-md-0">
		          	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		         	 	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		  				<button class="btn nav-link" type="submit" title="Logout"><span class="icon-sign-out"></span></button>
		         	</form>
		        </div>
		      </div>
		    </nav> 
          </div>
	</body>
</html>