<html layout:decorate="~{layouts/main}">
<head>
<script th:src="@{/resources/bootpag/js/bootpag.min.js}"></script>
<script th:inline="javascript">
$(document).ready(function($) {
	var searchWord = [[${searchWord}]];
	$("#space").addClass("active");
	$("#myspace").addClass("active");
	$("#myspace").addClass("show");
		
	var spaceModelAttributeValue = [[${spaceSearchResults}]];
	if(spaceModelAttributeValue.length != 0) {
       $("#spaceNoResult").hide();
       $("#spaceResultDisplay").show();
     }
     else {
        $("#spaceNoResult").show();
        $("#spaceResultDisplay").hide();
     }
		
	var moduleModelAttributeValue = [[${moduleSearchResults}]];
	if(moduleModelAttributeValue.length != 0) {
       $("#moduleNoResult").hide();
       $("#moduleResultDisplay").show();
       }
     else {
        $("#moduleNoResult").show();
        $("#moduleResultDisplay").hide();
       }  
		
	var slideModelAttributeValue = [[${slideSearchResults}]];
	if(slideModelAttributeValue.length != 0) {
       $("#slideNoResult").hide();
       $("#slideResultDisplay").show();
    }
    else {
       $("#slideNoResult").show();
       $("#slideResultDisplay").hide();
    } 
        
	var slideTextModelAttributeValue = [[${slideTextSearchResults}]];
	if(slideTextModelAttributeValue.length != 0) {
       $("#slideTextNoResult").hide();
       $("#slideTextResultDisplay").show();
    }
    else {
       $("#slideTextNoResult").show();
       $("#slideTextResultDisplay").hide();
    } 
        
$('.spacepage-selection').bootpag({
	total: [[${spaceTotalPages}]],
	page: [[${spaceCurrentPageNumber}]],
	maxVisible: 10,
	leaps: true,
	firstLastUse: true,
	first: '|<',
	last: '>|',
	wrapClass: 'pagination',
	activeClass: 'active',
	disabledClass: 'disabled',
	nextClass: 'next',
	prevClass: 'prev',
	lastClass: 'last',
	firstClass: 'first'
	}).on("page", function(event, num){
	$.ajax({
        url: "[(@{'/exhibit/search/space'})]"+'?'+"spacePagenum="+num+"&searchText="+searchWord,
		type: 'GET',
	    cache : false,
		contentType : false,
		processData : false,
	    beforeSend: function () {
	    	$(".loader").show();
	    },
	    complete: function () {
	        $(".loader").hide();
	    },
		success: function(data) {
		spaceList = data['spaces'];
		$("#spaceResultDisplay").empty();
		for(let i=0;i<spaceList.length;i++)
		{
		  var divtag = $("<div></div>");
		  divtag.attr('id',spaceList[i].id);
		  var anchor = $("<a></a>");
		  anchor.attr('href',"[(@{'/exhibit/space/'})]"+spaceList[i].id);
		  anchor.attr('class',"textDivPublic tab  btn btn-light");
		  anchor.css('width','100%');
		  var span1 = $("<span></span>");
		  span1.attr('class',"card-title");
		  span1.css('white-space',"pre-wrap");
		  span1.css('line-break',"anywhere");
		  var img = $("<img></img>");
		  img.attr('src',"[(@{'/api/image/'})]"+spaceList[i].image.id);
		  img.attr('class',"searchImg");
		  span1.append(img);
		  var span2 = $("<span>"+'Space:'+"</span>");
		  span2.css('color','var(--dark-grey)');
		  span1.append(span2);
		  span1.append(spaceList[i].name+'<br>');
		  var span3 = $("<span>"+'Description:'+"</span>");
		  span3.css('color','var(--dark-grey)');
		  span1.append(span3);
		  span1.append(spaceList[i].description);
		  anchor.append(span1);
		  divtag.append(anchor);
		  $("#spaceResultDisplay").append(divtag);
		}
		  }
			});
	    });
        
$('.modulepage-selection').bootpag({
	total: [[${moduleTotalPages}]],
	page: [[${moduleCurrentPageNumber}]],
	maxVisible: 10,
	leaps: true,
	firstLastUse: true,
	first: '|<',
	last: '>|',
	wrapClass: 'pagination',
	activeClass: 'active',
	disabledClass: 'disabled',
	nextClass: 'next',
	prevClass: 'prev',
	lastClass: 'last',
	firstClass: 'first'
	}).on("page", function(event, num){
	$.ajax({
		url: "[(@{'/exhibit/search/module'})]"+'?'+"modulePagenum="+num+"&searchText="+searchWord,
		type: 'GET',
		cache : false,
		contentType : false,
		processData : false,
	    beforeSend: function () {
	    	$(".loader").show();
	    },
	    complete: function () {
	        $(".loader").hide();
	    },
	    success: function(data) {
		moduleList = data['modules'];
		moduleImageIdMap = data['moduleImageIdMap'];	
		isModuleConfiguredMap = data['moduleAlertMessages'];
		$("#moduleResultDisplay").empty();
		for(let i=0;i<moduleList.length;i++)
		{
			var isModuleConfigured = isModuleConfiguredMap[moduleList[i].id];	
			if(isModuleConfigured) {
				var divtag = $("<div></div>");
			 	divtag.attr('id',moduleList[i].id);
				var anchor = $("<a></a>");
				anchor.attr('href',"[(@{'/exhibit/'})]" +moduleList[i].spaceId+'/module/'+moduleList[i].id);
				anchor.attr('class',"textDivPublic tab  btn btn-light");
				anchor.css('width','100%');
				var img = $("<img></img>");
				var firstSlideFirstImageId = moduleImageIdMap[moduleList[i].id];
				if(firstSlideFirstImageId == null) {
					img.attr('src',"[(@{'/resources/images/'})]"+'placeholder.png');
				}
				else {
			  		img.attr('src',"[(@{'/api/image/'})]"+firstSlideFirstImageId);
			 	}
			 	img.attr('class',"searchImg");
				anchor.append(img);
				var span1 = $("<span></span>");
				span1.attr('class',"card-title");
				span1.css('white-space',"pre-wrap");
				span1.css('line-break',"anywhere");
			    var span2 = $("<span>"+'Module:'+"</span>");
				span2.css('color','var(--dark-grey)');
				span1.append(span2);
				span1.append(moduleList[i].name+'<br>');
				var span3 = $("<span>"+'Description:'+"</span>");
				span3.css('color','var(--dark-grey)');
				span1.append(span3);
				span1.append(moduleList[i].description);
				anchor.append(span1);
				divtag.append(anchor);
				$("#moduleResultDisplay").append(divtag);
			} 
			else {	
				var divtag = $("<div></div>");	
				divtag.attr('id',moduleList[i].id); 
				divtag.attr('class',"col-md-12  tab  btn btn-light");
				var anchor = $("<a></a>");
				anchor.attr('href',"[(@{'/exhibit/'})]" +moduleList[i].spaceId+'/module/'+moduleList[i].id);
				anchor.css('width','100%');
				var span1 = $("<span></span>");	
				span1.attr('class',"card-title");	
				span1.css('white-space',"pre-wrap");	
				span1.css('line-break',"anywhere");	
				var span2 = $("<span>"+'Module:'+"</span>");	
				span2.css('color','var(--dark-grey)');	
				span1.append(span2);
				span1.append(moduleList[i].name+'<br>');
				anchor.append(span1);
				anchor.append('<br>');
				var span3 = $("<span></span>");	
				span3.append("The module has not been configured yet.");
				anchor.append(span3);
				divtag.append(anchor);	
				$("#moduleResultDisplay").append(divtag);	
			}	
		}	
	}	
});	
});
        
$('.slidepage-selection').bootpag({
	total: [[${slideTotalPages}]],
	page: [[${slideCurrentPageNumber}]],
	maxVisible: 10,
	leaps: true,
	firstLastUse: true,
	first: '|<',
	last: '>|',
    wrapClass: 'pagination',
	activeClass: 'active',
	disabledClass: 'disabled',
	nextClass: 'next',
	prevClass: 'prev',
	lastClass: 'last',
    firstClass: 'first'
	}).on("page", function(event, num){
	$.ajax({
	    url: "[(@{'/exhibit/search/slide'})]"+'?'+"slidePagenum="+num+"&searchText="+searchWord,
		type: 'GET',
		cache : false,
		contentType : false,
		processData : false,
	    beforeSend: function () {
	    	$(".loader").show();
	    },
	    complete: function () {
	        $(".loader").hide();
	    },
		success: function(data) {
		slideList = data['slides'];
		firstImageOfSlide = data['firstImageOfSlide'];
		$("#slideResultDisplay").empty();
		for(let i=0;i<slideList.length;i++) {
			var divtag = $("<div></div>");
			divtag.attr('id',slideList[i].id);
			var anchor = $("<a></a>");
			anchor.attr('href',"[(@{'/exhibit/'})]"+slideList[i].spaceId+'/module/'+slideList[i].module.id+'/sequence/'+ slideList[i].startSequenceId + '/slide/'+slideList[i].id);
		 	anchor.attr('class',"textDivPublic tab  btn btn-light");
		 	anchor.css('width','100%');
		 	var img = $("<img></img>");
		 	var slideFirstImageId = firstImageOfSlide[slideList[i].id];
		 	if(slideFirstImageId == null) {
		  		img.attr('src',"[(@{'/resources/images/'})]"+'placeholder.png');
		 	}
		 	else {
		  		img.attr('src',"[(@{'/api/image/'})]"+slideFirstImageId);
		 	}
		  	img.attr('class',"searchImg");
		  	anchor.append(img);
		  	var span1 = $("<span></span>");
		  	span1.attr('class',"card-title");
		  	span1.css('white-space',"pre-wrap");
		  	span1.css('line-break',"anywhere");
		  	var span2 = $("<span>"+'Slide:'+"</span>");
		  	span2.css('color','var(--dark-grey)');
		  	span1.append(span2);
		  	span1.append(slideList[i].name+'<br>');
		  	var span3 = $("<span>"+'Description:'+"</span>");
		  	span3.css('color','var(--dark-grey)');
		  	span1.append(span3);
		  	span1.append(slideList[i].description);
		  	anchor.append(span1);
		  	divtag.append(anchor);
		  	$("#slideResultDisplay").append(divtag);
		}
	}
});
});
		  
$('.slideTextPage-selection').bootpag({
	total: [[${slideTextTotalPages}]],
	page: [[${slideTextCurrentPageNumber}]],
	maxVisible: 10,
    leaps: true,
	firstLastUse: true,
	first: '|<',
	last: '>|',
	wrapClass: 'pagination',
	activeClass: 'active',
	disabledClass: 'disabled',
	nextClass: 'next',
	prevClass: 'prev',
	lastClass: 'last',
	firstClass: 'first'
	}).on("page", function(event, num){
	$.ajax({
		url: "[(@{'/exhibit/search/slideText'})]"+'?'+"slideTextPagenum="+num+"&searchText="+searchWord,
		type: 'GET',
		cache : false,
		contentType : false,
		processData : false,
	    beforeSend: function () {
	    	$(".loader").show();
	    },
	    complete: function () {
	        $(".loader").hide();
	    },
		success: function(data) {
		slideTextList = data['slidesWithMatchedTextBlock'];
		slideToFirstImageMap = data['slideToFirstImageMap'];
		slideToFirstTextBlockMap = data['slideToFirstTextBlockMap'];
		$("#slideTextResultDisplay").empty();
		for(let i=0;i<slideTextList.length;i++) {
			var divtag = $("<div></div>");
			divtag.attr('id',slideTextList[i].id);
			var anchor = $("<a></a>");
			anchor.attr('href',"[(@{'/exhibit/'})]"+slideTextList[i].spaceId+'/module/'+slideTextList[i].module.id+'/sequence/'+ slideTextList[i].startSequenceId + '/slide/'+slideTextList[i].id);
			anchor.attr('class',"textDivPublic tab  btn btn-light");
			anchor.css('width','100%');
			var img = $("<img></img>");
			var slideTextFirstImageId = slideToFirstImageMap[slideTextList[i].id];
		 	if(slideTextFirstImageId == null) {
		  		img.attr('src',"[(@{'/resources/images/'})]"+'placeholder.png');
		 	}
			else {
		  		img.attr('src',"[(@{'/api/image/'})]"+slideTextFirstImageId);
			}
			img.attr('class',"searchImg");
			anchor.append(img);
			var span1 = $("<span></span>");
			span1.attr('class',"card-title");
			span1.css('white-space',"pre-wrap");
			span1.css('line-break',"anywhere");
			var span2 = $("<span>"+'Slide:'+"</span>");
			span2.css('color','var(--dark-grey)');
		    span1.append(span2);
			span1.append(slideTextList[i].name+'<br>');
			anchor.append(span1);
			firstMatchedTextBlock = slideToFirstTextBlockMap[slideTextList[i].id];	
			var span4 = $("<span></span>");	
			span4.append(firstMatchedTextBlock);	
			span1.append(span4);	
			anchor.append(span1);	
			divtag.append(anchor);	
			$("#slideTextResultDisplay").append(divtag);
	   }
	}
});
});
});
</script>
<style>
.pagination>li>a {
	border: 1px solid #A55941;
	padding: 5px;
	color: #A55941;
	font-size: 15px;
}

.pagination>li.active>a {
	background: #A55941;
	color: #fff;
	font-size: 15px;
}

a.nav-link.active.show {
	border-color: transparent;	
	border-bottom: 4px solid var(--primary);	
	color: var(--primary) !important;	
	background: transparent;	
	font-weight: 600;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<ul class="nav-tabs nav">
				<li class="nav-item">
					<a href="#space" id="myspace" class="nav-link"
						style="padding: .5rem 2rem" data-toggle="tab">
						Space
						<span>([[${spaceCount}]])</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#module" id="mymodule" class="nav-link"
						style="padding: .5rem 2rem" data-toggle="tab">
						Module
						<span>([[${moduleCount}]])</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#slide" id="myslide" class="nav-link"
						style="padding: .5rem 2rem" data-toggle="tab">
						Slide
						<span>([[${slideCount}]])</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#slideText" id="myslideText" class="nav-link"
						style="padding: .5rem 2rem" data-toggle="tab">
						Slide Content
						<span>([[${slideTextCount}]])</span>
					</a>
				</li>
			</ul>
			<div class="tab-content container">

				<div class="tab-pane" id="space">
					<br>
					<div class="spacepage-selection"></div>
					<div>
						<h3 th:if=" ${spaceCount<10}">Found [[${spaceCount}]] result</h3>
						<h3 th:if=" ${spaceCount>=10}">Found [[${spaceCount}]]
							results</h3>
						<h5>
							Keyword:
							<grey> <b>[[${searchWord}]]</b></grey>
						</h5>
					</div>
					<div class="loader" style="font-size: 30px; display: none; text-align: center;">
						<span class="icon-spinner" aria-hidden="true"></span>
					</div>
					<div id="spaceNoResult">
						<h5>
							<center>No result to display.</center>
						</h5>
					</div>
					<div id="spaceResultDisplay">
						<div th:each="contents: ${spaceSearchResults}">
							<div th:id="${contents.id}">
								<a th:href="@{'/exhibit/space/'+${contents.id}}"
									class="textDivPublic tab  btn btn-light" style="width: 100%">
									<span class="card-title"
										style="white-space: pre-wrap; line-break: anywhere;"><img  class="searchImg"
										th:src="@{'/api/image/'+${contents?.image?.id}}" alt="Space image" /><span 
										style="color: var(--dark-grey)">Space:</span> [[${contents.name}]]<br><span 
                                		style="color: var(--dark-grey)">Description:</span> [[${contents.description}]]</span>
								</a>
							</div>
						</div>
					</div>
					<br>
					<div class="spacepage-selection"></div>
				</div>

				<div class="tab-pane" id="module">
					<br>
					<div class="modulepage-selection"></div>
					<div>
						<h3 th:if=" ${moduleCount<10}">Found [[${moduleCount}]]
							result</h3>
						<h3 th:if=" ${moduleCount>=10}">Found [[${moduleCount}]]
							results</h3>
						<h5>
							Keyword:
							<grey> <b>[[${searchWord}]]</b></grey>
						</h5>
					</div>
					<div class="loader" style="font-size: 30px; display: none; text-align: center;">
						<span class="icon-spinner" aria-hidden="true"></span>
					</div>
					<div id="moduleNoResult">
						<h5>
							<center>No result to display.</center>
						</h5>
					</div>
					<div id="moduleResultDisplay">
						<div th:each="contents: ${moduleSearchResults}">
							<div th:id="${contents.id}">
								<div th:if=" ${contents?.startSequence ==null}">
									<a th:href="@{'/exhibit/'+${contents.spaceId}+'/module/'+${contents.id}}" 
											style="width: 100%" class="textDivStaff tab  btn btn-light">
									<span class="card-title"
			                        style="white-space: pre-wrap; line-break: anywhere;"><span 
			                        style="color: var(--dark-grey)">Module:</span> [[${contents.name}]]</span><br>
									<span>The module has not been configured yet.</span>
									</a>
								</div>
								<div th:if=" ${contents?.startSequence !=null}">
									<a th:href="@{'/exhibit/'+${contents.spaceId}+'/module/'+${contents.id}}"
										style="width: 100%" class="textDivPublic tab  btn btn-light">
										<div th:each="slide, counter : ${contents.slides}"
											th:unless="${counter.count > 1}">
											<div th:if=" ${slide?.firstImageBlock !=null}"
												th:each="img : ${slide?.firstImageBlock}">
												<img class="searchImg"
													th:src="@{'/api/image/'+${img?.image?.id}}"
													alt="Module image" />
											</div>
											<div th:if=" ${slide?.firstImageBlock ==null}">
												<img class="searchImg"
													th:src="@{'/resources/images/placeholder.png'}" />
											</div>
										</div>
										<div th:if=" ${#lists.isEmpty(contents.slides)}">
											<img class="searchImg"
												th:src="@{'/resources/images/placeholder.png'}" />
										</div>
										<span class="card-title"
			                           		style="white-space: pre-wrap; line-break: anywhere;"><span 
			                                style="color: var(--dark-grey)">Module:</span> [[${contents.name}]]<br><span 
			                                style="color: var(--dark-grey)">Description:</span> [[${contents.description}]]</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="modulepage-selection"></div>
				</div>

				<div class="tab-pane" id="slide">
					<br>
					<div class="slidepage-selection"></div>
					<div>
						<h3 th:if=" ${slideCount<10}">Found [[${slideCount}]] result</h3>
						<h3 th:if=" ${slideCount>=10}">Found [[${slideCount}]]
							results</h3>
						<h5>
							Keyword:
							<grey> <b>[[${searchWord}]]</b></grey>
						</h5>
					</div>
					<div class="loader" style="font-size: 30px; display: none; text-align: center;">
						<span class="icon-spinner" aria-hidden="true"></span>
					</div>
					<div id="slideNoResult">
						<h5>
							<center>No result to display.</center>
						</h5>
					</div>
					<div id="slideResultDisplay">
						<div th:each="contents: ${slideSearchResults}">
							<div th:id="${contents.id}">
								<a class="textDivPublic tab  btn btn-light" style="width: 100%"
									th:href="@{'/exhibit/'+${contents.spaceId}+'/module/'+${contents.module.id}+'/sequence/'+${contents.module.startSequence.id}+'/slide/'+${contents.id}}">
									<div th:if="${not #lists.isEmpty(contents.contents)}">
										<div th:if="${contents?.firstImageBlock !=null}">
											<img
												class="searchImg"
												th:src="@{'/api/image/'+${contents?.firstImageBlock?.image?.id}}"
												alt="Slide image" />
										</div>
										<div th:if="${contents?.firstImageBlock ==null}">
											<img class="searchImg"
												th:src="@{'/resources/images/placeholder.png'}" />
										</div>
									</div>
									<div th:if="${#lists.isEmpty(contents.contents)}">
										<img class="searchImg"
											th:src="@{'/resources/images/placeholder.png'}" />
									</div>
									<span class="card-title"
		                                style="white-space: pre-wrap; line-break: anywhere;"><span 
		                                style="color: var(--dark-grey)">Slide:</span> [[${contents.name}]]<br><span 
		                                style="color: var(--dark-grey)">Description:</span> [[${contents.description}]]</span>
								</a>
							</div>
						</div>
					</div>
					<br>
					<div class="slidepage-selection"></div>
				</div>

				<div class="tab-pane" id="slideText">
					<br>
					<div class="slideTextPage-selection"></div>
					<div>
						<h3 th:if=" ${slideCount<10}">Found [[${slideTextCount}]]
							result</h3>
						<h3 th:if=" ${slideCount>=10}">Found [[${slideTextCount}]]
							results</h3>
						<h5>
							Keyword:
							<grey> <b>[[${searchWord}]]</b></grey>
						</h5>
					</div>
					<div class="loader" style="font-size: 30px; display: none; text-align: center;">
						<span class="icon-spinner" aria-hidden="true"></span>
					</div>
					<div id="slideTextNoResult">
						<h5>
							<center>No result to display.</center>
						</h5>
					</div>
					<div id="slideTextResultDisplay">
						<div th:each="contents: ${slideTextSearchResults}">
							<div th:id="${contents.id}">
								<a class="textDivPublic tab  btn btn-light" style="width: 100%"
									th:href="@{'/exhibit/'+${contents.spaceId}+'/module/'+${contents.module.id}+'/sequence/'+${contents.module.startSequence.id}+'/slide/'+${contents.id}}">
									<div th:if="${not #lists.isEmpty(contents.contents)}">
										<div th:if="${contents?.firstImageBlock !=null}">
											<img
												class="searchImg"
												th:src="@{'/api/image/'+${contents?.firstImageBlock?.image?.id}}"
												alt="Slide image" />
										</div>
										<div th:if="${contents?.firstImageBlock ==null}">
											<img class="searchImg"
												th:src="@{'/resources/images/placeholder.png'}" />
										</div>
									</div>
									<div th:if="${#lists.isEmpty(contents.contents)}">
										<img class="searchImg"
											th:src="@{'/resources/images/placeholder.png'}" />
									</div>
									<span class="card-title"
		                                style="white-space: pre-wrap; line-break: anywhere;"><span 
		                                style="color: var(--dark-grey)">Slide:</span> [[${contents.name}]]<br><span
		                                th:if="${not #lists.isEmpty(contents.contents)} AND ${contents?.getFirstMatchedTextBlock(searchWord)!=null}"
                                		>[(${contents?.getFirstMatchedTextBlock(searchWord).htmlRenderedText()})]</span>
							    	</span>
								</a>	
							</div>
						</div>
					</div>
					<br>
					<div class="slideTextPage-selection"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
