<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:inline="javascript">
	//# sourceURL=click.js
	$(document).ready(function($) {

		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});

	});
</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">

        <div class="">
            <div><h3>Search Results</h3>
            <h5>Keyword: <grey><b>[[${searchWord}]]</b></grey></h5></div>

            <div id="resultDisplay">
                <div th:each="contents: ${searchResult}">
                    <div th:id="${contents.id}"
                        th:if="${#strings.equals(contents['class'].simpleName,'Space')}">
                        <a th:href="@{'/staff/space/'+${contents.id}}"
                            class="textDivStaff tab  btn btn-light"
                            style="width: 100%"> <span
                            class="card-title"
                            style="white-space: pre-wrap; line-break: anywhere;"><img
                            style="border-radius: 25px; float: left; width: 150px; height: 150px;"
                            th:src="@{'/api/image/'+${contents?.image?.id}}" alt="Space image" /><span 
                            style="color: var(--dark-grey)">  Space:</span> [[${contents.name}]]<br><span 
                            style="color: var(--dark-grey)">  Description:</span> [[${contents.description}]]</span>
                        </a>
                    </div>

                    <div th:id="${contents.id}"
                        th:if="${#strings.equals(contents['class'].simpleName,'Module')}">
                        <th:block th:text="${conIndex.setValue('0')}" />
                        <a th:href="@{'/staff/module/'+${contents.id}}" style="width: 100%"
                            class="textDivStaff tab  btn btn-light">
                            <div th:each="slide, counter : ${contents.slides}"
                            th:unless="${counter.count > 1}">
                            <div th:each="img : ${slide.contents}"
                            th:if="${#strings.equals(img['class'].simpleName,'ImageBlock')}" th:unless="${#strings.equals(conIndex.getValue(),'1')}">
                            <img
                            style="border-radius: 25px; float: left; width: 150px; height: 150px;"
                            th:src="@{'/api/image/'+${img?.image?.id}}" alt="Module image" />
                            <th:block th:text="${conIndex.setValue('1')}" />
                            </div>
                            </div>
                            <div th:if="${#strings.equals(conIndex.getValue(),'0')}">
                                 <img  style="border-radius: 25px; float: left; width: 150px; height: 150px;"
                                 th:src="@{'/resources/images/placeholder.png'}"/>
                            </div>
                            <span class="card-title"
                            style="white-space: pre-wrap; line-break: anywhere;"><span 
                            style="color: var(--dark-grey)">  Module:</span> [[${contents.name}]]<br><span 
                            style="color: var(--dark-grey)">  Description:</span> [[${contents.description}]]</span>
                        </a>
                    </div>
                    
                    <div th:id="${contents.id}"
                        th:if="${#strings.equals(contents['class'].simpleName,'Slide')}">
                        <th:block th:text="${conIndex.setValue('0')}" />
                        <a class="textDivStaff tab  btn btn-light" style="width: 100%"
                            th:href="@{'/staff/module/'+${contents.module.id}+'/slide/'+${contents.id}}">
                            <div th:each="contentBlocks : ${contents.contents}"
                            th:if="${#strings.equals(contentBlocks['class'].simpleName,'ImageBlock')}" th:unless="${#strings.equals(conIndex.getValue(),'1')}">
                                <img th:onerror="if (this.src != '@{/resources/images/placeholder.png}') this.src = '@{/resources/images/placeholder.png}'"
                                    style="border-radius: 25px; float: left; width: 150px; height: 150px;"
                                    th:src="@{'/api/image/'+${contentBlocks?.image?.id}}" alt="Slide image" />
                                <th:block th:text="${conIndex.setValue('1')}" />
                                    
                            </div>
                            <div th:if="${#strings.equals(conIndex.getValue(),'0')}">
                                 <img  style="border-radius: 25px; float: left; width: 150px; height: 150px;"
                                 th:src="@{'/resources/images/placeholder.png'}"/>
                            </div>
                            <span class="card-title"
                            style="white-space: pre-wrap; line-break: anywhere;"><span 
                            style="color: var(--dark-grey)">  Slide:</span> [[${contents.name}]]<br><span 
                            style="color: var(--dark-grey)">  Description:</span> [[${contents.description}]]</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
