<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>
$(document).ready(function() {
	var vals = []
	var slides = []
	
	document.getElementById("newSequence").addEventListener("click", function() {
		localStorage.setItem("newSequence", true);
	});
	
	$('#ordered-slides').multiSelect({
		keepOrder : true,
		dblClick : true,
		afterInit : function(container) {
			$("#ordered-slides").find("option").each(function() {
				vals.push($(this).val());
			});
			$(".ms-selection ul").find("li").each(function(index) {
				$(this).attr('value', vals[index]);
			});
		},
		afterSelect : function(value) {
			slides = [];
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				slides.push($(this).attr('value'));					
			});
			$("#orderedSlides").val(slides);
		},
		afterDeselect : function(value, text) {
			for (var i=slides.length-1; i>=0; i--) {
    			if (String(slides[i]) === String(value)) {
    				slides.splice(i, 1);
    				break;
        		}
    		}
			$("#orderedSlides").val(slides); 
		}
	})
	$('.ms-selection ul').sortable({
		distance : 5,
		stop : function(event, ui) {
			var new_val = []
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				new_val.push($(this).attr('value'));					
			});
			$("#orderedSlides").val(new_val);
		}
	});
	
});
</script>
</head>
<body>
    <div class="main-content" layout:fragment="content">
        <h2>Add New Sequence</h2>
        <form th:action="@{'/staff/module/'+${moduleId}+'/sequence/add'}" method="POST" name="f" style="margin-top:40px">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="name">Sequence Name</label>
                <input placeholder="Name" class="form-control col-md-10" type="text" id="name" name="name" />
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="description">Description</label>
                <textarea placeholder="Description" rows="5" class="form-control col-md-10" id="description" name="description"></textarea>
            </div>
            <div class="form-group row">
                <label for="Slides">Select Slides<br>(Double click to select &nbsp; <br>and drag to reorder)</label> 
                <select multiple="multiple" id="ordered-slides">
                    <option th:each="slide: ${slides}" th:value=${slide.id} th:id=${slide.id}>[[${slide.name}]]</option>
                </select> 
                <input type="hidden" id="orderedSlides" name="orderedSlides"></input>
            </div>
            <button type="submit" id="newSequence" class="btn primary-btn">Create Sequence</button>
        </form>
    </div>
</body>
</html>