<html layout:decorate="~{layouts/main_staff}">
<head>
<link th:href="@{/resources/multiselect/css/multiselect.css}"
    type="text/css" rel="stylesheet">
<script th:src="@{/resources/multiselect/js/multiselect.min.js}"></script>

<script>
$(document).ready(function() {
	var vals = []
	var slides = []
	$('#ordered-slides').multiSelect({
		keepOrder : true,
		dblClick : true,
		afterInit : function(container) {
			$("#ordered-slides").find("option").each(function() {
				vals.push($(this).val());
			});
			$(".ms-selection ul").find("li").each(function(index) {
				$(this).attr('value', vals[index]);
			});
		},
		afterSelect : function(value) {
			slides = [];
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				slides.push($(this).attr('value'));					
			});
			$("#orderedSlides").val(slides);
		},
		afterDeselect : function(value, text) {
			for (var i=slides.length-1; i>=0; i--) {
    			if (String(slides[i]) === String(value)) {
    				slides.splice(i, 1);
    				break;
        		}
    		}
			$("#orderedSlides").val(slides); 
		}
	})
	$('.ms-selection ul').sortable({
		distance : 5,
		stop : function(event, ui) {
			var new_val = []
			$('.ms-selection ul li.ms-selected').each(function(index, value) {
				new_val.push($(this).attr('value'));					
			});
			$("#orderedSlides").val(new_val);
		}
	});
	
});
</script>
</head>
<body>
    <div class="justify-content-left" layout:fragment="content">
        <h1>Add New Sequence</h1>
        <form th:action="@{'/staff/module/'+${moduleId}+'/sequence/add'}"
            method="POST" name="f" class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-12" for="name">Sequence
                    Name:</label>
                <div class="col-sm-12">
                    <input placeholder="Name"
                        class="form-control input-sm" type="text"
                        id="name" name="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="description">Description:</label>
                <div class="col-sm-12">
                    <textarea placeholder="Description" rows="5"
                        class="form-control input-sm" id="description"
                        name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Slides" class="col-md-2 col-form-label">Select
                    Slides: <br> <small>(Double click to
                        select and drag to reorder)</small>
                </label> <select multiple="multiple" id="ordered-slides">
                    <option th:each="slide: ${slides}"
                        th:value=${slide.id} th:id=${slide.id}>[[${slide.name}]]</option>
                </select> <input type="hidden" id="orderedSlides"
                    name="orderedSlides"></input>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn primary-btn">Create
                        Sequence</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>