<html layout:decorate="~{layouts/main_staff}">
<head>
	<script th:inline="javascript">
	$(document).ready(function() { 
		var vals = []
		var slides = []
		$('#ordered-slides').multiSelect({
			keepOrder : true,
			dblClick : true,
			afterInit : function(container) {
				$("#ordered-slides").find("option").each(function() {
					vals.push($(this).val());
				});
				$(".ms-selection ul").find("li").each(function(index) {
					$(this).attr('value', vals[index]);
				});
				$('.ms-selection ul li.ms-selected').each(function(index, value) {
					slides.push($(this).attr('value'));					
				});
				$("#orderedSlides").val(slides);
			},
			afterSelect : function(value) {
				slides = [];
				$('.ms-selection ul li.ms-selected').each(function(index, value) {
					slides.push($(this).attr('value'));					
				});
				$("#orderedSlides").val(slides);
			},
			afterDeselect : function(value, text) {
				for (var i=slides.length-1; i>=0; i--) {
	    			if (String(slides[i]) === String(value)) {
	    				slides.splice(i, 1);
	    				break;
	        		}
	    		}
				$("#orderedSlides").val(slides); 
			}
		})
		
		$('.ms-selection ul').sortable({
			distance : 5,
			stop : function(event, ui) {
				var new_val = []
				$('.ms-selection ul li.ms-selected').each(function(index, value) {
					new_val.push($(this).attr('value'));					
				});
				$("#orderedSlides").val(new_val);
			}
		});
		
	    //-------- edit contentblock description Sequence starts --------
	    $("#submitDescription").hide()
	    $("#cancelEditDescription").hide()	
	    
	    $("#editDescription").click(function() {
	    	
	    	// using data-attributes
	    	var description = $("#description").data('value')  // gets value
	        $('<textarea id="newDescription" style="margin-top: 1%;" class="form-control" type="text" data-value="">'+description+'</textarea>').insertBefore( "#description" );
	        $("#description").hide()
	        $("#newDescription").val(description)
	        $("#newDescription").data('value',description);
	        $("#editDescription").hide()
	        $("#submitDescription").show()
	        $("#cancelEditDescription").show()
	        
	        
	    });

	    
	    // --- Submit Description ------
	    
	    $("#submitDescription").click(function() {
	        var formData = new FormData();
	        formData.append('description', $("#newDescription").val());
	        $.ajax({
	        url: "[(@{'/staff/module/'+${module.id}+'/sequence/'+${sequence.id}+'/edit/description'})]"+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
	        type: 'POST',
	        cache       : false,
	        contentType : false,
	        processData : false,
	        data: formData,
	        enctype: 'multipart/form-data',
	        success: function(data) {
	            // replace text box with new description
	            $("#submitDescription").hide()
	            $("#cancelEditDescription").hide()
	            $("#editDescription").show()
	            var val = $("#newDescription").val();
	            $("#description").text(val);
	            $("#editDescription").show()
	            $("#description").show() 
	            $("#description").data('value',val);
	            $("#newDescription").remove()
	        },
	        error: function(data) {
	            $(".open").removeClass("open");
	                var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
	                $('.error').append(alert);
	            }
	        });
	        
	   });
	    
	    // ---- Cancel Edited Description ----
	    
	    $("#cancelEditDescription").click(function(){
	        $("#submitDescription").hide()
	        $("#editDescription").show()
	        $("#cancelEditDescription").hide()
	        $("#newDescription").remove()
	        $("#description").show()
	        
	    });
	    
	    // ------- Edit/Save/Cancel Description ends --------
	    
	    
	    
	    //------- edit title of Sequence starts --------
	    
	    $("#submitTitle").hide();
	    $("#cancelEditTitle").hide();
	    
	    $("#editTitle").click(function() {
	    	// Using data attribute
	    	var sequenceTitle = $("#title").data('value')  // gets value without using trim function
	        $('<div class="col-4" id = "editSequenceTitle"><input id="newTitle" class="form-control" type="text"></div>').insertAfter( "#title" );
	    	$('#title').text('Sequence: ')
	        $("#newTitle").val(sequenceTitle)
	        $("#editTitle").hide()
	        $("#submitTitle").show()
	        $("#cancelEditTitle").show()
	    });
	    	
	    	
	    	
	    // ------ Submit title Sequence -------
	    	
	    $("#submitTitle").click(function() {
	        var formData = new FormData();
	        formData.append('title', $("#newTitle").val());
	        $.ajax({
	            url: "[(@{'/staff/module/'+${module.id}+'/sequence/'+${sequence.id}+'/edit/title'})]"+'?'+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
	            type: 'POST',
	            cache       : false,
	            contentType : false,
	            processData : false,
	            data: formData,
	            enctype: 'multipart/form-data',
	            beforeSend: function(){
	            	$(".blur").css("filter","blur(3px)");
	            	$("#spinner").show();
	            },
	            complete: function(){
	            	$("#spinner").hide();
	            	$(".blur").css("filter","none");
	            },
	            success: function(data) {
	                // replace text box with new description
	                $("#submitTitle").hide()
	                $("#cancelEditTitle").hide();
	                $("#editTitle").show()
	                var val = $("#newTitle").val();
	                $("#editSequenceTitle").remove()
	                $("#title").text("Sequence: " + val)
	                $("#title").data('value', val)  // sets value
	            },
	            error: function(data) {
	                var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
	                $('.error').append(alert);
	            }
	        });
	                
	      });
	    
	    
	   // ------  Edit Title Sequence ------
	   
	   $("#cancelEditTitle").click(function(){
	        $("#submitTitle").hide()
	        $("#editTitle").show()
	        $("#cancelEditTitle").hide()
	        var sequenceTitle = $("#title").data('value')  // gets value
	        $("#editSequenceTitle").remove()
	        $("#title").text("Sequence: "+sequenceTitle)
	  
	    });
	   
	});
	</script>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/staff/dashboard}">Dashboard</a></li>
			<li class="breadcrumb-item"><a th:href="@{/staff/module/list}">Modules</a></li>
			<li class="breadcrumb-item"><a th:href="@{'/staff/module/'+${module.id}}">[[${module.name}]]</a></li>
			<li class="breadcrumb-item active">[[${sequence.name}]]</li>
		</ol>
		
		<h2>
			<span style="color: var(--dark-grey)">Sequence:</span> [[${sequence.name}]]
			<i class="fa fa-info-circle black" data-toggle="tooltip" data-html="true" data-placement="top" 
					    		title="Created on <span class='date'>[[${sequence.creationDate}]]</span> by [[${sequence.createdBy}]]"></i>
		</h2>		
		<p id="description" data-value="${sequence.description}">[[${sequence.description}]]</p>
		
		
		<div id="spinner" class="loaderAjax">
			 <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		</div>
		
		<div class="flex-spacing">
			<h4>Slides</h4>
			<a th:href="@{${module.id}+'/slide/add'}" class="btn outline" >+ New Slide</a>				
		</div>
		
		<div class="grid" multiple="multiple" id="ordered-slides">
			<div th:each="slide: ${allSlides}" class="card">
				  <div class="card-body">
				    <div class="card-title">
				    	<a class="card-head" th:href="@{'/staff/module/'+${module.id}+'/slide/'+${slide.id}}">[[${slide.name}]]</a>				    	
				    	<p class="card-text">[[${slide.description}]]</p>
				    </div>
				    <div>
				    	<i class="fas fa-code-branch" th:if="${#strings.equals(slide['class'].simpleName,'BranchingPoint')}" style="margin-right: 15px"></i>
				    </div>
				  </div>
			</div>
		</div>
		
		<div id="slideSpace" class="blur">
			<form th:action="@{'/staff/module/'+${moduleId}+'/sequence/'+${sequence.id}+'/edit/slides'}" method="POST" th:object="${sequenceForm}">
				<div class="form-group row">
					<label for="Slides" class="col-md-2 col-form-label">Select
						Slides: (Double click to select and drag to reorder)
					</label> 
					<select multiple="multiple" id="ordered-slides">
						<option  th:each="slide: ${allSLides}" th:if="${!selectedSlides.contains(slide)}" th:value='${slide.id}' id="${slide.id}">[[${slide.name}]]</option>
						<option th:each="selectedSlide: ${selectedSlides}"  th:value='${selectedSlide.id}' id="${selectedSlide.id}" selected="selected">[[${selectedSlide.name}]]</option>
					</select>
					<input type="hidden" id="orderedSlides" name="orderedSlides"/>
				</div>
				<button class="btn btn-primary btn-sm" type="submit" value="submit">Save Changes</button>
			</form>
		</div>
	</div>
</body>
</html>