<html layout:decorate="~{layouts/main_staff}">
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<style type="text/css">
.EasyMDEContainer .CodeMirror-wrap{
    overflow-y: scroll;
    height: 400px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<script th:src="@{'/resources/extra/editElement.js'}"></script>
<script th:inline="javascript">

$(document).ready(function(){
	$("#imageId").select2({
		ajax: {
		    url: function (params) {
		  		var imageURL = [[@{|/staff/images/search|}]];
		  		return imageURL;
		    },
		    dataType: 'json',
		    processResults: function (data) {
		        return {
		          results: data,
		        };
		      },
		},
		templateResult: formatImage,
		templateSelection: formatSelection
    });
    
    function formatImage (image) {
    	if (!image.id) {
    		return image.text;
    	}
    	var tbaseUrl = [[@{|/api/image/|}]];
    	var $image = $(
    			'<span><img src="' + tbaseUrl + image.id + '" class="img-thumbnail" /> ' + image.text + '</span>'
    	);
    	return $image;
    };
    
    function formatSelection(image) {
    	if (!image.id) {
            return image.text;
        }
    	var tbaseUrl = [[@{|/api/image/|}]];
        var $image = $(
                '<span>' + image.text + '</span>'
        );
        $("#selectedImage").empty();
        $("#selectedImage").append('<img width="300px" src="' + tbaseUrl + image.id + '" class="img-thumbnail" />');
        return $image;
    }
});
</script>

</head>
<body>
<div class="main-content" layout:fragment="content">
	<h2>Add new Space</h2>
	
	<form method="POST" th:action="@{|/staff/space/add?${_csrf.parameterName}=${_csrf.token}|}" th:object="${space}" enctype="multipart/form-data" style="margin-top:40px">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			
			<div>
				<div class="tab" >	
					<button class="tablinks"  th:onclick="openForm(event, [[${space.defaultName.exhibitionLanguageLabel}]] )">[[${space.defaultName.exhibitionLanguageLabel}]]</button>				
							
					<div th:each= "title,  stat : ${space.names}">
					  <button class="tablinks"  th:onclick="openForm(event, [[${title.exhibitionLanguageLabel}]] )">[[${title.exhibitionLanguageLabel}]]</button>				
					</div>
				</div>
				<div>
					<div th:id = "${space.defaultName.exhibitionLanguageLabel}" class = "tabcontent">
						<p>  [[${space.defaultName.exhibitionLanguageLabel}]]</p>	
					<label for="title">Space Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${space.defaultName.localisedTextId}" th:name="defaultName.localisedTextId" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${space.defaultName.exhibitionLanguageId}" th:name="defaultName.exhibitionLanguageId" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${space.defaultName.text}" th:name="defaultName.text" ></input>
					<label for="description">Description:</label>
								<textarea class="form-control" rows="5" cols="30" id="spacePageText" th:value= "${space.defaultDescription.text}" th:name="defaultDescription.text">[[${space.defaultDescription.text}]]</textarea>
		 						<input type="hidden"   class="form-control"  id="spaceText" th:value="${space.defaultDescription.localisedTextId}" th:name="defaultDescription.localisedTextId" ></input>
								<input type="hidden" class="form-control"  id="spaceText" th:value="${space.defaultDescription.exhibitionLanguageId}" th:name="defaultDescription.exhibitionLanguageId" ></input>			
 						
 					</div>
 					
					<div th:each= "title,  stat : ${space.names}" > 
					<div th:id = "${title.exhibitionLanguageLabel}" class = "tabcontent">
						<p>  [[${title.exhibitionLanguageLabel}]]</p>	
					<label for="title">Space Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${title.localisedTextId}" th:name="|names[${stat.index}].localisedTextId|" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${title.exhibitionLanguageId}" th:name="|names[${stat.index}].exhibitionLanguageId|" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${title.text}" th:name="|names[${stat.index}].text|" ></input>
						<div th:each= "description : ${space.descriptions}"  > 								
								<label th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} "  for="description">Description:</label>
								<textarea  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control" rows="5" cols="30" id="description" th:value= "${description.text}" th:name="|descriptions[${stat.index}].text|">[[${description.text}]]</textarea>
		 						<input type="hidden"  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="spaceText" th:value="${description.localisedTextId}" th:name="|descriptions[${stat.index}].localisedTextId|" ></input>
								<input type="hidden" th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="spaceText" th:value="${description.exhibitionLanguageId}" th:name="|descriptions[${stat.index}].exhibitionLanguageId|" ></input>

		 				</div>
		 			</div>
 					</div>				
				</div>
			</div>
				
	
		<div class="form-group row">
			<label for="image" class="col-md-2 col-form-label">Background image:</label>
			<input type="file" name="file" class="form-control col-md-10" rows="5" cols="30" id="file"/>
			
		</div>
	    
	    <div class="form-group row">
	        <label for="description" class="col-md-2 col-form-label"></label>
	            <div>
	            <select id="imageId" name="imageId" class="form-control-xs target" style="height:50px;width:300px;">
	                <option selected value="">Choose from existing</option>
	            </select>   
	            </div>
	            <div>
	            <span id="selectedImage" width="300px"></span>
	            </div>
	    </div>
	
		<p style="padding-top: 20px;">
			<button class="btn primary-btn" type="submit" value="submit">Create Space</button>
		</p>
	</form>
</div>
</body>
</html>