<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet" type="text/css" id="applicationStylesheet"
    th:href="@{/resources/extra/Home.css}" />

<script src="//use.fontawesome.com/releases/v5.8.1/js/all.js"
    data-auto-replace-svg="nest"></script>

</script>
<style>

</style>
</head>

<body>
  <div layout:fragment="content" class="main-content">
        <h2>Images</h2>
        <div style="padding-bottom: 20px;">This virtual exhibition
            contains the following images.</div>
             <form id="changeOrderForm"
                           
                            method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" sort-prop="filename"><a
                        href="#">Space Name</a></th>
                    <th scope="col" sort-prop="creationDate"><a
                        href="#">Created Date</a></th>
                    <th scope="col" sort-prop="tag">Order
                     </th>
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr th:each="space:${spaces}" >
                    <td>[[${space.name}]]</td>
                    <td>[[${space.createdBy}]]</td>
                    <td><span class="date">[[${space.creationDate}]]</span></td>
                    <td>
                    </span>
                       <!--  <form id="changeOrderForm"
                            th:action="@{'/staff/spaceordering/changeorder/'"
                            method="post"> -->
                            <input  name="imageID"
                                th:value="${space.order}" id="spaceOrder" />
                        <!-- </form> -->
                        </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit">
        </form>
        <div id="page-selection"></div>
    </div>
</body>
</html>