<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet"
            href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <style type="text/css">
            .hova {
            background-color: #f2f2f2;
            }
            .EasyMDEContainer .CodeMirror-wrap{
            overflow-y: scroll;
            height: 400px;
            }
        </style>
    
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script th:inline="javascript">
  //# sourceURL=click.js
  var markDown = null;
  var defaultValue;
  
  $(document).ready(function() {
  	var timeout=null;
  	$('#slideSpace').sortable({
      	update: function(event,ui) {
      		console.log('inside sortable');
          	var jsonObj = [];
          	var blockId;
          	$(this).children().each(function(index,element){
	            	if(typeof($(element.innerHTML).filter('div').attr('data-position'))=="undefined") {
	            		blockId=$(element).attr('id');
	            	}else {
	            		blockId = $(element.innerHTML).filter('div').attr('id');
	            	}
	            	item = {}
	            	item ["id"] = blockId;
	            	item ["customOrder"] = index+1;
	            	jsonObj.push(item);
	            	$(element.innerHTML).filter('div').attr('data-position',index);
          	});
          	var token = [[${_csrf.token}]];
          	if (jsonObj.length != 0){
	            	if (timeout == null){
	            		timeout = setTimeout(updateCustomOrder(jsonObj,token), 1000);
	            	}
	            	else{
	            		clearTimeout(timeout);
	            		timeout = setTimeout(updateCustomOrder(jsonObj,token), 1000);
	            	}
          	}
      	}
  	});
  	
  });
  
  function updateCustomOrder(jsonObj,token){
	  console.log(jsonObj);
		$.ajax({
		 // ------------- adjusting content order of blocks if their position changed after dragging ----------
  		url: "[(@{'/staff/spaceordering/updateOrder'})]",
  		type: 'POST',
  		beforeSend: function(){
      		$(".loader").remove();
      		for(let i=0;i<jsonObj.length;i++) {
      			$('#'+jsonObj[i].id).append($('<div class="loader" style="font-size: 30px;display: none; text-align: center;"><i class="icon-spinner" aria-hidden="true">Saving...</i></div>'));
      		}
      		$(".loader").show();
  		},
  		complete: function(){
      		$(".loader").hide();
      		timeout = null;
  		},
  		cache       : false,
  		contentType: 'application/json; charset=utf-8',
  		processData :false,
  		headers:{
  			'X-CSRF-Token':token
  		},
  		data: JSON.stringify(jsonObj),
  		success: function(data) {
      		$(".save").remove();
      		for(let i=0;i<data.length;i++) {
          		$('#'+data[i].id).attr('data-position',data[i].contentOrder);
          		var successDiv = $('<div style="width: 250px;height: 50px;margin-left: 50px;" class="save alert alert-success alert-dismissible fade show" role="alert">');
          		successDiv.append('<p>Successfully Saved.</p>');
          		successDiv.append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
          		successDiv.append('</div>');
          		$('#'+data[i].id).append(successDiv);
      		} 
  		},
  		error: function(data) {
      		$(".errInSave").remove();
      		for(let i=0;i<data.length;i++) {
          		var errorDiv = $('<div style="width: 250px;height: 50px;" class="errInSave alert alert-danger alert-dismissible fade show" role="alert">');
          		errorDiv.append('<p>We are sorry but something went wrong. Please try again later.</p>');
          		errorDiv.append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
          		errorDiv.append('</div>');
      		}
  		}
		});
		
	}
</script>
<style>

</style>
</head>

  <body>
  	<div layout:fragment="content" class="main-content">
  		<h2>Arrange Spaces Ordering</h2>
    	<span>Drag and Drop spaces to arrange custom order in exhibition side navigation tool</span>  	
    	<div id="slideSpace"  class="main-content">
    	<div th:each="contents: ${spaces}" >
	    	<div style="cursor: pointer;" th:draggable="true" th:attr="data-position=${contents.customOrder}" th:id="${contents.id}" class="valueDiv tab row" >
	             <p class="col-md-10">[[${contents.id}]]</p>
		    </div>
    	</div>
	</div>
    </div>
  
</body>
</html>