<html layout:decorate="~{layouts/main_staff}">
<head>
<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>

<script th:src="@{'/resources/extra/editElement.js'}"></script>

</head>
<body>
	<div class="main-content" layout:fragment="content">
		<h1>Edit Space: [(${spaceForm.name})]</h1>

		<form method="POST"
			th:action='@{|/staff/space/${spaceId}/edit?${_csrf.parameterName}=${_csrf.token}|}' th:object="${spaceForm}"
			enctype="multipart/form-data" style="margin-top: 40px">
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			
			<div>
				<div class="tab" >	
					<button class="tablinks"  th:onclick="openForm(event, [[${spaceForm.defaultName.exhibitionLanguageLabel}]] )">[[${spaceForm.defaultName.exhibitionLanguageLabel}]]</button>				
					<div th:each= "title,  stat : ${spaceForm.names}">
					  <button class="tablinks"  th:onclick="openForm(event, [[${title.exhibitionLanguageLabel}]] )">[[${title.exhibitionLanguageLabel}]]</button>				
					</div>
				</div>
				<div>
					<div th:id = "${spaceForm.defaultName.exhibitionLanguageLabel}" class = "tabcontent">
					<label for="title">Space Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${spaceForm.defaultName.getLocalizedTextId()}" th:name="defaultName.localizedTextId" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${spaceForm.defaultName.exhibitionLanguageId}" th:name="defaultName.exhibitionLanguageId" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${spaceForm.defaultName.getText()}" th:name="defaultName.text" ></input>
					<label for="description">Description:</label>
								<textarea class="form-control" rows="5" cols="30" id="spacePageText" th:value= "${spaceForm.defaultDescription.text}" th:name="defaultDescription.text">[[${spaceForm.defaultDescription.text}]]</textarea>
		 						<input type="hidden"   class="form-control"  id="spaceText" th:value="${spaceForm.defaultDescription.localizedTextId}" th:name="defaultDescription.localizedTextId" ></input>
								<input type="hidden" class="form-control"  id="spaceText" th:value="${spaceForm.defaultDescription.exhibitionLanguageId}" th:name="defaultDescription.exhibitionLanguageId" ></input>			
 						
 					</div>
 					
					<div th:each= "title,  stat : ${spaceForm.names}" > 
					<div th:id = "${title.exhibitionLanguageLabel}" class = "tabcontent">
					<label for="title">Space Name:</label>
					<input type="hidden" class="form-control" id="title" th:value="${title.localizedTextId}" th:name="|names[${stat.index}].localizedTextId|" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${title.exhibitionLanguageId}" th:name="|names[${stat.index}].exhibitionLanguageId|" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${title.text}" th:name="|names[${stat.index}].text|" ></input>
						<div th:each= "description : ${spaceForm.descriptions}"  > 								
								<label th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} "  for="description">Description:</label>
								<textarea  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control" rows="5" cols="30" id="description" th:value= "${description.text}" th:name="|descriptions[${stat.index}].text|">[[${description.text}]]</textarea>
		 						<input type="hidden"  th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="spaceText" th:value="${description.localizedTextId}" th:name="|descriptions[${stat.index}].localizedTextId|" ></input>
								<input type="hidden" th:if="${description.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="spaceText" th:value="${description.exhibitionLanguageId}" th:name="|descriptions[${stat.index}].exhibitionLanguageId|" ></input>

		 				</div>
		 			</div>
 					</div>				
				</div>
			</div>
				
			
			
			<p style="padding-top: 20px;">
				<button class="btn primary-btn" type="submit" value="submit">Save Space</button>
				<a th:href="@{|/staff/space/${spaceId}|}" class="btn btn-light">Cancel</a>
			</p>
		</form>
	</div>
</body>
</html>

