<html layout:decorate="~{layouts/main_staff}">

<body>
	<div class="main-content" layout:fragment="content">
		<h1>Edit Space: [(${spaceForm.name})]</h1>

		<form method="POST"
			th:action='@{|/staff/space/${spaceId}/edit?${_csrf.parameterName}=${_csrf.token}|}' th:object="${spaceForm}"
			enctype="multipart/form-data" style="margin-top: 40px">
			<div th:each= "exhibitionLanguage : ${languageObjectList}"  > 
			
				<div class="form-group row">
					<label for="name" class="col-md-2 col-form-label">Space Name:</label> 
					<input type="hidden"  th:value="${exhibitionLanguage.label}" th:attr="name='names'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.label'"></input>
	 				<input type="text" class="form-control col-md-10" name="name" id="name" th:field= "${spaceForm.names[__${exhibitionLanguageStat.index}__].text}"></input>
	
					
		<!-- 			
					<textarea type="text" class="form-control col-md-10" id="name" rows="1" cols="30"
						 th:text="${spaceForm.name}" name="name"></textarea> -->
				</div>
	
				<div class="form-group row">
					<label for="description" class="col-md-2 col-form-label">Description:</label>
 					<input type="hidden"  th:value="${exhibitionLanguage.label}" th:attr="name='descriptions'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.label'"></input>
<!--  				<input type="hidden"  th:value="${exhibitionLanguage.id}" th:attr="name='descriptions'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.id'"></input>
 --> 				
					<textarea class="form-control col-md-10" rows="5" cols="30" id="description" name="description" th:field= "${spaceForm.descriptions[__${exhibitionLanguageStat.index}__].text}"></textarea>
					
					
<!-- 					
					<textarea class="form-control col-md-10" rows="5" cols="30"
						id="description" name="description" th:text=${spaceForm.description} ></textarea> -->
				</div>
			</div>
			<button class="btn primary-btn" type="submit" value="submit">Save Space</button>
			<a th:href="@{|/staff/space/${spaceId}|}" class="btn btn-light">Cancel</a>
		</form>
	</div>
</body>
</html>

