<html layout:decorate="~{layouts/main_staff}">
    <head>
        <script th:inline="javascript">
            var jsonMap = [[${jsonFormatMap}]];
        </script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <style>
            .links line {
            stroke: #999;
            stroke-width: 2px;
            }
            text {
            font-family: sans-serif;
            font-size: 15px;
            }
            image { 
            filter: drop-shadow(1px 1px 7px  #e39e44);
            }
            svg
            {
            width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <div>
                <center>
                    <p>Double Click On Space's Image or Module Icon to go to the respective Space or Module's Page</p>
                </center>
            </div>
            <div id="graph"></div>
            <script>
                var nodeJson = JSON.parse(jsonMap['nodesJson']);
                // Some constants controlling the graph appearance
                const PADDING_BUBBLE = 15 // distance between edge end and bubble
                const PADDING_LABEL = 30 // distance between edge end and engineer id
                const BUBBLE_SIZE_MIN = 10
                const BUBBLE_SIZE_MAX = 10
                
                var diameter = 1260,
                    radius = diameter / 2,
                    innerRadius = radius - 170; // between center and edge end
                
                // The 'cluster' function takes 1 argument as input. It also has methods (??) like cluster.separation(), cluster.size() and cluster.nodeSize()
                var cluster = d3.cluster()
                    .size([360, innerRadius]);
                
                var line = d3.radialLine()
                    .curve(d3.curveBundle.beta(0.85))
                    .radius(function (d) { return d.y; })
                    .angle(function (d) { return d.x / 180 * Math.PI; });
                
                var svg = d3.select("#graph").append("svg")
                    .attr("width", diameter)
                    .attr("height", diameter)
                    .append("g")
                    .attr("transform", "translate(" + radius + "," + radius + ")");
                
                var link = svg.append("g").selectAll(".link"),
                    label = svg.append("g").selectAll(".label"),
                    bubble = svg.append("g").selectAll(".bubble");
                
                 var root = packageHierarchy(nodeJson);
                
                    // Build an object that gives feature of each leaves
                    cluster(root);
                    leaves = root.leaves()
                
                    // Leaves is an array of Objects. 1 item = one leaf. Provides x and y for leaf position in the svg. Also gives details about its parent.
                    link = link
                        .data(getEdges(leaves))
                        .enter().append("path")
                        .each(function (d) { d.source = d[0], d.target = d[d.length - 1]; })
                        .attr("class", "link")
                        .attr("d", line)
                        .attr("fill", "none")
                        .attr("stroke", "black")
                
                    label = label
                        .data(leaves)
                        .enter().append("text")
                        .attr("class", "label")
                        .attr("dy", "0.31em")
                        .attr("transform", function (d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + PADDING_LABEL) + ",0)" + (d.x < 180 ? "" : "rotate(180)"); })
                        .attr("text-anchor", function (d) { return d.x < 180 ? "start" : "end"; })
                        .text(function (d) { return d.data.name; });
                
                    bubble = bubble
                        .data(leaves)
                        .enter().append("g")
                        .attr("class", "bubble")
                        .attr("transform", function (d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + PADDING_BUBBLE) + ",0)" })
                       
                        
                  var modules = bubble.filter(function(d,i){
                	  return d.data.module;
                	}).append("svg:foreignObject")
                        .attr("x", function(d) { return -10;})
                        .attr("y", function(d) { return -10;})
                        .attr("height", 22)
                        .attr("width", 22) 
                        .html('<span class="icon-2x2-grid secondary"></span>');
                        
                  var images =  bubble.filter(function(d,i){
                	  return !d.data.module;
                	}).append("svg:image")
                          .attr("xlink:href",  function(d) {  return d.data.img;})
                          .attr("x", function(d) { return -25;})
                          .attr("y", function(d) { return -25;}) 
                          .attr("height", 35)
                          .attr("width", 35);
                  
                  bubble.filter(function(d,i){
                 	  return !d.data.module && d.data.unpublished;
                 	}).append("svg:foreignObject")
                     .attr("x", function(d) { return -25;})
                     .attr("y", function(d) { return -5;})
                     .attr("height", 24)
                     .attr("width", 24) 
                     .html('<span class="icon-warning secondary" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space is currently unpublished."></span>');
                  
                  bubble.filter(function(d,i){
                 return !d.data.module && d.data.hideIncomingLinks;
                }).append("svg:foreignObject")
                  .attr("x", function(d) { return 1;})
                  .attr("y", function(d) { return 5;})
                  .attr("height", 24)
                  .attr("width", 24) 
                  .html('<span class="icon-close-alt hiddenLinks secondary" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space has hidden links"></span>');
                  
                  var setEvents = modules
                  .on( 'dblclick', function (d) {
                      location.href = d.data.link;
                   })
                 .on('mouseover', function(d){
                	 link.style('stroke', a=>  a.source.data.id === d.data.id || a.target.data.id === d.data.id ? '#F2A950' : "black")
                	 .style('stroke-width', a=>  a.source.data.id === d.data.id || a.target.data.id === d.data.id  ? 2 : 1)
                  })
                 .on('mouseout', function(event,d){
                	link.style('stroke', 'black')
                	.style('stroke-width', '1')
                  }); 
                  
                   var setEvents = images
                	    .on( 'dblclick', function (d) {
                	        location.href = d.data.link;
                	     })
                .on('mouseover', function(d){
                	 link.style('stroke', a=>  a.source.data.id === d.data.id || a.target.data.id === d.data.id ? '#F2A950': "black")
                	 .style('stroke-width', a=>  a.source.data.id === d.data.id || a.target.data.id === d.data.id  ? 2 : 1)
                  })
                 .on('mouseout', function(event,d){
                	link.style('stroke', 'black')
                	.style('stroke-width', '1')
                  })
                 .on( 'mouseenter', function() {
				// select element in current context
				d3.select( this )
				.transition()
				.attr("x", function(d) { return -60;})
				.attr("y", function(d) { return -60;})
				.attr("height", 300)
				.attr("width", 300);
				})
				// set back
				.on( 'mouseleave', function() {
				d3.select( this )
				.transition()
				.attr("x", function(d) { return -25;})
				.attr("y", function(d) { return -25;})
				.attr("height", 35)
				.attr("width", 35);
				});
                        
                // Lazily construct the package hierarchy from class ids.
                function packageHierarchy(classes) {
                    var map = {};
                
                    function find(id, data) {
                        var node = map[id], i;
                        if (!node) {
                            node = map[id] = data || { id: id, children: [] };
                            if (id.length) {
                                node.parent = find(id.substring(0, i = id.lastIndexOf(".")));
                                node.parent.children.push(node);
                                node.key = id.substring(i + 1);
                            }
                        }
                        return node;
                    }
                
                    classes.forEach(function (d) {
                        find(d.id, d);
                    });
                
                    return d3.hierarchy(map[""]);
                }
                
                // Return a list of edges for the given array of nodes.
                function getEdges(nodes) {
                    var map = {},
                        edges = [];
                
                    // Compute a map from id to node.
                    nodes.forEach(function (d) {
                        map[d.data.id] = d;
                    });
                
                    // For each import, construct a link from the source to target node.
                    nodes.forEach(function (d) {
                        if (d.data.edges) d.data.edges.forEach(function (i) {
                            edges.push(map[d.data.id].path(map[i]));
                        });
                    });
                
                    return edges;
                }
            </script>
        </div>
    </body>
</html>