<html>
<head>
<script th:inline="javascript">
var strNodeVal = [[${overviewNode}]],
 strlinkVal = [[${overviewLink}]];
</script>
<script src="https://d3js.org/d3.v4.min.js" ></script>
<style>
.links line {
  stroke: #999;
  stroke-width: 2px;
}
text {
  font-family: sans-serif;
  font-size: 15px;
}
image { 
 filter: drop-shadow(1px 1px 7px  #e39e44);
}
</style>
</head>
<body>
<div  th:replace="layouts/main_staff"></div>
<svg width="1520" height="650"></svg>
<script>
var nodeJson = JSON.parse(strNodeVal);
var linkJson = JSON.parse(strlinkVal);
var svg = d3.select("svg"),
	    width = +svg.attr("width"),
	    height = +svg.attr("height");

	var color = d3.scaleOrdinal(d3.schemeCategory20);

	var simulation = d3.forceSimulation()
	    .force("link", d3.forceLink().distance(150).strength(1))
	    .force("charge", d3.forceManyBody().strength(-100))
	    .force("center", d3.forceCenter(width / 2, height / 2));
		
     
	  var link = svg.append("g")
	      .attr("class", "links")
	    .selectAll("line")
	    .data(linkJson)
	    .enter().append("line");
	  
	  var node = svg.append("g")
	    .attr("class", "nodes")
	    .selectAll("g")
	    .data(nodeJson)
	    .enter().append("g")
	    .call(d3.drag()
	    .on("start", dragstarted)
	    .on("drag", dragged)
	    .on("end", dragended));
	  	    
    var modules = node.filter(function(d,i){
    	  return d.isModule;
    	}).append("svg:foreignObject")
        .attr("x", function(d) { return -10;})
        .attr("y", function(d) { return -10;})
        .attr("height", 22)
        .attr("width", 22) 
        .append("xhtml:body")
        .html('<span style="background-color:#F0F0F0 !important;" class="icon-2x2-grid secondary"></span>');
        
    
   var images = node.filter(function(d,i){
  	  return !d.isModule;
  	}).append("svg:image")
    .attr("xlink:href",  function(d) {  return d.img;})
    .attr("x", function(d) { return -25;})
    .attr("y", function(d) { return -25;}) 
    .attr("height", 100)
    .attr("width", 100);
   
   node.filter(function(d,i){
 	  return !d.isModule && d.isUnpublished;
 	}).append("svg:foreignObject")
     .attr("x", function(d) { return -5;})
     .attr("y", function(d) { return -5;})
     .attr("height", 22)
     .attr("width", 22) 
     .append("xhtml:body")
     .html('<span class="icon-warning secondary  secondary" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space is currently unpublished."></span>');

   node.filter(function(d,i){
	 	  return !d.isModule && d.isHideIncomingLinks;
	 	}).append("svg:foreignObject")
	     .attr("x", function(d) { return 20;})
	     .attr("y", function(d) { return -5;})
	     .attr("height", 22)
	     .attr("width", 22) 
	     .append("xhtml:body")
	     .html('<span class="icon-close-alt hiddenLinks secondary" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space has hidden links"></span>');

     var setEvents = modules
	    .on( 'click', function (d) {
	        location.href = d.link;
	     });
	  var setEvents = images
	    .on( 'click', function (d) {
	        location.href = d.link;
	     })

	    .on( 'mouseenter', function() {
	      // select element in current context
	      d3.select( this )
	        .transition()
	        .attr("x", function(d) { return -60;})
	        .attr("y", function(d) { return -60;})
	        .attr("height", 300)
	        .attr("width", 300);
	    })
	     // set back
	          .on( 'mouseleave', function() {
	            d3.select( this )
	              .transition()
	              .attr("x", function(d) { return -25;})
	              .attr("y", function(d) { return -25;})
	              .attr("height", 100)
	              .attr("width", 100);
	          }); 
	
	      node.filter(function(d,i){
	    	  return !d.isModule;
	    	}).append("text")
		      .text(function(d) {
			        return d.name;
			      })
			      .attr('x', 10)
			      .attr('y', 90);
	      
	      node.filter(function(d,i){
	    	  return d.isModule;
	    	}).append("text")
		      .text(function(d) {
			        return d.name;
			      })
			      .attr('x', 12)
			      .attr('y', 20);
	      
	  node.append("title")
	      .text(function(d) { return d.name; });

	  simulation
	      .nodes(nodeJson)
	      .on("tick", ticked);

	  simulation.force("link")
	      .links(linkJson);

	  function ticked() {
	    link
	        .attr("x1", function(d) { return d.source.x; })
	        .attr("y1", function(d) { return d.source.y; })
	        .attr("x2", function(d) { return d.target.x; })
	        .attr("y2", function(d) { return d.target.y; });

	    node
	        .attr("transform", function(d) {
	          return "translate(" + d.x + "," + d.y + ")";
	        })
	  }


	 function dragstarted(d) {
	  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
	  d.fx = d.x;
	  d.fy = d.y;
	}

	function dragged(d) {
	  d.fx = d3.event.x;
	  d.fy = d3.event.y;
	}

	function dragended(d) {
	  if (!d3.event.active) simulation.alphaTarget(0);
	  d.fx = null;
	  d.fy = null;
	} 
	</script>
	
</body>
</html>