
<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/extra/space.js}"></script>
<script>
    $(document).ready(function() {
        onPageReady($("#deleteSpace"), $('#confirm-space-delete'));
        $("#list").hide();
        $("#grid-btn").hide();
        
        $(function () {
	  		  $('[data-toggle="tooltip"]').tooltip()
	  	});
    });
    
    function list() {
    	$("#list").show();
    	$("#grid").hide();
    	$("#list-btn").hide();
    	$("#grid-btn").show();
    }
    
    function grid() {
    	$("#list").hide();
    	$("#list-btn").show();
    	$("#grid-btn").hide();
    	$("#grid").show();
    }
    
</script>
<style>
.unpublishedtooltiptext {
    display: none;
    color: var(--secondary);
    font-weight: bold;
    font-size: 0.875rem;
    font-family: 'Roboto', 'Quicksand';
    float: left;
}

.unpublishedSpaceClass:hover+.unpublishedtooltiptext {
    display: block;
}

.noIncomingLinkMessage {
    display: none;
    color: var(--secondary);
    font-weight: bold;
    font-size: 0.875rem;
    font-family: 'Roboto', 'Quicksand';
    float: left;
}

.noIncomingLinks:hover+.noIncomingLinkMessage {
    display: block;
}
</style>
</head>

<body>
    <div layout:fragment="content" class="main-content">
        <a th:href="@{/staff/space/add}" class="btn primary-btn btn-sm" style="float: right; margin-right: 15px">+ New Space</a>
        <h2>Spaces</h2>
        <div>
            This virtual exhibition contains the following spaces. 
            <span class="icon-play-circle secondary"></span> indicates the start space.
        </div>            
        
        <div style="text-align: right">
        	<button class="btn" onclick="list()" style="background: white; margin-right: 15px" id="list-btn">
        		<span class="icon-bulleted-list"></span></button>
        	<button class="btn" onclick="grid()" style="background: white; margin-right: 15px" id="grid-btn">
        		<span class="icon-grid-block"></span></button>
        </div>
        
        <div class="grid" id="grid">
			<div th:each="space: ${spaces}" style="width: 11.75rem;">
				<div class="status">
					<span class="icon-play-circle secondary" th:if="${startSpace != null and space.id == startSpace.id}" aria-hidden="true"></span>
					<span class="icon-warning secondary" th:if="${#strings.equals(space.spaceStatus,'UNPUBLISHED')}" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space is currently unpublished."></span>
                    <span class="icon-close-alt noIncomingLinks" th:if="${!space.hasIncomingLinks()}" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="top" title="This space has no incoming links"></span>
				</div>
				<div class="spaceImage">
                    <a th:href="@{'/staff/space/'+${space.id}}">
					<img class="card-img-top" th:src="@{'/api/image/'+${space?.image?.id}}" alt="Space image">
                    </a>
				</div>
				<div class="btn-group dropdown">
					<a th:href="@{'/staff/space/'+${space.id}}" class="btn btn-light skew" style="width: 10rem; white-space: normal;">
						<span class="card-head">[[${space.name}]]</span>
					</a>
					<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false">
					    <span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
					    <a class="dropdown-item" th:href="@{'/staff/space/'+${space.id}+'/edit'}"><span class="icon-edit"></span>&nbsp;Edit Space</a>
					    <div class="dropdown-divider"></div>
					    <a  th:onclick="javascript:checkSpaceLinkPresent('[(${space.id})]', '[(@{'/staff/'})]', '[('?'+${_csrf.parameterName}+'='+${_csrf.token})]',$('#headerSpaceValue'))"
	                        class="checkSpaceLinkPresent dropdown-item" data-toggle="modal">
	                        <span class="checkSpaceLinkPresent" id="deleteSpace">
	                        <span class="icon-trash error"></span></span>&nbsp;Delete
	                    </a>
					</div>					
				</div>
			</div>
		</div>
        
        <div id="list" style="margin-top: 40px">
        	<ul class="list-group list-group-flush" th:each="space: ${spaces}">
	            <li class="list-group-item"><span class="icon-play-circle secondary"
	                th:if="${startSpace != null and space.id == startSpace.id}"></span>
	                <a  th:href="@{'/staff/space/'+${space.id}}"> <span
	                    data-feather="box"
	                    th:if="${startSpace != null and space.id != startSpace.id}"></span>
	                    &emsp;[[${space.name}]]
	            	</a> (Created on <span class="date">[[${space.creationDate}]]</span>
	                by [[${space.createdBy}]])
	                <div class="float-right">
	                    <span class="icon-warning secondary unpublishedSpaceClass"
	                        th:if="${#strings.equals(space.spaceStatus,'UNPUBLISHED')}"
	                        ></span>
	                    <span class="unpublishedtooltiptext">This
	                        space is currently unpublished.</span> <span
	                        th:if="${!space.hasIncomingLinks()}"
	                        class="icon-close-alt secondary noIncomingLinks"
	                        aria-hidden="true"></span>
	                    <span th:if="${!space.hasIncomingLinks()}"
	                        class="noIncomingLinkMessage">This space
	                        has no incoming links.</span> <a
	                        th:onclick="javascript:checkSpaceLinkPresent('[(${space.id})]', '[(@{'/staff/'})]', '[('?'+${_csrf.parameterName}+'='+${_csrf.token})]',$('#headerSpaceValue'))"
	                        class="checkSpaceLinkPresent"
	                        data-toggle="modal"> <span
	                        class="checkSpaceLinkPresent" id="deleteSpace"
	                        style="color: #666;"><span class="icon-trash error"></span></span>
	                    </a>
	                </div>
	            </li>
	        </ul>
        </div>
        
        <div class="modal fade" id="confirm-space-delete" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-spaceValue=""
                        id="headerSpaceValue">
                        <h5 class="modal-title" id="deleteModalTitle">
                            Confirm Deletion?</h5>
                        <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">x</button>
                    </div>
                    <div class="modal-body">
                        <p id="spaceData">Are you sure you want to
                            delete ?</p>
                        <div id="warningMessage">
                            <div class="text-danger">Other spaces
                                have links to this space!</div>
                        </div>
                        <div id="exhibitionMessage">
                            <div class="text-danger">This space is
                                the start of the exhibition. Deleting it
                                will make your exhibition unavailable.</div>
                        </div>
                        <div id="finalWarning">
                            <div class="text-danger">Do you want
                                to continue?</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton"
                            class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button"
                            class="btn btn-danger btn-ok">Yes,
                            delete!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>