<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/extra/space.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        onPageReady($("#deleteSpace"), $('#confirm-space-delete'));
    });
</script>
<style>
.unpublishedtooltiptext {
    display: none;
    color: #bfb168;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: 'Quicksand';
    float: left;
}

.unpublishedSpaceClass:hover+.unpublishedtooltiptext {
    display: block;
}

.noIncomingLinkMessage {
    display: none;
    color: #bfb168;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: 'Quicksand';
    float: left;
}

.noIncomingLinks:hover+.noIncomingLinkMessage {
    display: block;
}
</style>
</head>

<body>
    <div layout:fragment="content">
        <h1>Spaces</h1>
        <div style="padding-bottom: 20px;">
            This virtual exhibition contains the following spaces. <i
                class="fa fa-play-circle" aria-hidden="true"
                style="color: #bfb168;"></i> indicates the start space.
        </div>
        <ul class="list-group list-group-flush"
            th:each="space: ${spaces}">
            <li class="list-group-item"><i
                class="fa fa-play-circle"
                th:if="${space.id == startSpace.id}" aria-hidden="true"
                style="color: #bfb168;"></i> <a
                th:href="@{'/staff/space/'+${space.id}}"> <span
                    data-feather="box"
                    th:if="${space.id != startSpace.id}"></span>
                    [[${space.name}]]
            </a> (Created on <span class="date">[[${space.creationDate}]]</span>
                by [[${space.createdBy}]]
                <div class="float-right">
                    <i
                        class="fas fa-exclamation-triangle unpublishedSpaceClass"
                        th:if="${#strings.equals(space.spaceStatus,'UNPUBLISHED')}"
                        style="color: #bfb168; padding-right: 8px;"></i>
                    <span class="unpublishedtooltiptext">This
                        space is currently unpublished.</span> <i
                        th:if="${!space.hasIncomingLinks()}"
                        class="fas fa-eye-slash noIncomingLinks"
                        aria-hidden="true"
                        style="color: #bfb168; padding-right: 8px;"></i>
                    <span th:if="${!space.hasIncomingLinks()}"
                        class="noIncomingLinkMessage">This space
                        has no incoming links.</span> <a
                        th:onclick="javascript:checkSpaceLinkPresent('[(${space.id})]', '[(@{'/staff/'})]', '[('?'+${_csrf.parameterName}+'='+${_csrf.token})]',$('#headerSpaceValue'))"
                        class="checkSpaceLinkPresent"
                        data-toggle="modal"> <span
                        class="checkSpaceLinkPresent" id="deleteSpace"
                        style="color: #666;"><i
                            class="fas fa-trash-alt"></i></span>
                    </a>
                </div></li>
        </ul>
        <div class="modal fade" id="confirm-space-delete" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-spaceValue=""
                        id="headerSpaceValue">
                        <h5 class="modal-title" id="deleteModalTitle">
                            Confirm Deletion?</h5>
                        <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">x</button>
                    </div>
                    <div class="modal-body">
                        <p id="spaceData">Are you sure you want to
                            delete ?</p>
                        <div id="warningMessage">
                            <div class="text-danger">Other spaces
                                have links to this space!</div>
                        </div>
                        <div id="exhibitionMessage">
                            <div class="text-danger">This space is
                                the start of the exhibition. Deleting it
                                will make your exhibition unavailable.</div>
                        </div>
                        <div id="finalWarning">
                            <div class="text-danger">Do you want
                                to continue?</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton"
                            class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button"
                            class="btn btn-danger btn-ok">Yes,
                            delete!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>