<html layout:decorate="~{layouts/main_staff}">
<head>
</head>
<body>
    <div class="main-content" layout:fragment="content">
        <h1>
            Bibliography: [[${biblio.title}]] <small
                style="margin-left: 10px;"><a
                th:href="@{'/staff/biblio/'+${biblio.id}+'/edit'}"><span>&nbsp;<i
                        class="fas fa-edit"></i></span></a></small>
        </h1>
        <div class="alert alert-light" role="alert">
            Created on <span class="date">[[${biblio.creationDate}]]</span>
            by [[${biblio.createdBy}]]. <br> Modified on <span
                class="date">[[${biblio.modificationDate}]]</span> by
            [[${biblio.modifiedBy}]].
        </div>

        <p><b>Author:</b> [[${biblio.author}]] </p>
        <p><b>Year:</b> [[${biblio.year}]] </p>
        <p><b>Journal:</b> [[${biblio.journal}]] </p>
        <p><b>Url:</b> [[${biblio.url}]] </p>
        <p><b>Volume:</b> [[${biblio.volume}]] </p>
        <p><b>Issue:</b> [[${biblio.issue}]] </p>
        <p><b>Pages:</b> [[${biblio.pages}]] </p>
        <p><b>Editors:</b> [[${biblio.editors}]] </p>
        <p><b>Type:</b> [[${biblio.type}]] </p>
        <p><b>Note:</b> [[${biblio.note}]] </p>
        
	<a th:href="@{'/staff/biblio/'+${biblio.id}+'/edit'}"
		class="btn primary-btn">Edit Bibliography</a>
    </div>
</body>
</html>
