<html layout:decorate="~{layouts/main_staff}">
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script th:inline="javascript">

	function addFile() {
				
		if(validate()) {
					
			var form = $("#addFileForm");
			var formData = new FormData(form[0]);
			
			$.ajax({
				type : "POST",
				url : "[(@{'/staff/files/add?'+ ${_csrf.parameterName}+'='+${_csrf.token} })] ",
				cache : false,
				enctype : 'multipart/form-data',
				contentType : false,
				processData : false,
				data : formData,
				success : function(data) {
					window.location.href = "[(@{'/staff/files/list/'})]"+'?'+"uploadFileSuccess=true&message="+data;
				},
				error : function(data) {
					var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>File upload failed. Please try again after sometime.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
					$('.errorAdd').append(alert);
				}
			});
		
		} else {
	
			var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>File name and File cannot be empty.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
			$('.errorAdd').append(alert); 
		}		
		
	}
	
	function validate() {
		var fileName = document.getElementById('fileName').value;
		var file = document.getElementById('file').files.length;
		 if(fileName == "" || fileName == null || file == 0) {
			 return false;
		 }
		 return true;
	}
</script>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <span class = "errorAdd" ></span>

	<h2>Upload new File</h2>
	 	
		<form id="addFileForm"  style="margin-top:40px">
 
 		<div class="form-group row">
			<label for="fileName" class="col-md-2 col-form-label">File Name:</label>
			<input type="text" class="form-control col-md-10" name="fileName" id="fileName" />
		</div>
	
		<div class="form-group row">
			<label for="description" class="col-md-2 col-form-label">Description:</label>
			<textarea class="form-control col-md-10" rows="5" cols="30" id="description" name="description"></textarea>
		</div>
		
		<div class="form-group row">
			<label for="file" class="col-md-2 col-form-label">File:</label>
			<input type="file" name="file" class="form-control col-md-10" rows="5" cols="30" id="file"/>
			
		</div>
	
		<button class="btn primary-btn" type="button" value="submit" onClick="addFile()">Create File</button>
	</form>
</div>
</body>
</html>