<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet" type="text/css" id="applicationStylesheet"
    th:href="@{/resources/extra/Home.css}" />

<script src="//use.fontawesome.com/releases/v5.8.1/js/all.js"
    data-auto-replace-svg="nest"></script>
<script th:src="@{'/resources/extra/space.js'}"></script>

<script th:inline="javascript">

function deleteFile(){
	var token = [[${_csrf.token}]];
	$.ajax({
        url: "[(@{'/staff/files/'+${file.id} +'/delete'})]",
        type: 'POST',
        headers:{
			'X-CSRF-Token':token
		},
        cache: false,
        contentType : false,
        success: function(data) {
        	window.location.href = "[(@{'/staff/files/list/'})]";
        },
        error: function(data) {
        	var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>We are sorry but something went wrong. Please try again later.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            $('.errorDelete').append(alert);
        }
    });
}

</script>
</head>

<body>
    <div  layout:fragment="content" class="main-content">
    <input action="action" class="btn primary-btn" type="button" onclick="history.go(-1);" value= "Back" > </input>
    
    <span class = "errorDelete"></span>
 		<div class="flex-spacing">
 			<div>
	    		<h2 th:text=${file.filename}/>
		        <p>[[${file.fileDescription}]]</p>
		        
		        
	    	</div>
 			 
 		</div>
 		<div>
 		<button class="delete btn primary-btn" type="submit" value="submit" onClick = "deleteFile()" style="float:right">
			Delete File
			</button>
 		<h3 >Edit File</h3>
 		</div>
		<div>

			<form method="POST"
				th:action='@{|/staff/files/${file.id}/update?${_csrf.parameterName}=${_csrf.token}|}'
				th:object="${fileForm}" enctype="multipart/form-data"
				style="margin-top: 40px">

				<div class="form-group row">
					<label for="fileName" class="col-md-2 col-form-label">File
						Name:</label>
					<textarea type="text" class="form-control col-md-10" id="fileName"
						rows="1" cols="30" th:text="${file.filename}" name="fileName"></textarea>
				</div>

				<div class="form-group row">
					<label for="description" class="col-md-2 col-form-label">Description:</label>
					<textarea class="form-control col-md-10" rows="5" cols="30"
						id="description" name="description"
						th:text=${file.fileDescription}></textarea>
				</div>
				<button class="btn primary-btn" type="submit" value="submit">Save
					File</button>
				<a  th:href="@{/staff/files/{id}/download(id=${file.id})}"
					class="download btn primary-btn">Download file</a>
			</form>
		</div>
		
		
		
        
   </div> 
</body>
</html>
