<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/bootpag/js/bootpag.min.js}"></script>
<script th:inline="javascript">
</script>
<style>
.pagination>li>a {
    border: 1px solid var(--primary);
    padding: 5px;
    color: var(--primary);
    font-size: 15px;
}

.pagination>li.active>a {
    background: var(--primary);
    color: #fff;
    font-size: 15px;
}

.img-thumbnail {
    height: 100px;
    width: 140px;
}
</style>
<script th:inline="javascript">
	let files = [[${files}]];
	console.log(files); 
</script>
</head>
<body>
    <div layout:fragment="content" class="main-content">
        <h2>Files</h2>
        <div style="padding-bottom: 20px;">This virtual exhibition
            contains the following files.</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" sort-prop="filename"><a
                        href="#">Filename</a></th>
                    <th scope="col" sort-prop="name"><a href="#">Original File Name</a></th>
                    <th scope="col" sort-prop="createdBy"><a
                        href="#">Created By</a></th>
                    <th scope="col" sort-prop="creationDate"><a
                        href="#">Created Date</a></th>
                     <th scope="col" sort-prop="modifiedDate"><a
                     href="#">Modified Date</a></th>
                     <th scope="col" >Edit</th>
                     
                     
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr th:each="file: ${files}">
                    <th scope="row"></th>
                    <td>[[${file.filename}]]</td>
                    <td>[[${file.createdBy}]]</td>
                    <td><span class="date">[[${file.creationDate}]]</span></td>
                    <td><span class="date">[[${file.creationDate}]]</span></td>
                    <td><a th:href="@{'/staff/files/'+${file.id}}" >Show</a></td>
                </tr>
            </tbody>
        </table>
        <div id="page-selection"></div>
    </div>
</body>
</html>