<!DOCTYPE html>
<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/bootpag/js/bootpag.min.js}">
</script>
<script th:inline="javascript">

	function triggerExhibitionDownload()
	{ 
		var loader = document.getElementById('downloadLoader');
		loader.style.visibility="visible";
		 $.ajax({
				type : "GET",
				url : "[(@{'/staff/exhibit/download/trigger?'+ ${_csrf.parameterName}+'='+${_csrf.token} })] ",
				cache : false,
				
				contentType : false,
				processData : false,
				
				success : function(data) {
					console.log(data.id);
 					downloadExhibitionFolder(data.id, data.folderName);
 					
				},
				error : function(data) {
					var loader = document.getElementById('downloadLoader');
					loader.style.visibility="hidden";
					
					var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>Snapshot could not be downloaded</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
					$('.errorAdd').append(alert);
					
					var errorAlert = document.getElementById('downloadError');
					errorAlert.style.visibility="visible";
				}
			});
	/* 	 $.ajax({
			    type: "GET",
		        url: "[[@{/staff/exhibit/download/trigger}]]",       
		        cache: false,
		        contentType : false,
		        success: function(data) {
		        	console.log(data);
		        	downloadExhibitionFolder(data);
		        },
		        error: function(data) {
					console.log("error");
		        }
		    }); */
		
	}
	function base64ToArrayBuffer(base64) {
 	    var binaryString = window.atob(base64);
 	    var binaryLen = base64.length;
	    var bytes = new Uint8Array(binaryLen);
	    for (var i = 0; i < binaryLen; i++) {
	       var ascii = binaryString.charCodeAt(i);
	       bytes[i] = ascii;
	    }
	    return bytes;
	 }
	 
	function saveByteArray(reportName, byte) {
		var fileType = "application/x-zip-compressed";
	    var blob = new Blob([byte], {type: fileType});
	    var link = document.createElement('a');
	    link.href = window.URL.createObjectURL(blob);
	    var fileName = reportName;
	    link.download = fileName;
	    link.click();
	};
	
	function downloadExhibitionFolder(id, folderName) {
		
		
		const validateResponse = (result) => {
			console.log("in validate" + result.body);
/* 			result.text().then(value => console.log(value.data)).catch(err => console.error(err));
 */			if(result.status == 200 ) {
				var loader = document.getElementById('downloadLoader');
				loader.style.visibility="hidden";
				
				var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>Snp</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
				$('.errorAdd').append(alert);
				return true;

			}
			return false;
		}
		
		
		 const download = (id, folderName) => {

				
				maxAttempts = 2;
				interval= 3000;
				  console.log('Start poll...');
				  let attempts = 0;

				  const executePoll = async (resolve, reject) => {
					    console.log('- poll');
						console.log("id" + id);
						console.log("folderName" + folderName);
					  	const  url = "[(@{'/staff/exhibit/download/checkStatus/'})]"+id+"?folderName="+folderName+','+ [[${_csrf.parameterName}]]+'='+[[${_csrf.token}]];			  
						const result = await fetch(url);
						console.log("attemps" + attempts);
					    attempts++;

					    if ( validateResponse(result)  ) {
					    	console.log("succes");
					    	
					    	
					      return resolve(result);
					    } else if (maxAttempts && attempts === maxAttempts) {
			
					      return reject(new Error('Exceeded max attempts'));
					    } else {
		  					setTimeout( executePoll, interval, resolve, reject  );
		  					var loader = document.getElementById('downloadLoader');
		  					loader.style.visibility="hidden";
		  					var alert = $('<div class="alert alert-danger alert-dismissible fade show" role="alert"><p>Snapshot could not be created</p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
		  					$('.errorAdd').append(alert);
					    }
					  };

					  return new Promise(executePoll);
			
			};
			
			download(id, folderName)
			.then(value => {
			console.log("then " + value); 
 	 		/* var sampleArr = base64ToArrayBuffer(value); 
       	    var fileName = folderName+".zip";
        	console.log(fileName)
        	saveByteArray(fileName, sampleArr); */
			}
			
        	)
			.catch(err => console.error(err)) 
		 
	}

</script>
<style>
.pagination>li>a {
    border: 1px solid var(--primary);
    padding: 5px;
    color: var(--primary);
    font-size: 15px;
}

.pagination>li.active>a {
    background: var(--primary);
    color: #fff;
    font-size: 15px;
}

.img-thumbnail {
    height: 100px;
    width: 140px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden

}


#downloadSuccess {
visibility: hidden
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="main-content">
	<span class = "errorAdd" id="downloadError"></span>
		<span class = "downloadSuccess" id="downloadSuccess"></span>
	
 	<button class="download btn primary-btn" onClick="triggerExhibitionDownload()">Download</button>
 	<div class="loader" id ="downloadLoader"> </div>
 	
 	 <h2>Downloads</h2>
	 <table class="table">
	  <thead>
                <tr>
                    <th scope="col" sort-prop="filename"><a
                        href="#">Creation date</a></th>
                    <th scope="col" sort-prop="name"><a href="#">Created by</a></th>
                
                     <th scope="col" >View</th>


                </tr>
            </thead>
	 		<tbody class="tableBody">
                <tr th:each="exhibitionDownload:  ${downloadsList}">
                    <th scope="row">[[${exhibitionDownload.creationDate}]]</th>
                 
                    <td>[[${exhibitionDownload.createdBy}]]</td>
                    <td><a th:href="@{'/staff/exhibit/download/'+${exhibitionDownload.id}(folderName=${exhibitionDownload.folderName})}" ><span class="btn primary-btn btn-sm">Download</span></a></td>
               </tr>
            </tbody>
	 
</table>
</div>
</body>
</html>