<!DOCTYPE html>
<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/bootpag/js/bootpag.min.js}">
</script>
<script th:inline="javascript">


function downloadFile(){
	$.ajax({
        url: "[(@{'/staff/download/'})]",
        type: 'GET',
        cache       : false,
        contentType : false,
        success: function(data) {
        	console.log('success');
        },
        error: function(data) {
        	console.log('could not download')
        }
    });
}
</script>
<style>
.pagination>li>a {
    border: 1px solid var(--primary);
    padding: 5px;
    color: var(--primary);
    font-size: 15px;
}

.pagination>li.active>a {
    background: var(--primary);
    color: #fff;
    font-size: 15px;
}

.img-thumbnail {
    height: 100px;
    width: 140px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="main-content">
	<a th:href="@{/staff/download}" class="download btn primary-btn" style="float: right" >Download</a>
	 <h2>Downloads</h2>
	 <table class="table">
	  <thead>
                <tr>
                    <th scope="col" sort-prop="filename"><a
                        href="#">Creation date</a></th>
                    <th scope="col" sort-prop="name"><a href="#">Created by</a></th>
                
                     <th scope="col" >View</th>


                </tr>
            </thead>
	 <tbody class="tableBody">
                <tr th:each="exhibitionDownload:  ${downloadsList}">
                    <th scope="row">[[${exhibitionDownload.creationDate}]]</th>
                 
                    <td>[[${exhibitionDownload.createdBy}]]</td>
         
                    <td><a th:href="@{'/exhibition/downloadFolder/'+${exhibitionDownload.id}}" ><span class="btn primary-btn btn-sm">Download</span></a></td>
                </tr>
            </tbody>
	 
</table>
</div>
</body>
</html>