<!DOCTYPE html>
<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:src="@{/resources/bootpag/js/bootpag.min.js}">
</script>
<script th:inline="javascript">

const triggerExhibitionDownload = async () => {

    const request = await fetch("@{/staff/exhibit/download}");
    
    const data = await request.json();
    return data;
  };
  
  const getExhibitionDownload = async (newUrl) => {
      const request = await fetch(newUrl);
      const data = await request.json();
      return data;
    }
	  
  triggerExhibitionDownload.then(response => {
	  console.log(response);
	  getExhibitionDownload.then(resource  => {
		  console.log(resource);
	  })
	  
  })

  
  
</script>
<style>
.pagination>li>a {
    border: 1px solid var(--primary);
    padding: 5px;
    color: var(--primary);
    font-size: 15px;
}

.pagination>li.active>a {
    background: var(--primary);
    color: #fff;
    font-size: 15px;
}

.img-thumbnail {
    height: 100px;
    width: 140px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="main-content">
	<span class = "errorAdd"></span>

	<a th:href="@{/staff/exhibit/download}" class="download btn primary-btn" style="float: right" >Download</a>
	 <h2>Downloads</h2>
	 <table class="table">
	  <thead>
                <tr>
                    <th scope="col" sort-prop="filename"><a
                        href="#">Creation date</a></th>
                    <th scope="col" sort-prop="name"><a href="#">Created by</a></th>
                
                     <th scope="col" >View</th>


                </tr>
            </thead>
	 <tbody class="tableBody">
                <tr th:each="exhibitionDownload:  ${downloadsList}">
                    <th scope="row">[[${exhibitionDownload.creationDate}]]</th>
                 
                    <td>[[${exhibitionDownload.createdBy}]]</td>
                    <td><a th:href="@{'/staff/exhibit/download/'+${exhibitionDownload.id}(folderName=${exhibitionDownload.folderName})}" ><span class="btn primary-btn btn-sm">Download</span></a></td>
               </tr>
            </tbody>
	 
</table>
</div>
</body>
</html>