
<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet"
	href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<style type="text/css">
.EasyMDEContainer .CodeMirror-wrap{
    overflow-y: scroll;
    height: 400px;
}
</style>
</style>

<script th:inline="javascript">
	$(document).ready(function() {
		$(".EasyMDEContainer").remove();
		markDown = new EasyMDE({element : $('#textBlockText')[0]});
	});
</script>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Exhibition About Page</h2>
		<div style="padding: 30px 0;">
			<form
				th:action="@{/staff/exhibit/about?}"
				method="POST" name="f">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<div style="padding-top: 20px;">
					<label for="title">About Page Title:</label> <input type="text"
						class="form-control" name="title" th:value="${aboutPage.title}" />
				</div>
			
				<div style="padding-top: 20px;">
					<label for="text">Text:</label>
					<textarea  id="textBlockText" rows="3"
						name="aboutPageText" th:text="${aboutPage.aboutPageText}"></textarea>
				</div>
				
				<div th:each= "exhibitionLanguage : ${languageObjectList}" > 
					<p >[[${exhibitionLanguage.label}]]</p>
					<div class="form-group row">
						<label for="title" class="col-md-2 col-form-label">About Page Title:</label>
						<!-- <input type="hidden" th:field="${aboutPageForm.titles[__${exhibitionLanguageStat.index}__].exhibitionLanguage.label}" th:value="${exhibitionLanguage?.label}"/>
 						<input type="text" class="form-control col-md-10" name="titles" th:field= "${aboutPageForm.titles[__${exhibitionLanguageStat.index}__].userText}"/> -->
 						<input type="hidden"  th:value="${exhibitionLanguage.label}" th:attr="title='titles'+[__${exhibitionLanguageStat.index}__]+'.exhibitionLanguage.label'"></input>
						<input type="text" class="form-control col-md-10" name="titles" id="title" th:field= "${aboutPageForm.titles[__${exhibitionLanguageStat.index}__].userText}"></input>
					</div>

					<div class="form-group row">
						<label for="description" class="col-md-2 col-form-label">Text:</label>
						<!-- <input hidden="true" th:field="${aboutPageForm.aboutPageTexts[__${exhibitionLanguageStat.index}__].exhibitionLanguage.label}" th:value="${exhibitionLanguage?.label}"/> -->
						<textarea class="form-control col-md-10" rows="5" cols="30" name="aboutPageTexts" th:field= "${aboutPageForm.aboutPageTexts[__${exhibitionLanguageStat.index}__].userText}"></textarea>
					</div>
				</div>
				
				
				<p style="padding-top: 20px;">
					<button class="btn primary-btn" type="submit" value="submit">Submit</button>
				</p>
			</form>
		</div>
		
	</div>
</body>
</html>