
<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet"
	href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<style type="text/css">
.EasyMDEContainer .CodeMirror-wrap{
    overflow-y: scroll;
    height: 400px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>


<script th:inline="javascript">
	$(document).ready(function() {
		$(".EasyMDEContainer").remove();
		markDown = new EasyMDE({element : $('#textBlockText')[0]});
	});
	
	function openForm(evt, label) {
			console.log(label);
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
		    tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
		    tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(label).style.display = "block";
		  evt.currentTarget.className += " active";
		}
</script>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Exhibition About Page</h2>
		<div style="padding: 30px 0;">
			<form
				th:action="@{/staff/exhibit/about?}"
				method="POST" name="f" >
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				
				
				<div>
				<div class="tab" th:each= "title,  stat : ${aboutPage.titles}">
  						<button class="tablinks" th:onclick="openForm(event, [[${title.exhibitionLanguageLabel}]] )">[[${title.exhibitionLanguageLabel}]]</button>

				
					
					<div style="padding-top: 20px;" th:each= "title,  stat : ${aboutPage.titles}" > 
					<div id = "[[${title.exhibitionLanguageLabel}]]" class = "tabcontent">
		
					<p>[[${title.exhibitionLanguageLabel}]]</p>
								
				<!-- 	  <div id="myTabGroup2" class="tabAccordion">
						  <div class="row-tab">
					     	 <input type="radio" name="myTabGroup2" id="tab4" class="tab4" checked="checked">
					      		<label for="tab4" th:utext="${title.exhibitionLangaugeLabel}">tab4</label>
					      		<div class="tab4" th:utext="${template.get('tab[0].content')}">
					      		
					      		</div>
				  			</div>
				 		 <div class="row-tab">	
					   		 <input type="radio" name="myTabGroup2" id="tab5" class="tab5">
					    	<label for="tab5" th:utext="${template.get('tab[1].title')}">tab5</label>
					    	<div class="tab5" th:utext="${template.get('tab[1].content')}"></div>
				  		</div>
						  <div class="row-tab">	
							    <input type="radio" name="myTabGroup2" id="tab6" class="tab6">
							    <label for="tab6" th:utext="${template.get('tab[2].content')}">tab6</label>
							    <div class="tab6" th:utext="${template.get('tab[2].content')}"></div>
						    </div>
				
				
					  </div> -->
					
					<label for="title">About Page Title:</label>
					<input type="hidden" class="form-control" id="title" th:value="${title.localisedTextId}" th:name="|titles[${stat.index}].localisedTextId|" ></input>
					<input type="hidden" class="form-control" id="title" th:value="${title.exhibitionLanguageId}" th:name="|titles[${stat.index}].exhibitionLanguageId|" ></input> 					
					<input type="text" class="form-control" id="title" th:value="${title.text}" th:name="|titles[${stat.index}].text|" ></input>
						<div style="padding-top: 20px;" th:each= "aboutPageText : ${aboutPage.aboutPageTexts}"  > 
								
								<label th:if="${aboutPageText.exhibitionLanguageId} == ${title.exhibitionLanguageId} "  for="aboutPageText">About Page Text:</label>
								<textarea  th:if="${aboutPageText.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control" rows="5" cols="30" id="aboutPageText" th:value= "${aboutPageText.text}" th:name="|aboutPageTexts[${stat.index}].text|">[[${aboutPageText.text}]]</textarea>
		 						<input type="hidden"  th:if="${aboutPageText.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="aboutText" th:value="${aboutPageText.localisedTextId}" th:name="|aboutPageTexts[${stat.index}].localisedTextId|" ></input>
								<input type="hidden" th:if="${aboutPageText.exhibitionLanguageId} == ${title.exhibitionLanguageId} " class="form-control"  id="aboutText" th:value="${aboutPageText.exhibitionLanguageId}" th:name="|aboutPageTexts[${stat.index}].exhibitionLanguageId|" ></input>
 					
		 					
		 				</div>
			
 						
 					</div>
 				</div>				
					</div>
				</div>
				<p style="padding-top: 20px;">
					<button class="btn primary-btn" type="submit" value="submit">Submit</button>
				</p>
	
		
			</form>
		</div>
	</div>
</body>
</html>