<html layout:decorate="~{layouts/main_staff}">
<head>
	<script>
		$(document).ready(function() {
		    var offlineMessage = $('#offlineMessage');
		    if ('[(${exhibition})]' != null && '[(${exhibition.mode})]' == 'OFFLINE') {
		        offlineMessage.show();
		    }
		    else {
		        offlineMessage.hide();
		    }
		});
		
		function modeChange(modeChosen) {
		    var offlineMessage = $('#offlineMessage');
		    if (modeChosen == 'OFFLINE') {
		        offlineMessage.show();
		    }
		    else {
		        offlineMessage.hide();
		    }
		}
	</script>
</head>

<body>
	<h1>Exhibition Configuration</h1>

	<div style="padding-bottom: 20px;">
	    <form th:action="@{/staff/exhibit/config}" method="POST">
	        <input type="hidden" value="${exhibition.id}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	        <label for="space">Select the start space of the exhibition:</label>
	        <select class="form-control" name="spaceParam" th:each="space: ${spacesList}">
	             <option id="${space.id}" value="${space.id}" th:if="${space==exhibition.startSpace}">selected [[${space.name}]]</option>
	        </select>
	        <div style="padding-top: 10px;">
	            <label for="title">Exhibition Title:</label> <input type="text" class="form-control" name="title" value="${exhibition.title}" />
	        </div>
	        <div style="padding-top: 10px;">
	            <label for="title">Exhibition Mode:</label>
	            <select th:if="mode: ${exhibitionModes}" class="form-control" name="exhibitMode" onChange="modeChange(exhibitMode.value)">
	                <option id=${mode} value=${mode} th:if="${mode==exhibition.mode}">selected [[${mode}]]</option>
	            </select>
	        </div>
	        <div id="offlineMessage" style="padding-top: 10px;" th:style="${exhibition.mode != 'OFFLINE' ? 'display: none;' : '' ">
	            <label for="title">Offline Message:</label> <input type="text"
	                class="form-control" name="customMessage"
	                value="${exhibition.customMessage}" placeholder ="This exhibition is currently offline. Please check back later."/>
	        </div>
	        <p style="padding-top: 10px;">
	            <input class="btn btn-primary" type="submit" value="Submit" />
	        </p>	
	    </form>
	</div>
</body>
</html>