
<html layout:decorate="~{layouts/main_staff}">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script th:inline="javascript">
		$(document).ready(function() {

		    $(function (){
		    	$('[data-toggle="tooltip"]').tooltip()
		    });
		    
		    var offlineMessage = $('#offlineMessage');
		    if ('[(${exhibition})]' != null && '[(${exhibition.mode})]' == 'OFFLINE') {
		        offlineMessage.show();
		    }
		    else {
		        offlineMessage.hide();
		    }		    
		});
		
		function modeChange(modeChosen) {
		    var offlineMessage = $('#offlineMessage');
		    if (modeChosen == 'OFFLINE') {
		        offlineMessage.show();
		    }
		    else {
		        offlineMessage.hide();
		    }
	
	}
</script>
<style>
.tooltiptext {
	visibility: hidden;
	width: 120px;
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 3px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	left: 238px;
	top: 146px;
	background: rgba(0, 0, 0, 0.6);
}

.previewExhb:hover .tooltiptext {
	visibility: visible;
}
</style>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Exhibition Configuration</h2>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${exhibition!=null && exhibition.previewId!=null}">
	     <p><a class="previewExhb" target="_blank" th:href="@{|/preview/${exhibition.previewId}|}"><span class="icon-visible secondary"></span> 
	     <span class="tooltiptext">Preview Exhibition</span></a>To share the Exhibition Preview provide the link 
	     <a style="color:blue;" th:href="@{|/preview/${exhibition.previewId}|}"> [[${#strings.defaultString(@environment.getProperty('baseUrl'),'')}]][[@{|/preview/${exhibition.previewId}|}]]</a></p>
	    </div>
		<div style="padding: 30px 0;">
		    <form th:action="@{/staff/exhibit/config}" method="POST" name="f">
		        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		        <input type="hidden" th:value="${exhibition?.id}" name="exhibitionParam"/>
		        <label for="space">Select the start space of the exhibition:</label>
		        <select class="form-control" name="spaceParam">
		             <option th:id="${space.id}" th:each="space: ${spacesList}" th:value="${space.id}"
		             th:selected="${#strings.equals(space.id,exhibition?.startSpace?.id)}">
		             	[[${space.name}]]
		             </option>
		        </select>
		        <div style="padding-top: 20px;">
		            <label for="title">Exhibition Title:</label> 
		            <input th:if="${exhibition!=null}" type="text" class="form-control" name="title" th:value="${exhibition.title}" />
		            <input th:if="${exhibition==null}" type="text" class="form-control" name="title" th:value="" />
		        </div>
		        <div style="padding-top: 20px;">
		            <label for="title">Exhibition Mode:</label>
		            <select class="form-control" name="exhibitMode" onChange="modeChange(exhibitMode.value)">
		                <option th:each="mode: ${exhibitionModes}" th:id=${mode} th:value=${mode} th:selected="${#strings.equals(mode,exhibition.mode)}">[[${mode}]]</option>
		            </select>
		        </div>
		         <div style="padding-top: 20px;">
		            <label for="title">Exhibition Languages: <span class="fa fa-question-circle secondary" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="right" title="To select multiple languages, hold down the shift key when selecting."></span>
                           </label>
		            <select class="form-control" name="exhibitLanguage" multiple="multiple" required>
		                <option th:each="language: ${languageList}" th:id=${language.code} th:value=${language.code} th:selected="${savedExhibitionLanguages!=null && savedExhibitionLanguages.contains(language.label)}">[[${language.label}]]</option>
		            </select>
		        </div>
		        
		        <div style="padding-top: 20px;">
		            <label for="title">Default Exhibition Language:</label>
		            <select class="form-control" name="defaultExhibitLanguage" >
		           		<option th:value="null" >----</option>
		                <option th:each="language: ${languageList}" th:id=${language.code} th:value=${language.code} th:selected="${ defaultLanguage!=null && #strings.equals(defaultLanguage.label, language.label)}">[[${language.label}]]</option>
		            </select>
		        </div>
		        <div id="offlineMessage" style="padding-top: 20px;" th:style="${exhibition.mode != 'OFFLINE' ? 'display: none;' : '' }">
		            <label for="title">Offline Message:</label> 
		            <input type="text" class="form-control" name="customMessage"
		                th:value="${exhibition.customMessage}" placeholder ="This exhibition is currently offline. Please check back later."/>
		        </div>
		        <p style="padding-top: 20px;">
		            <input class="btn primary-btn" type="submit" value="Submit" />
		        </p>	
		    </form>
		</div>
	</div>
</body>
</html>