<html layout:decorate="~{layouts/main_staff}">
<head>
<script th:inline="javascript">
	$(document).ready(function() {
		var offlineMessage = $('#offlineMessage');			
		var spaceParamExihibit = $('#spaceParamExihibit');
		var defaultImages = $('#defaultImages');
		var defaultSpaceLinkImage = [[${defaultSpaceLinkImage}]];
		var defaultModuleLinkImage = [[${defaultModuleLinkImage}]];
		var defaultExternalLinkImage = [[${defaultExternalLinkImage}]];
		/* onsole.log('DEFAULT SPACE DISBLAE FLAG 1: ', [[${defaultSpaceLinkImage.getDisableFlag()}]]);
		[[${defaultSpaceLinkImage.toggleDisableFlag()}]];
		console.log('DEFAULT SPACE DISBLAE FLAG 2: ', [[${defaultSpaceLinkImage.getDisableFlag()}]]); */
		if ([[${defaultSpaceLinkImage}]]==null) {
			$('#cancelUploadSpaceImgBtn').attr('disabled', true);
		}
		
		if ([[${defaultModuleLinkImage}]]==null) {
			$('#cancelUploadModuleImgBtn').attr('disabled', true);
		}
		
		if ([[${defaultExternalLinkImage}]]==null) {
			$('#cancelUploadExternalImgBtn').attr('disabled', true);
		}
		
		if ('[(${exhibition})]' != null && '[(${exhibition.mode})]' == 'OFFLINE') {
		    offlineMessage.show();
		} else {
		    offlineMessage.hide();
		}
		$("#changeBgImgAlert").show();

		$("#cancelUploadSpaceImgBtn").click(function() {
		    document.getElementById('spaceLinkImageBlock').value = null;
		    closeUploadSpaceLinkImage();
		    $('#cancelUploadSpaceImgBtn').attr('disabled', true);
		});
		
		$("#changeSpaceLinkImageBtn").click(function() {
			openUploadSpaceLinkImage();
		});
		
		$("#disableSpaceImage").change(function() {
			if ($(this).val()) {
				console.log('SPACE DISABLE FLAG 1: ', [[${defaultSpaceLinkImage.getDisableFlag()}]]);
				[[${defaultSpaceLinkImage.toggleDisableFlag()}]];
				console.log('SPACE DISABLE FLAG 2: ', [[${defaultSpaceLinkImage.getDisableFlag()}]]);
			}
		});

		$("#cancelUploadModuleImgBtn").click(function() {
		    document.getElementById('moduleLinkImageBlock').value = null;
		    closeUploadModuleLinkImage();
		    $('#cancelUploadModuleImgBtn').attr('disabled', true);
		});
		
		$("#changeModuleLinkImageBtn").click(function() {
			openUploadModuleLinkImage();
		});
		
		$("#disableModuleImage").click(function() {
			if ($(this).val()) {
				defaultModuleLinkImage.toggleDisableFlag();
				console.log('MOD DISABLE FLAG: ', defaultModuleLinkImage.getDisableFlag());
			}
		});

		$("#cancelUploadExternalImgBtn").click(function() {
		    document.getElementById('externalLinkImageBlock').value = null;
		    closeUploadExternalLinkImage();
		    $('#cancelUploadExternalImgBtn').attr('disabled', true);
		});
		
		$("#changeExternalLinkImageBtn").click(function() {
			openUploadExternalLinkImage();
		});
		
		$("#disableExternalImage").change(function() {
			if ($(this).val()) {
				defaultExternalLinkImage.toggleDisableFlag();
				console.log('EXT DISABLE FLAG: ', defaultExternalLinkImage.getDisableFlag());
			}
		});

		//when input's value changes
		$("#spaceLinkImageBlock").change(function() {
		    if ($(this).val()) {
		        $("#cancelUploadSpaceImgBtn").attr("disabled", false);
		    } else {
		    	$("#cancelUploadSpaceImgBtn").attr("disabled", true);
		    }
		});

		$("#moduleLinkImageBlock").change(function() {
		    if ($(this).val()) {
		    	$("#cancelUploadModuleImgBtn").attr("disabled", false);
		    } else {
		    	$("#cancelUploadModuleImgBtn").attr("disabled", true);
		    }
		});

		$("#externalLinkImageBlock").change(function() {
		    if ($(this).val()) {
		    	$("#cancelUploadExternalImgBtn").attr("disabled", false);
		    } else {
		    	$("#cancelUploadExternalImgBtn").attr("disabled", true);
		    }
		});
		
		$(".deleteDefaultLinkImage").click(function() {
			var linkType = $(this).attr('link-type');
			var token = [[${_csrf.token}]];
			$.ajax({
		        url: "[(@{/staff/exhibit/config/link/defaultImage/})]"+linkType,
		        type: 'DELETE',
		        headers:{
					'X-CSRF-Token':token
				},
		        success: function(result) {
		        	$("#" + linkType + "LinkImageBlock").css('display', 'none');
		        	$("#" + linkType + "UploadLinkImage").css('display', 'block');
		        	
		        	console.log('SUCCESS!!!!!!');
		        },
		        error: function(data) {
					console.log('FAILURE!!!!!');
		        }
		    });
		});
	});

	function modeChange(modeChosen) {
	    var offlineMessage = $('#offlineMessage');
	    
	    if (modeChosen == 'OFFLINE') {			
	        offlineMessage.show();
	    } else {
	    	offlineMessage.hide();
	    }
	}

	function defaultLinkImages() {
	    var defaultImages = $('#defaultImages');
	    defaultImages.show();
	}
	

	function openUploadSpaceLinkImage() {
	    $("#spaceUploadLinkImage").css('display', 'block');
	}

	function closeUploadSpaceLinkImage() {
	    $("#spaceUploadLinkImage").css('display', 'none');
	}

	function openUploadModuleLinkImage() {
	    $("#moduleUploadLinkImage").css('display', 'block');
	}

	
	function closeUploadModuleLinkImage() {
	    $("#moduleUploadLinkImage").css('display', 'none');
	}
	
	function openUploadExternalLinkImage() {
	    $("#externalUploadLinkImage").css('display', 'block');
	}
	

	function closeUploadExternalLinkImage() {
	    $("#externalUploadLinkImage").css('display', 'none');
	}

</script>
<style>
.defaultThumbnail {
	max-height: 125px;
	max-width: 125px;
	display: block;
}

.tooltiptext {
	width: 140px;
	color: #fff;
	font-size: 13px;
	padding: 5px 0;
	background: black;
	top: -5px;
  	right: 105%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  opacity: 1;
}

.previewExhb:hover .tooltiptext {
	visibility: visible;
}

#changeSpaceLinkImageBtn:hover .tooltiptext {
	visibility: visible;
}

#changeModuleLinkImageBtn:hover .tooltiptext {
	visibility: visible;
}

#changeExternalLinkImageBtn:hover .tooltiptext {
	visibility: visible;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
  margin: 0;
  font-size: .75rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125em;
  position: absolute;
  line-height: 1.5;
}

.slider.round:before {
  border-radius: 50%;
}

</style>
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<h2>Exhibition Configuration</h2>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${exhibition!=null && exhibition.previewId!=null}">
	     <p><a class="previewExhb" target="_blank" th:href="@{|/preview/${exhibition.previewId}|}"><span class="icon-visible secondary"></span> 
	     <span class="tooltiptext">Preview Exhibition</span></a>To share the Exhibition Preview provide the link 
	     <a style="color:blue;" th:href="@{|/preview/${exhibition.previewId}|}"> [[${#strings.defaultString(@environment.getProperty('baseUrl'),'')}]][[@{|/preview/${exhibition.previewId}|}]]</a></p>
	    </div>
		<div style="padding: 30px 0;">
		    <form th:action="@{|/staff/exhibit/config?${_csrf.parameterName}=${_csrf.token}|}" method="POST" name="f" enctype="multipart/form-data">
		        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		        <input type="hidden" th:value="${exhibition?.id}" name="exhibitionParam" id="exhibitionParam"/>
		        <label for="space">Select the start space of the exhibition:</label>
		        <select class="form-control" name="spaceParam">
		             <option th:id="${space.id}" th:each="space: ${spacesList}" th:value="${space.id}"
		             th:selected="${#strings.equals(space.id,exhibition?.startSpace?.id)}">
		             	[[${space.name}]]
		             </option>
		        </select>
		        <div style="padding-top: 20px;">
		            <label for="title">Exhibition Title:</label> 
		            <input th:if="${exhibition!=null}" type="text" class="form-control" name="title" th:value="${exhibition.title}" />
		            <input th:if="${exhibition==null}" type="text" class="form-control" name="title" th:value="" />
		        </div>
		        <div style="padding-top: 20px;">
		            <label for="title">Exhibition Mode:</label>
		            <select class="form-control" name="exhibitMode" onChange="modeChange(exhibitMode.value)">
		                <option th:each="mode: ${exhibitionModes}" th:id=${mode} th:value=${mode} th:selected="${#strings.equals(mode,exhibition.mode)}">[[${mode}]]</option>
		            </select>
		        </div>
		         <div style="padding-top: 20px;">
		            <label for="title">Exhibition Languages:</label>
		            <select class="form-control" name="exhibitLanguage" multiple="multiple" >
		                <option th:each="language: ${languageList}" th:id=${language.code} th:value=${language.code} th:selected="${savedExhibitionLanguages!=null && savedExhibitionLanguages.contains(language.label)}">[[${language.label}]]</option>
		            </select>
		        </div>
		        
		        <div style="padding-top: 20px;">
		            <label for="title">Default Exhibition Language:</label>
		            <select class="form-control" name="defaultExhibitLanguage" >
		           		<option th:value="null" >----</option>
		                <option th:each="language: ${languageList}" th:id=${language.code} th:value=${language.code} th:selected="${ defaultLanguage!=null && #strings.equals(defaultLanguage.label, language.label)}">[[${language.label}]]</option>
		            </select>
		        </div>
		        <div id="offlineMessage" style="padding-top: 20px;" th:style="${exhibition.mode != 'OFFLINE' ? 'display: none;' : '' }">
		            <label for="title">Offline Message:</label> 
		            <input type="text" class="form-control" name="customMessage"
		                th:value="${exhibition.customMessage}" placeholder ="This exhibition is currently offline. Please check back later."/>
		        </div>
                <p style="padding-top: 20px;">
                    <input class="btn primary-btn" type="submit" value="Submit" />
                </p>
            </form>
            <div style="padding-top: 20px;">
                <label>Default Space Link Image: </label>
                <div id="spaceLinkImageBlock" th:if="${defaultSpaceLinkImage != null}" class="alert alert-secondary" style="background: white;">
                	<div style="padding: 5px;">                   
	                    <span th:text="${defaultSpaceLinkImage!=null ? defaultSpaceLinkImage.getFilename():''}" style="margin-right: 10px;"></span>
	                    	<div style="float: right;">
		                    	<label class="switch">
									<input id="disableSpaceImage" type="checkbox" checked>
									<span class="slider round"></span>
								</label>
			                    <button id="changeSpaceLinkImageBtn" type="reset" class="btn primary-btn btn-sm icon-edit tooltip">
			                        <span class="tooltiptext">Change Default Space Link Image</span>
			                    </button>
			                    <button class="deleteDefaultLinkImage btn btn-sm" th:attr="link-type=space">
			                        <span class="icon-trash error"></span>
			                    </button>
		                    </div>
                    </div>
                    <img th:id="${defaultSpaceLinkImage.getId()}" class="defaultThumbnail" th:src="@{'/api/image/'+${defaultSpaceLinkImage.getId()}}"/>
                <br>      
                </div>                   
                <div id="spaceUploadLinkImage" th:style="${defaultSpaceLinkImage != null ? 'display: none;' : '' }" >                       
                    <form id="spaceUploadLinkImage" th:action="@{|/staff/exhibit/config/link/defaultImage?${_csrf.parameterName}=${_csrf.token}|}" method="POST" enctype="multipart/form-data">
                        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div id="spaceLinkImageBlock" class="alert alert-secondary" 
                            style="background: white; display: block;">                                
                            <input type="file" rows="5" cols="500" name="image"
                                id="image" accept=".png, .jpg, .jpeg, .gif, .svg" style="display: inline-block;" />
                            <input type="hidden" name="linkType" value="space" />
                            <p class="mb-0 text-right" style="float: right;">
                                <button id="cancelUploadSpaceImgBtn" type="button"
                                    class="btn light btn-sm btn-sm cancelBtn">Cancel</button>
                                <button id="uploadSpaceLinkImgBtn" type="submit" class="btn primary-btn btn-sm btn-sm">Save</button>
                            </p>
                        </div>
                    </form>
                    </div>
            </div>
            
            <div style="padding-top: 20px;">
                <label>Default Module Link Image: </label>
                <div id="moduleLinkImageBlock" th:if="${defaultModuleLinkImage != null}" class="alert alert-secondary" style="background: white;">
                	<div style="padding: 5px;">                   
                    	<span th:text="${defaultModuleLinkImage!=null ? defaultModuleLinkImage.getFilename():''}" style="margin-right: 10px;"></span>
	                    	<div style="float: right;">
	                    		<label class="switch">
									<input id="disableModuleImage" type="checkbox" checked>
									<span class="slider round"></span>
								</label>
			                    <button id="changeModuleLinkImageBtn" type="reset" class="btn primary-btn btn-sm icon-edit tooltip">
			                        <span class="tooltiptext">Change Default Module Link Image</span>
			                    </button>
			                    <button class="deleteDefaultLinkImage btn btn-sm" th:attr="link-type=module">
			                        <span class="icon-trash error"></span>
			                    </button>
		                    </div>
                    </div>
                    <img th:id="${defaultModuleLinkImage.getId()}" class="defaultThumbnail" th:src="@{'/api/image/'+${defaultModuleLinkImage.getId()}}"/>
                <br>      
                </div>                   
                <div id="moduleUploadLinkImage" th:style="${defaultModuleLinkImage != null ? 'display: none;' : '' }" >                       
                    <form id="moduleUploadLinkImage" th:action="@{|/staff/exhibit/config/link/defaultImage?${_csrf.parameterName}=${_csrf.token}|}" method="POST" enctype="multipart/form-data">
                        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div id="moduleLinkImageBlock" class="alert alert-secondary"
                            style="background: white; display: block;" >                                
                            <input type="file" rows="5" cols="500" name="image"
                                id="image" accept=".png, .jpg, .jpeg, .gif, .svg" style="display: inline-block;"/>
                            <input type="hidden" name="linkType" value="module" />
                            <p class="mb-0 text-right" style="float: right;">
                                <button id="cancelUploadModuleImgBtn" type="button"
                                    class="btn light btn-sm btn-sm">Cancel</button>
                                <button id="uploadModuleLinkImgBtn" type="submit" class="btn primary-btn btn-sm btn-sm">Save</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            
            <div style="padding-top: 20px;">
                <label>Default External Link Image: </label>
                <div id="externalLinkImageBlock" th:if="${defaultExternalLinkImage != null}" class="alert alert-secondary" style="background: white; " >
	                <div style="padding: 5px;">                   
	                		<span th:text="${defaultExternalLinkImage!=null ? defaultExternalLinkImage.getFilename():''}" style="margin-right: 10px;"></span>
		                    	<div style="float: right;">
		                    		<label class="switch">
										<input id="disableExternalImage" type="checkbox" checked>
										<span class="slider round"></span>
									</label>
				                    <button id="changeExternalLinkImageBtn" type="reset" class="btn primary-btn btn-sm icon-edit tooltip">
				                        <span class="tooltiptext">Change Default External Link Image</span>
				                    </button>
				                    <button class="deleteDefaultLinkImage btn btn-sm" th:attr="link-type=external">
				                        <span class="icon-trash error"></span>
				                    </button>
			                    </div>
	                    </div>
	                    <img th:id="${defaultExternalLinkImage.getId()}" class="defaultThumbnail" th:src="@{'/api/image/'+${defaultExternalLinkImage.getId()}}"/>                   
                <br>      
            </div>                   
            <div id="externalUploadLinkImage" th:style="${defaultExternalLinkImage != null ? 'display: none;' : '' }" >                       
                <form id="externalUploadLinkImage" th:action="@{|/staff/exhibit/config/link/defaultImage?${_csrf.parameterName}=${_csrf.token}|}" method="POST" enctype="multipart/form-data">
                    <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>                    
                    <div id="externalLinkImageBlock" class="alert alert-secondary"
                        style="background: white; display: block;" >                                
                            <input type="file" rows="5" cols="500" name="image"
                                id="image" accept=".png, .jpg, .jpeg, .gif, .svg" style="display: inline-block;"/>
                            <input type="hidden" name="linkType" value="external" />
                            <p class="mb-0 text-right" style="float: right;">
                                <button id="cancelUploadExternalImgBtn" type="button"
                                    class="btn light btn-sm btn-sm cancelBtn">Cancel</button>
                                <button id="uploadExternalLinkImgBtn" type="submit" class="btn primary-btn btn-sm btn-sm">Save</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>
</body>
</html>