<html layout:decorate="~{layouts/main_staff}">
<head>
	
</head>

<body>
	<div style="text-align:right" layout:fragment="content">
		<a th:href="@{/staff/exhibit/config}"><span data-feather="settings"></span> Configure Exhibition</a>
	</div>
	
	<h3>Spaces</h3>
	
	<div style="padding-bottom: 20px;">
		Recently created spaces:
	</div>
	
	<ul class="list-group list-group-flush" th:each="space: ${recentSpaces}">
	    <li class="list-group-item">
		  <a th:href="@{/staff/space/${space.id}}">
		    <span data-feather="box"></span> ${space.name}
		  </a>
		  (Created on <span class="date">${space.creationDate}</span> by ${space.createdBy})
	    </li>
	</ul>
	<br/>
	
	<h3>Modules</h3>
	
	<div style="padding-bottom: 20px;">
		Recently created modules:
	</div>
	
	<ul class="list-group list-group-flush" th:each="module: ${recentModules}">
	    <li class="list-group-item">
		  <a th:href="@{/staff/module/${module.id}}">
			<span data-feather="grid"></span> [[${module.name}]]
		  </a>
	      (Created on <span class="date">[[${module.creationDate}]]</span> by [[${module.createdBy})]]
	    </li>
	</ul>
</body>
</html>