<html layout:decorate="~{layouts/main_staff}">
<head>
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		});
	</script>
</head>
<body>
<div class="justify-content-left" layout:fragment="content">
    <div class="main-content">
    	<h2>Welcome back!</h2>
    	<span>View your most recent edits, or create new items.</span>
		<div class="tab" style="margin-top: 10px; padding: 10px;">
			<h4>Spaces</h4>	
			<div class="grid" style="margin-top: 10px;">
				<div th:each="space,iterStat: ${recentSpaces}" th:if="${iterStat.index}<5" style="width: 12rem;">
					<div class="spaceImage">
                        <a th:href="@{'/staff/space/'+${space.id}}">
						  <img class="card-img-top" th:src="@{'/api/image/'+${space.image.id}}" alt="Space image">
                        </a>
					</div>
					<div class="btn-group dropdown">
						<a th:href="@{'/staff/space/'+${space.id}}" class="btn btn-light skew" style="width: 10.25rem;">
							<span class="card-head" style="white-space: normal;">[[${space.name}]]</span>
						</a>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">
						    <span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
						    <a class="dropdown-item" th:href="@{'/staff/space/'+${space.id}+'/edit'}"><span class="icon-edit"></span>&emsp;Edit Space</a>
						    <div class="dropdown-divider"></div>
						    <a  th:onclick="javascript:checkSpaceLinkPresent('[(${space.id})]', '[(@{'/staff/'})]', '[('?'+${_csrf.parameterName}+'='+${_csrf.token})]',$('#headerSpaceValue'))"
		                        class="checkSpaceLinkPresent dropdown-item" data-toggle="modal">
		                        <span class="checkSpaceLinkPresent" id="deleteSpace"><span class="error icon-trash"></span></span>&emsp;Delete
		                    </a>
						</div>					
					</div>
				</div>
				<a class="add" th:href="@{/staff/space/add}"><span class="icon-circle-add" style="margin: auto; color: var(--med-grey)"></span></a>
			</div>
		</div>
		<div class="tab" style="margin-top: 10px; padding: 10px;">
			<h4>Modules</h4>
			<div class="grid" style="margin-top: 10px;">
				<div th:each="module,iterStat: ${recentModules}" th:if="${iterStat.index}<5" >
                    <div class="btn-group">
					<a th:href="@{'/staff/module/'+${module.id}}" class="btn btn-light" style="width: 10rem;">
						<span class="card-title">[[${module.name}]]</span>
					</a>
                    <button type="button" class="btn btn-light"><span class="icon-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" style="float: right" 
                            th:title="|Created on <span class='date'>${module.creationDate}</span> by ${module.createdBy}|"></span></button>
                    </div>
				</div>
				<a class="add" th:href="@{/staff/module/add}"><span class="icon-circle-add" style="margin: auto; color: var(--med-grey)"></span></a>
			</div>	
		</div>
    </div>      
</div>
</body>
</html>