<html layout:decorate="~{layouts/main_staff}">
<head>
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		});
	</script>
</head>
<body>
<div class="justify-content-left" layout:fragment="content">
    <div class="main-content">
    	<h2>Welcome back!</h2>
    	<span>View your most recent edits, or create new items.</span>

		<div class="tab">
			<h4>Spaces</h4>	
			<div class="grid">
				<div th:each="space,iterStat: ${recentSpaces}" th:if="${iterStat.index}<2" class="card" style="width: 18rem;">
					<a th:href="@{'/staff/space/'+${space.id}}">
					  <div class="spaceImage">
					  	<img class="card-img-top" th:src="@{'/api/image/'+${space.image.id}}" alt="Space image">
					  </div>
					  <div class="card-body">
					    <h6 class="card-title">[[${space.name}]]</h6>
					    <div>
					    	<a th:href="@{'/staff/space/'+${spaceId}+'/edit'}"><i class="fa fa-pen black" style="margin-right: 15px"></i></a>
					    	<i class="fa fa-info-circle black" data-toggle="tooltip" data-html="true" data-placement="top" 
					    		th:title="|Created on <span class='date'>${space.creationDate}</span> by ${space.createdBy}|"></i>
					    </div>
					  </div>
					</a>
				</div>
				<a class="add" th:href="@{/staff/space/add}"><i class="fa fa-plus-circle" style="margin: auto; color: var(--med-grey)"></i></a>
			</div>
		</div>
        
		<div class="tab">
			<h4>Modules</h4>
			<div class="grid">
				<div th:each="module,iterStat: ${recentModules}" th:if="${iterStat.index}<2" class="card" style="width: 18rem;">
					<a th:href="@{'/staff/module/'+${module.id}}">
					  <div class="card-body">
					    <h6 class="card-title">[[${module.name}]]</h6>
					    <div>
					    	<i class="fas fa-pen black" style="margin-right: 15px"></i>
					    	<i class="fa fa-info-circle black" data-toggle="tooltip" data-html="true" data-placement="top" 
					    		title="Created on <span class='date'>[[${module.creationDate}]]</span> by [[${module.createdBy}]]"></i>
					    </div>
					  </div>
					</a>
				</div>
				<a class="add" th:href="@{/staff/module/add}"><i class="fa fa-plus-circle" style="margin: auto; color: var(--med-grey)"></i></a>
			</div>	
		</div>
    </div>      
</div>
</body>
</html>