<html layout:decorate="~{staff/dashboard}">
<head>


</head>
<body>
    <div th:fragment="dashboard_menu">
    <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Spaces</span> <a
            class="d-flex align-items-center text-muted"
            th:href="@{/staff/space/add}"> <span
            data-feather="plus-circle"></span>
        </a>
    </h6>

    <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Modules</span> <a
            class="d-flex align-items-center text-muted"
            th:href="@{/staff/module/add}"> <span
            data-feather="plus-circle"></span>
        </a>
    </h6>
</body>